body{
  overflow: hidden;
}
@font-face {
   font-family: Myriad;
   src: url(../font/Myriad_Pro_font/MyriadPro-Regular.otf);
}
/*Catalogue - Page*/
.catalogueContainer{
  height: calc(100% - 104px);
  background: url(../images/catalogue-bg.jpg) center center no-repeat;
  background-size: 100% 100%;
}
.catalogueContainer .myPagination ul li{
  display: inline-block;
}
.myPagination{
  width: 60px;
  margin: 30px auto;
}
.myPagination a{
  color: black;
}
.links{
  font-family: Myriad;
  position: absolute;
  left: 10%;
  top: 10%;
}
.links .title{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.links ul li{
  text-transform: uppercase;
  font-size: 26px;
}
.links ul li:before{
  content: "#";
  color: red;
  font-size: 26px;
  margin-right: 5px;
}
.links .link1 a,
.links .link2 a{
  color: #666666;
}
.links .link3 a{
  color: #999999;
}
.links a:hover{
  text-decoration: none;
}

.catalogueContainer .dock{
  height: 278px;
  width: 1491px;
  background: url(../images/catalogue-dock.png) center center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 65%;
  left: 50%;
  margin-left: -746px;
}
.catalogueContainer .books{
  width: 1300px;
  height: 310px;
  position: absolute;
  left: 50%;
  top: -103%;
  margin: 0 0 0 -650px;
  text-align: center;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}
.catalogueContainer .books.item2{
  left: 200%;
}

.catalogueContainer .books .book{
  display: inline-block;
  width: 263px;
  height: 329px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.catalogueContainer .books .book .desc{
  margin-top: 20px;
  text-align: left;
  position: absolute;
  display: none;
  padding-left: 15px
}
.catalogueContainer .books .book .desc .order{
  color: white;
  font-size: 100px;
  line-height: 90px
}
.catalogueContainer .books .book .desc .order{
  color: white;
  font-size: 100px;
  line-height: 90px
}
.catalogueContainer .books .book .desc .title:before{
  content: "#";
  color: black;
  font-size: 35px;
}
.catalogueContainer .books .book .desc .title.color1{
  font-size: 32px;
  color: #d0a615;
}
.catalogueContainer .books .book .desc .title.color2{
  font-size: 22px;
  color: #339933;
}
.catalogueContainer .books .book .desc .title.color3{
  color: #de620e;
  font-size: 32px;
}
.catalogueContainer .books .book .desc .title{
  text-transform: uppercase;
  line-height: 40px
}
.catalogueContainer .books .book .desc .readMore{
  font-size: 14px;
  font-weight: bold;
}
.catalogueContainer .books .book ul{
  display: block;
  position: relative;
  width: 263px;
  height: 329px;
  margin: 0px;
  padding: 0;
  list-style: none;
  perspective-origin: 0 50% 0;
  perspective: 800px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.catalogueContainer .books .book ul > li{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 263px;
  height: 329px;
  padding: 0;
  margin: 0;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: all .5s cubic-bezier(0.25,1,.25,1);
}
.catalogueContainer .books .book .diamond{
  opacity: 0;
  position: absolute;
  z-index: 3;
  left: -55px;
  top: 10px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.catalogueContainer .books .book .cover {
  z-index: 2 !important;
  display: block;
  width: 263px;
  height: 329px;
  transform: rotateY(0deg) translateZ(0px);
}
.catalogueContainer .books .book .page1 {
  left:5px;
  transform: rotateY(20deg) translateZ(-1px);
}
.catalogueContainer .books .book .page2 {
  left:5px;
  transform: rotateY(30deg) translateZ(-2px);
}
.catalogueContainer .books .book .page3 {
  left:5px;
  transform: rotateY(40deg) translateZ(-3px);
}

.catalogueContainer .books .book:hover .page1 {
  transform: rotateY(-34deg);
}

.catalogueContainer .books .book:hover .page2 {
  transform: rotateY(-27deg);
}

.catalogueContainer .books .book:hover .page3 {
  transform: rotateY(-15deg);
}

.catalogueContainer .books .book:hover .cover {
  transform: rotateY(-40deg);
}

.m-l-r-80{
  margin: 0 80px;
}
.catalogueContainer .light{
  position: absolute;
  top: -260%;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}
.catalogueContainer .light.default{
  left: 20%;
}
.catalogueContainer .light.move1{
  left: 43%;
}
.catalogueContainer .light.move2{
  left: 66%;
}
