body{
  overflow: hidden;
}
/*Catalogue - Page*/
.catalogueContainer{
  height: calc(100% - 104px);
  background: url(../images/catalogue-bg.jpg) center center no-repeat;
  background-size: 100% 100%;
}
.catalogueContainer .myPagination ul li{
  display: inline-block;
}
.myPagination{
  width: 60px;
  margin: 30px auto;
}
.myPagination a{
  color: black;
}
.links{
  font-family: Myriad;
  left: 10%;
  top: 10%;
}
.big .links{
  left: 15%;
}
.biggest .links{
  left: 20%;
}
.links .title{
  font-size: 32px;
}
.links ul li{
  font-size: 26px;
}
.links ul li:before{
  content: "#";
  color: red;
  font-size: 26px;
  margin-right: 5px;
}
.links .link1 a,
.links .link2 a{
  color: #666666;
}
.links .link3 a{
  color: #999999;
}
.links a:hover{
  text-decoration: none;
}

.catalogueContainer .dock{
  height: 278px;
  width: 1491px;
  background: url(../images/catalogue-dock.png) center center no-repeat;
  background-size: 100% 100%;

  top: 65%;
  left: 50%;
  margin-left: -746px;
}
.catalogueContainer .books{
  width: 1300px;
  height: 310px;
  left: 50%;
  top: -103%;
  margin: 0 0 0 -650px;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}
.catalogueContainer .books.item2{
  left: 200%;
}

.catalogueContainer .books .book{
  display: inline-block;
  width: 263px;
  height: 329px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.catalogueContainer .books .book .desc{
  margin-top: 20px;
  text-align: left;
  padding-left: 15px
}
.catalogueContainer .books .book .desc .order{
  font-size: 100px;
  line-height: 90px
}
.catalogueContainer .books .book .desc .title:before{
  content: "#";
  color: black;
  font-size: 35px;
}
.catalogueContainer .books .book .desc .title.color1{
  font-size: 32px;
  color: #8e393b;
}
.catalogueContainer .books .book .desc .title.color2{
  font-size: 32px;
  color: #8d7eb4;
}
.catalogueContainer .books .book .desc .title.color3{
  color: #6ebad1;
  font-size: 32px;
}
.catalogueContainer .books .book .desc .title.color4{
  color: #be609e;
  font-size: 32px;
}
.catalogueContainer .books .book .desc .title.color5{
  color: #3f6d47;
  font-size: 32px;
}
.catalogueContainer .books .book .desc .title.color6{
  color: #6ebad1;
  font-size: 32px;
}
.catalogueContainer .books .book.item1 .desc .order{
  color: #8e393b;
}
.catalogueContainer .books .book.item2 .desc .order{
  color: #8d7eb4;
}
.catalogueContainer .books .book.item3 .desc .order{
  color: #6ebad1;
}
.catalogueContainer .books .book.item4 .desc .order{
  color: #be609e;
}
.catalogueContainer .books .book.item5 .desc .order{
  color: #3f6d47;
}
.catalogueContainer .books .book.item6 .desc .order{
  color: #6ebad1;
}
.catalogueContainer .books .book .desc .title{
  line-height: 40px
}
.catalogueContainer .books .book .desc .readMore{
  font-size: 14px;
}
.catalogueContainer .books .book ul{
  display: block;
  width: 263px;
  height: 329px;
  margin: 0px;
  padding: 0;
  list-style: none;
  perspective-origin: 0 50% 0;
  perspective: 800px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.catalogueContainer .books .book ul > li{
  display: block;

  left: 0;
  top: 0;
  width: 263px;
  height: 329px;
  padding: 0;
  margin: 0;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: all .5s cubic-bezier(0.25,1,.25,1);
}
.catalogueContainer .books .book .diamond{
  z-index: 3;
  left: -55px;
  top: 10px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.catalogueContainer .books .book .cover {
  z-index: 2 !important;
  display: block;
  width: 263px;
  height: 329px;
  transform: rotateY(0deg) translateZ(0px);
}
.catalogueContainer .books .book .page1 {
  left:5px;
  transform: rotateY(20deg) translateZ(-1px);
}
.catalogueContainer .books .book .page2 {
  left:5px;
  transform: rotateY(30deg) translateZ(-2px);
}
.catalogueContainer .books .book .page3 {
  left:5px;
  transform: rotateY(40deg) translateZ(-3px);
}

.catalogueContainer .books .book:hover .page1 {
  transform: rotateY(-34deg);
}

.catalogueContainer .books .book:hover .page2 {
  transform: rotateY(-27deg);
}

.catalogueContainer .books .book:hover .page3 {
  transform: rotateY(-15deg);
}

.catalogueContainer .books .book:hover .cover {
  transform: rotateY(-40deg);
}

.m-l-r-80{
  margin: 0 80px;
}
.catalogueContainer .light{
  top: -350%;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}
.catalogueContainer .light.default{
  left: 20%;
}
.catalogueContainer .light.move1{
  left: 43%;
}
.catalogueContainer .light.move2{
  left: 66%;
}

.links,
.catalogueContainer .dock,
.catalogueContainer .books,
.catalogueContainer .books .book .desc,
.catalogueContainer .books .book ul > li,
.catalogueContainer .books .book .diamond,
.catalogueContainer .light{
  position: absolute;
}
.catalogueContainer .books .book .desc{
  display: none;
}
.catalogueContainer .books .book ul{
  position: relative;
}
.catalogueContainer .books .book .desc .order{
  color: white;
}
.links .title,
.links ul li,
.catalogueContainer .books .book .desc .title{
  text-transform: uppercase;
}
.links .title,
.catalogueContainer .books .book .desc .readMore{
  font-weight: bold;
}

.catalogueContainer .books{
  text-align: center;
}
.catalogueContainer .books .book .diamond{
  opacity: 0;
}
