.blocks .samples {
    top: 33%;
}
.blocks .product-customization {
    top: 52%;
}
.blocks .order-status {
    top: 28.7%;
}
.blocks .why-us {
    top: 36.8%;
}
.blocks .promotional {
    top: 36%;
}

.whyUsContainer .block1 .text.biggest,
.whyUsContainer .block2 .text.biggest,
.whyUsContainer .block3 .text.biggest,
.whyUsContainer .block4 .text.biggest {
    font-size: 33px;
}
.whyUsContainer .block5 .text.biggest,
.whyUsContainer .block6 .text.biggest {
    font-size: 32px;
}

.whyUsDetailsContainer .center-block.website .text {
    font-size: 22px;
    line-height: 35px;
}
.whyUsDetailsContainer .center-block.website .text.big {
    font-size: 25px;
    line-height: 40px;
}
.whyUsDetailsContainer .center-block.website .text.biggest {
    font-size: 33px;
    line-height: 52px;
}
.whyUsDetailsContainer .center-block.ongoing .text {
    font-size: 22px;
    line-height: 36px;
}
.whyUsDetailsContainer .center-block.ongoing .text.big {
    font-size: 25px;
    line-height: 45px;
}
.whyUsDetailsContainer .white-block.ongoing .text.biggest {
    left: 0;
}
.whyUsDetailsContainer .center-block.ongoing .text.biggest {
    font-size: 33px;
    line-height: 50px;
}
.whyUsDetailsContainer .center-block.customize .text.biggest {
    line-height: 45px;
    font-size: 30px;
}
.whyUsDetailsContainer .above-arrow-block {
    left: 68%;
}
.whyUsDetailsContainer .center-block.friendly .text {
    font-size: 25px;
}
.whyUsDetailsContainer .white-block.friendly .text.biggest {
    font-size: 34px;
}
.whyUsDetailsContainer .center-block.friendly .text.biggest {
    font-size: 35px;
}
.whyUsDetailsContainer .white-block.benefit .text {
    font-size: 24px;
}
.whyUsDetailsContainer .center-block.benefit .text {
    font-size: 22px;
}
.whyUsDetailsContainer .white-block.benefit .text.biggest {
    font-size: 36px;
}
.whyUsDetailsContainer .center-block.monopoly .text {
    padding-top: 11%;
}
.whyUsDetailsContainer .center-block.monopoly .text.big {
    padding-top: 6%;
}
.whyUsDetailsContainer .center-block.monopoly .text.biggest {
    font-size: 32px;
    line-height: 55px;
    padding-top: 7%;
}
/**
 * Be the first
 */
 .beTheFirstContainer.small .title .number,
 .beTheFirstContainer.small .title .txt {
     line-height: 60px;
 }
 .beTheFirstContainer.small .content .line1 button,
 .beTheFirstContainer.small .content .line2 button {
    font-size: 17px;
    line-height: 45px;
}
.beTheFirstContainer.small .content .line2 {
    top: calc(100% - 95px);
}
.beTheFirstContainer .title .number,
.beTheFirstContainer .title .txt {
    line-height: 80px;
}
.beTheFirstContainer .content .line1 .desc,
.beTheFirstContainer .content .line2 .desc {
    font-size: 20px;
}
.beTheFirstContainer .content .line2 {
    top: calc(100% - 110px);
}
.beTheFirstContainer.big .content .line1 .desc,
.beTheFirstContainer.big .content .line2 .desc {
    font-size: 23px;
}
.beTheFirstContainer.biggest .title .number,
.beTheFirstContainer.biggest .title .txt {
    line-height: 125px;
}
.beTheFirstContainer.biggest .content .line1 button,
.beTheFirstContainer.biggest .content .line2 button {
    font-size: 32px;
    line-height: 105px;
}
.beTheFirstContainer.biggest .content .line1 .desc,
.beTheFirstContainer.biggest .content .line2 .desc {
    font-size: 31px;
}
.beTheFirstContainer.biggest .content .line2 {
    top: calc(100% - 145px);
}
/**
 * Be the first - end
 */

/**
 * Samples Shipping Quote
 */
 .samplesContainer.small .content .desc,
 .samplesContainer.small .myForm .myLabel {
     font-size: 17.5px;
 }

 .samplesContainer .content .desc,
 .samplesContainer .myForm .myLabel,
 .samplesContainer .content .title .txt {
     font-size: 23px;
 }
 .samplesContainer .myForm .myField input,
 .samplesContainer .myForm .myField textarea,
 .samplesContainer .myForm .myField .dropdown button {
    height: 64px;
    font-size: 17px;
}
 .samplesContainer.big .content .desc,
 .samplesContainer.big .myForm .myLabel,
 .samplesContainer.big .content .title .txt {
     font-size: 26px;
 }
 .samplesContainer.biggest .content .desc,
 .samplesContainer.biggest .myForm .myLabel,
 .samplesContainer.biggest .content .title .txt {
     font-size: 35px;
 }
 .samplesContainer.biggest .myForm .myField input,
 .samplesContainer.biggest .myForm .myField textarea,
 .samplesContainer.biggest .myForm .myField .dropdown button {
    font-size: 25px;
    height: 86px;
}
.samplesContainer.biggest .myForm .myLabel {
    line-height: 88px;
}
/**
 * Samples Shipping Quote - end
 */
