.blocks .samples {
    top: 33%;
}
.blocks .product-customization {
    top: 52%;
}
.blocks .order-status {
    top: 28.7%;
}
.blocks .why-us {
    top: 36.8%;
}
.blocks .promotional {
    top: 36%;
}
