body{
  overflow: hidden;
}
/*Common*/
.blocks .bground,
.blocks .title1,
.blocks .title2,
.blocks .be-the-first-block,
.blocks .be-the-first,
.blocks .be-the-first .text,
.blocks .order-status-block,
.blocks .order-status,
.blocks .order-status .text,
.blocks .product-customization-block,
.blocks .product-customization,
.blocks .product-customization .text,
.blocks .promotional-block,
.blocks .promotional,
.blocks .promotional .text,
.blocks .samples-block,
.blocks .samples,
.blocks .samples .text,
.blocks .why-us-block,
.blocks .why-us,
.blocks .why-us .text,
.whyUsContainer .block1,
.whyUsContainer .block1 .active,
.whyUsContainer .block1 .text,
.whyUsContainer .block2,
.whyUsContainer .block2 .active,
.whyUsContainer .block2 .text,
.whyUsContainer .block3,
.whyUsContainer .block3 .active,
.whyUsContainer .block3 .text,
.whyUsContainer .block4,
.whyUsContainer .block4 .active,
.whyUsContainer .block4 .text,
.whyUsContainer .block5,
.whyUsContainer .block5 .active,
.whyUsContainer .block5 .text,
.whyUsContainer .block6,
.whyUsContainer .block6 .active,
.whyUsContainer .block6 .text,
.whyUsDetailsContainer .right-block,
.whyUsDetailsContainer .small-block,
.whyUsDetailsContainer .small-block img,
.whyUsDetailsContainer .white-block .text,
.whyUsDetailsContainer .white-block,
.whyUsDetailsContainer .center-block .text,
.whyUsDetailsContainer .center-block,
.whyUsDetailsContainer .arrow-block,
.whyUsDetailsContainer .arrow-block .text,
.whyUsDetailsContainer .above-arrow-block{
  position: absolute;
}
.blocks .be-the-first-block,
.blocks .be-the-first,
.blocks .order-status-block,
.blocks .order-status,
.blocks .product-customization-block,
.blocks .product-customization,
.blocks .promotional-block,
.blocks .promotional,
.blocks .samples-block,
.blocks .samples,
.blocks .why-us-block,
.blocks .why-us{
  opacity: 0;
}
.blocks .title1,
.blocks .title2{
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  left: 50%;
  top: 50%;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.blocks .title1.small,
.blocks .title2.small{
  font-size: 19px;
}
.blocks .title1.big,
.blocks .title2.big{
  font-size: 26px;
}
.blocks .title1.biggest,
.blocks .title2.biggest{
  font-size: 31px;
}
.myContainer,
.whyUsContainer{
  background-size: 100% 100%;
  height: calc(100% - 104px);
}

.myContainer{
  background: url(/assets/images/distributor-bg-new.png) center center no-repeat;
}
.blocks{
  width: 100%;
  height: 100%;
}
.blocks .bground{
  width: 32%;
  left: 50%;
  top: 16%;
  margin-left: -16%;
}
.blocks .title1{
  background: url(/assets/images/distributor-text1.png) center center no-repeat;
  background-size: 100% 100%;
  width: 36%;
  height: 9.1%;
  padding-top: 1.5%;
  margin-left: -18%;
  margin-top: -4.7%;
}
.blocks .title2{
  background: url(/assets/images/distributor-text2.png) center center no-repeat;
  background-size: 100% 100%;
  width: 24.5%;
  height: 7.5%;
  margin-left: -11.5%;
  padding-top: 1%;
}

.blocks .order-status .text,
.blocks .product-customization .text,
.blocks .promotional .text,
.blocks .samples .text,
.blocks .why-us .text,
.blocks .be-the-first .text{
  background: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  left: 50%;
}
.blocks .order-status .text.small,
.blocks .product-customization .text.small,
.blocks .promotional .text.small,
.blocks .samples .text.small,
.blocks .why-us .text.small,
.blocks .be-the-first .text.small{
  font-size: 16px;
}
.blocks .order-status .text.big,
.blocks .product-customization .text.big,
.blocks .promotional .text.big,
.blocks .samples .text.big,
.blocks .why-us .text.big,
.blocks .be-the-first .text.big{
  font-size: 22px;
}
.blocks .order-status .text.biggest,
.blocks .product-customization .text.biggest,
.blocks .promotional .text.biggest,
.blocks .samples .text.biggest,
.blocks .why-us .text.biggest,
.blocks .be-the-first .text.biggest{
  font-size: 26px;
}

.blocks .be-the-first-block{
  width: 23%;
  height: 16%;
  left: 50%;
  top: 19%;
  margin-left: -10%;
  -webkit-transform: rotate(-5.5deg);
  -moz-transform: rotate(-5.5deg);
  -ms-transform: rotate(-5.5deg);
  -o-transform: rotate(-5.5deg);
  transform: rotate(-5.5deg);
}
.blocks .order-status-block,
.blocks .samples-block{
  -webkit-transform: rotate(-75.5deg);
  -moz-transform: rotate(-75.5deg);
  -ms-transform: rotate(-75.5deg);
  -o-transform: rotate(-75.5deg);
  transform: rotate(-75.5deg);
}
.blocks .order-status-block{
  width: 13%;
  height: 30%;
  left: 50%;
  top: 21%;
  margin-left: -4.7%;
}
.blocks .samples-block{
  width: 17%;
  height: 18%;
  left: 55%;
  top: 36%;
}
.blocks .product-customization-block{
  width: 17%;
  height: 18%;
  left: 48%;
  top: 62%;
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg);
}
.blocks .why-us-block{
  width: 17%;
  height: 35%;
  left: 38%;
  top: 40%;
  -webkit-transform: rotate(-64deg);
  -moz-transform: rotate(-64deg);
  -ms-transform: rotate(-64deg);
  -o-transform: rotate(-64deg);
  transform: rotate(-64deg);
}
.blocks .promotional-block{
  width: 12%;
  height: 45%;
  left: 32.7%;
  top: 36.5%;
  -webkit-transform: rotate(-17deg);
  -moz-transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  -o-transform: rotate(-17deg);
  transform: rotate(-17deg);
}

.blocks .be-the-first{
  width: 25.5%;
  height: 31.5%;
  background: url(/assets/images/distributor-be-the-first.png) center center no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 8%;
  margin-left: -9.9%;
}
.blocks .be-the-first .text{
  width: 28%;
  height: 14%;
  padding-top: 2.5%;
  top: 63%;
  margin-left: -16%;
}

.blocks .order-status{
  width: 22.1%;
  height: 25.5%;
  background: url(/assets/images/distributor-order-status.png) center center no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 28.3%;
  margin-left: -5.7%;
}
.blocks .order-status .text{
  width: 49%;
  height: 24%;
  padding-top: 4.5%;
  top: 50%;
  margin-left: -15%;
}

.blocks .product-customization{
  width: 17.2%;
  height: 24.5%;
  background: url(/assets/images/distributor-product-customization.png) center center no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 51.4%;
  margin-left: -2%;
}
.blocks .product-customization .text{
  width: 50%;
  height: 28%;
  padding-top: 3.5%;
  top: 40%;
  margin-left: -20%;
}

.blocks .promotional{
  width: 17%;
  height: 39%;
  background: url(/assets/images/distributor-promotional.png) center center no-repeat;
  background-size: 100% 100%;
  left: 34.45%;
  top: 35%;
  margin-left: -2%;
}
.blocks .promotional .text{
  width: 55%;
  height: 18%;
  padding-top: 3.5%;
  top: 32%;
  margin-left: -23%;
}

.blocks .samples{
  width: 16.5%;
  height: 33.5%;
  background: url(/assets/images/distributor-samples.png) center center no-repeat;
  background-size: 100% 100%;
  left: 60%;
  top: 32%;
  margin-left: -2%;
}
.blocks .samples .text.small{
  padding-top: 2.3%;
}
.blocks .samples .text{
  width: 55%;
  height: 19%;
  padding-top: 3%;
  top: 55%;
  margin-left: -43%;
}

.blocks .why-us{
  width: 17.5%;
  height: 38.2%;
  background: url(/assets/images/distributor-why-us.png) center center no-repeat;
  background-size: 100% 100%;
  left: 42.25%;
  top: 35.8%;
  margin-left: -2%;
}
.blocks .why-us .text{
  width: 55%;
  height: 12%;
  padding-top: 4%;
  top: 44%;
  margin-left: -23%;
}

/*why us*/
.whyUsContainer .block1,
.whyUsContainer .block2,
.whyUsContainer .block3,
.whyUsContainer .block4,
.whyUsContainer .block5,
.whyUsContainer .block6,
.whyUsDetailsContainer .center-block
.whyUsDetailsContainer .right-block{
  background: black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.whyUsContainer .block1 .text,
.whyUsContainer .block1 .active,
.whyUsContainer .block2 .text,
.whyUsContainer .block2 .active,
.whyUsContainer .block3 .text,
.whyUsContainer .block3 .active,
.whyUsContainer .block4 .text,
.whyUsContainer .block4 .active,
.whyUsContainer .block5 .text,
.whyUsContainer .block5 .active,
.whyUsContainer .block6 .text,
.whyUsContainer .block6 .active,
.whyUsDetailsContainer .center-block .text{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.whyUsContainer .block1 .active,
.whyUsContainer .block2 .active,
.whyUsContainer .block3 .active,
.whyUsContainer .block4 .active,
.whyUsContainer .block5 .active,
.whyUsContainer .block6 .active{
  background: url(/assets/images/distributor-why-us-block-active.png) center center no-repeat;
  background-size: 100% 100%;
  height: 45%;
  width: 23%;
  right: -3.5%;
  top: -14.3%;
  opacity: 0;
}
.whyUsContainer .block1 .text,
.whyUsContainer .block2 .text,
.whyUsContainer .block3 .text,
.whyUsContainer .block4 .text,
.whyUsContainer .block5 .text,
.whyUsContainer .block6 .text{
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.whyUsContainer .block1 .text,
.whyUsContainer .block2 .text,
.whyUsContainer .block3 .text,
.whyUsContainer .block4 .text{
  font-size: 22px;
}
.whyUsContainer .block1 .text.small,
.whyUsContainer .block2 .text.small,
.whyUsContainer .block3 .text.small,
.whyUsContainer .block4 .text.small{
  font-size: 18px;
}
.whyUsContainer .block1 .text.big,
.whyUsContainer .block2 .text.big,
.whyUsContainer .block3 .text.big,
.whyUsContainer .block4 .text.big{
  font-size: 26px;
}
.whyUsContainer .block1 .text.biggest,
.whyUsContainer .block2 .text.biggest,
.whyUsContainer .block3 .text.biggest,
.whyUsContainer .block4 .text.biggest{
  font-size: 29px;
}
.whyUsContainer .block5 .text.small,
.whyUsContainer .block6 .text.small{
  font-size: 17px;
}
.whyUsContainer .block5 .text.big,
.whyUsContainer .block6 .text.big{
  font-size: 25px;
}
.whyUsContainer .block5 .text.biggest,
.whyUsContainer .block6 .text.biggest{
  font-size: 28px;
}

.whyUsContainer{
  background: url(/assets/images/distributor-why-us-bg) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsContainer .block1{
  width: 20%;
  height: 38.3%;
  left: 45%;
  top: 47%;
  margin-top: -9%;
}

.whyUsContainer .block1 .text{
  top: 45%;
  left: 22.5%;
}
.whyUsContainer .block2{
  width: 13%;
  height: 24.9%;
  left: 64%;
  top: 37%;
  margin-top: -9%;
}
.whyUsContainer .block2 .text{
  top: 49%;
  left: -7%;
  width: 105%;
}
.whyUsContainer .block3{
  width: 11%;
  height: 21.1%;
  left: 64%;
  top: 72%;
  margin-top: -9%;
}
.whyUsContainer .block3 .text,
.whyUsContainer .block4 .text{
  top: 45%;
  width: 105%;
}
.whyUsContainer .block4{
  width: 11%;
  height: 21.1%;
  left: 35%;
  top: 39.5%;
  margin-top: -9%;
}
.whyUsContainer .block5{
  width: 11%;
  height: 21.1%;
  left: 25%;
  top: 52.5%;
  margin-top: -9%;
}
.whyUsContainer .block5 .text,
.whyUsContainer .block6 .text{
  font-size: 20px;
  top: 48%;
  left: -5%;
  width: 110%;
}
.whyUsContainer .block6{
  width: 15%;
  height: 28.5%;
  left: 31.5%;
  top: 70%;
  margin-top: -9%;
}

/*Why Us - Details*/
.whyUsDetailsContainer{
  background: url(/assets/images/distributor-why-us-details-bg.jpg) center -62px no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .right-block.monopoly{
  border: 40px solid #3bbc99;
}
.whyUsDetailsContainer .right-block.website{
  border: 40px solid #7e7acd;
}
.whyUsDetailsContainer .right-block.ongoing{
  border: 40px solid #4e2b8f;
}
.whyUsDetailsContainer .right-block.customize{
  border: 40px solid #b17222;
}
.whyUsDetailsContainer .right-block.friendly,
.whyUsDetailsContainer .right-block.benefit{
  border: 40px solid #5e9c37;
}
.whyUsDetailsContainer .right-block{
  width: 30%;
  height: 57.5%;
  transform: rotate(45deg);
  right: -25%;
  background: black;
  top: 50%;
  margin-top: -15.5%;
}
.whyUsDetailsContainer .small-block.website{
  background: url(/assets/images/distributor-why-us-details-website-block.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .small-block.friendly{
  background: url(/assets/images/distributor-why-us-details-friendly-block.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .small-block.benefit{
  background: url(/assets/images/distributor-why-us-details-benefit-block.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .small-block.monopoly{
  background: url(/assets/images/distributor-why-us-details-monopoly-block.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .small-block.ongoing{
  background: url(/assets/images/distributor-why-us-details-ongoing-block.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .small-block.customize{
  background: url(/assets/images/distributor-why-us-details-customize-block.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .small-block{
  width: 6%;
  height: 11%;
  top: 24%;
  left: 21.2%;
}
.whyUsDetailsContainer .small-block.friendly img{
  width: 20%;
  top: 25%;
  left: 50%;
  margin-left: -10%;
}
.whyUsDetailsContainer .small-block.monopoly img{
  width: 20%;
  top: 22%;
  left: 53%;
}
.whyUsDetailsContainer .small-block img{
  width: 26%;
  top: 30%;
  left: 50%;
  margin-left: -13%;
}
.whyUsDetailsContainer .white-block{
  background: url(/assets/images/distributor-why-us-details-website-white-rect.png) center center no-repeat;
  background-size: 100% 100%;
  top: 30%;
  left: 20%;
  width: 15%;
  height: 28.5%;
}
.whyUsDetailsContainer .white-block.ongoing .text{
  width: 100%;
  text-align: center;
  left: 0;
}
.whyUsDetailsContainer .white-block.customize .text{
  width: 100%;
  text-align: center;
  font-size: 19px;
  left: 0;
  top: 43%;
}
.whyUsDetailsContainer .white-block.benefit .text,
.whyUsDetailsContainer .white-block.benefit .text.small,
.whyUsDetailsContainer .white-block.benefit .text.big,
.whyUsDetailsContainer .white-block.benefit .text.biggest{
  text-align: center;
  left: 20%;
}
.whyUsDetailsContainer .white-block.benefit .text{
  font-size: 22px;
}
.whyUsDetailsContainer .white-block.benefit .text.small{
  font-size: 18px;
}
.whyUsDetailsContainer .white-block.benefit .text.big{
  font-size: 26px;
}
.whyUsDetailsContainer .white-block.benefit .text.biggest{
  font-size: 31px;
}
.whyUsDetailsContainer .white-block.friendly .text.small{
  font-size: 18px;
}
.whyUsDetailsContainer .white-block.friendly .text,
.whyUsDetailsContainer .white-block.friendly .text.small,
.whyUsDetailsContainer .white-block.friendly .text.big,
.whyUsDetailsContainer .white-block.friendly .text.biggest{
  left: 14%;
  top: 46%;
}
.whyUsDetailsContainer .white-block.friendly .text{
  font-size: 22px;
}
.whyUsDetailsContainer .white-block.friendly .text.big{
  font-size: 26px;
}
.whyUsDetailsContainer .white-block.friendly .text.biggest{
  font-size: 31px;
  left: 14%;
  top: 46%;
}
.whyUsDetailsContainer .white-block .text{
  color: #00477f;
  left: 35%;
  top: 45%;
  text-transform: uppercase;
  font-size: 25px;
}
.whyUsDetailsContainer .white-block.ongoing .text.small{
  left: 0;
  font-size: 22px;
}
.whyUsDetailsContainer .white-block.customize .text.small{
  font-size: 15px;
  left: 0
}
.whyUsDetailsContainer .white-block.friendly .text.small{
  left: 14%;
}
.whyUsDetailsContainer .white-block.monopoly .text,
.whyUsDetailsContainer .white-block.monopoly .text.small,
.whyUsDetailsContainer .white-block.monopoly .text.big,
.whyUsDetailsContainer .white-block.monopoly .text.biggest{
  left: 12%;
  text-align: center;
}
.whyUsDetailsContainer .white-block.monopoly .text{
  font-size: 19px;
}
.whyUsDetailsContainer .white-block.monopoly .text.small{
  font-size: 16px;
}
.whyUsDetailsContainer .white-block.monopoly .text.big{
  font-size: 23px;
}
.whyUsDetailsContainer .white-block.monopoly .text.biggest{
  font-size: 29px;
}
.whyUsDetailsContainer .white-block .text.small{
  left:31%;
}
.whyUsDetailsContainer .white-block .text.big{
  font-size: 30px;
}
.whyUsDetailsContainer .white-block.customize .text.big{
  font-size: 23px;
}
.whyUsDetailsContainer .white-block .text.biggest{
  font-size: 40px;
  left: 33%;
}
.whyUsDetailsContainer .white-block.customize .text.biggest{
  font-size: 26px;
  left: 0;
}
.whyUsDetailsContainer .center-block{
  width: 28%;
  height: 53.2%;
  background: rgba(79, 79, 79, 0.7);
  transform: rotate(45deg);
  left: 50%;
  top: 24%;
  margin-left: -11.5%;
}
.whyUsDetailsContainer .center-block .text{
  color: white;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  margin: -35% 0 0 -35%;
  padding: 2% 0;
  font-size: 19px;
  line-height: 30px;
}
.whyUsDetailsContainer .center-block.customize .text{
  font-size: 17px;
}
.whyUsDetailsContainer .center-block.ongoing .text.small{
  font-size: 16px;
}
.whyUsDetailsContainer .center-block.friendly .text{
  font-size: 20px;
}
.whyUsDetailsContainer .center-block.friendly .text,
.whyUsDetailsContainer .center-block.friendly .text.small,
.whyUsDetailsContainer .center-block.friendly .text.big,
.whyUsDetailsContainer .center-block.friendly .text.biggest{
  top: 61%;
  left: 61%;
}
.whyUsDetailsContainer .center-block.friendly .text.small{
  font-size: 16px;
}
.whyUsDetailsContainer .center-block.friendly .text.big{
  font-size: 25px;
}
.whyUsDetailsContainer .center-block.friendly .text.biggest{
  font-size: 31px;
}
.whyUsDetailsContainer .center-block.benefit .text{
  font-size: 20px;
}
.whyUsDetailsContainer .center-block.benefit .text,
.whyUsDetailsContainer .center-block.benefit .text.small,
.whyUsDetailsContainer .center-block.benefit .text.big,
.whyUsDetailsContainer .center-block.benefit .text.biggest{
  top: 60%;
  left: 60%;
}
.whyUsDetailsContainer .center-block.benefit .text.small{
  font-size: 16px;
}
.whyUsDetailsContainer .center-block.benefit .text.big{
  font-size: 25px;
}
.whyUsDetailsContainer .center-block.benefit .text.biggest{
  font-size: 31px;
}
.whyUsDetailsContainer .center-block.customize .text.small{
  line-height: 23px;
  font-size: 15px;
}
.whyUsDetailsContainer .center-block .text.small{
  font-size: 14px;
}
.whyUsDetailsContainer .center-block.monopoly .text{
  font-size: 20px;
  line-height: 35px;
}
.whyUsDetailsContainer .center-block.monopoly .text.small{
  font-size: 14px;
  padding: 4%;
  line-height: 30px;
}
.whyUsDetailsContainer .center-block.monopoly .text.big{
  font-size: 24px;
  line-height: 43px;
}
.whyUsDetailsContainer .center-block.monopoly .text.biggest{
  font-size: 29px;
  line-height: 45px;
}
.whyUsDetailsContainer .center-block .text.big{
  font-size: 23px;
  line-height: 37px;
}
.whyUsDetailsContainer .center-block.customize .text.big{
  font-size: 23px;
  line-height: 30px;
}
.whyUsDetailsContainer .center-block .text.biggest{
  font-size: 28px;
  line-height: 45px;
}
.whyUsDetailsContainer .center-block.customize .text.biggest{
  line-height: 40px;
  font-size: 26px;
}
.whyUsDetailsContainer .arrow-block.website{
  background: url(/assets/images/distributor-why-us-details-website-arrow.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .arrow-block.ongoing{
  background: url(/assets/images/distributor-why-us-details-ongoing-arrow.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .arrow-block.customize{
  background: url(/assets/images/distributor-why-us-details-customize-arrow.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .arrow-block.friendly{
  background: url(/assets/images/distributor-why-us-details-friendly-arrow.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .arrow-block.benefit{
  background: url(/assets/images/distributor-why-us-details-benefit-arrow.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .arrow-block.monopoly{
  background: url(/assets/images/distributor-why-us-details-monopoly-arrow.png) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsDetailsContainer .arrow-block{
  width: 8%;
  height: 8%;
  left: 66.5%;
  top: 46.5%;
}
.whyUsDetailsContainer .arrow-block .text{
  color: white;
  text-transform: uppercase;
  top: 32%;
  left: 30%;
  font-size: 22px;
}
.whyUsDetailsContainer .arrow-block .text.small{
  font-size: 20px;
  top: 31%;
}
.whyUsDetailsContainer .arrow-block .text.big{
  font-size: 28px;
}
.whyUsDetailsContainer .arrow-block .text.biggest{
  font-size: 32px;
}
.whyUsDetailsContainer .above-arrow-block{
  background: url(/assets/images/distributor-why-us-details-website-above-arrow.png) center center no-repeat;
  background-size: 100% 100%;
  width: 6%;
  height: 4.7%;
  left: 68.4%;
  top: 43.5%;
}

/**
 * Be The First
 */
.beTheFirstContainer {
  background: url(/assets/images/distributor-be-the-first-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
  height: 100%;
  margin-top: -62px;
}
.beTheFirstContainer .content,
.beTheFirstContainer .title,
.beTheFirstContainer .content .line1,
.beTheFirstContainer .content .line2{
  position: absolute;
}
.beTheFirstContainer .content{
  background: rgba(255, 255, 255, 0.2);
  border: 3px solid white;
  width: 45%;
  height: 60%;
  left: 50%;
  top: 50%;
  margin-left: -22.5%;
  margin-top: -15%;
  padding: 50px;
}
.beTheFirstContainer .title{
  background: url(/assets/images/distributor-be-the-first-btn3.png) center center no-repeat transparent;
  background-size: 100% 100%;
  width: 25%;
  height: 6.7%;
  left: 27.5%;
  top: 12%;
}
.beTheFirstContainer .title .number,
.beTheFirstContainer .title .txt,
.beTheFirstContainer .content .line1 button,
.beTheFirstContainer .content .line2 button{
  text-transform: uppercase;
}
.beTheFirstContainer .title .number,
.beTheFirstContainer .title .txt{
  float: left;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 70px;
}
.beTheFirstContainer .title .number{
  font-size: 40px;
  width: 17%;
}
.beTheFirstContainer .title .txt{
  font-size: 30px;
  width: 83%;
  letter-spacing: 3px;
}
.beTheFirstContainer .content .line1,
.beTheFirstContainer .content .line2{
  width: calc(100% - 100px);
  height: calc(100% - 100px);
}
.beTheFirstContainer .content .line1 button,
.beTheFirstContainer .content .line2 button{
  width: 30%;
  height: 11%;
  color: white;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}
.beTheFirstContainer .content .line1 button{
  background: url(/assets/images/distributor-be-the-first-btn2.png) center center no-repeat transparent;
  background-size: 100% 100%;
}
.beTheFirstContainer .content .line1 .desc,
.beTheFirstContainer .content .line2 .desc{
  color: #f0f0f0;
  font-size: 18px;
}
.beTheFirstContainer .content .line1 .desc{
  margin-top: 15px;
}
.beTheFirstContainer .content .line2{
  top: calc(100% - 100px);
  text-align: right;
}
.beTheFirstContainer .content .line2 button{
  background: url(/assets/images/distributor-be-the-first-btn.png) center center no-repeat transparent;
  background-size: 100% 100%;
}
.beTheFirstContainer .content .line2 button,
.beTheFirstContainer .content .line2 .desc{
  float: right;
}
.beTheFirstContainer .content .line2 .desc{
  width: 40%;
  margin-right: 15px;
}

/**
 * small
 */
.beTheFirstContainer.small .title .number{
  font-size: 35px;
  width: 15%;
}
.beTheFirstContainer.small .title .txt{
  font-size: 25px;
  width: 85%;
}
.beTheFirstContainer.small .title .number,
.beTheFirstContainer.small .title .txt{
  line-height: 65px;
}
.beTheFirstContainer.small .content .line1 button,
.beTheFirstContainer.small .content .line2 button{
  font-size: 15px;
  line-height: 50px;
}
.beTheFirstContainer.small .content .line1 .desc,
.beTheFirstContainer.small .content .line2 .desc{
  font-size: 15px;
}
.beTheFirstContainer.small .content .line2 .desc{
  width: 41%;
}
/**
 * big
 */
.beTheFirstContainer.big .title .number{
  font-size: 50px;
  width: 15%;
}
.beTheFirstContainer.big .title .txt{
  font-size: 40px;
  width: 85%;
}
.beTheFirstContainer.big .title .number,
.beTheFirstContainer.big .title .txt{
  line-height: 90px;
}
.beTheFirstContainer.big .content .line2{
 top: calc(100% - 117px);
}
.beTheFirstContainer.big .content .line1 button,
.beTheFirstContainer.big .content .line2 button{
  font-size: 25px;
  line-height: 75px;
}
.beTheFirstContainer.big .content .line1 .desc,
.beTheFirstContainer.big .content .line2 .desc{
  font-size: 22px;
}
/**
 * biggest
 */
.beTheFirstContainer.biggest .title .number{
  font-size: 60px;
  width: 15%;
}
.beTheFirstContainer.biggest .title .txt{
  font-size: 45px;
  width: 85%;
}
.beTheFirstContainer.biggest .title .number,
.beTheFirstContainer.biggest .title .txt{
  line-height: 110px;
}
.beTheFirstContainer.biggest .content .line2{
 top: calc(100% - 135px);
}
.beTheFirstContainer.biggest .content .line1 button,
.beTheFirstContainer.biggest .content .line2 button{
  font-size: 28px;
  line-height: 95px;
}
.beTheFirstContainer.biggest .content .line1 .desc,
.beTheFirstContainer.biggest .content .line2 .desc{
  font-size: 26px;
}
.beTheFirstContainer.biggest .content .line2 .desc{
  width: 39%;
}
/**
 * Be the first - end
 */

/**
 * Samples Shipping Quote
 */
 .samplesContainer {
  background: url(/assets/images/distributor-be-the-first-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
  height: 100%;
  margin-top: -62px;
 }
.samplesContainer .content{
  width: 35%;
  height: 100%;
  margin: auto;
  padding: 62px 0 42px;
  position: relative;
}
.samplesContainer .content .title{
  background: url(/assets/images/distributor-shipping-btn.png) center center no-repeat transparent;
  background-size: 100% 100%;
  width: 50%;
  height: 5.4%;
  position: absolute;
  top: 13%;
}
.samplesContainer .content .title .number,
.samplesContainer .content .title .txt{
  float: left;
  color: white;
  line-height: 60px;
  text-align: center
}
.samplesContainer .content .title .number{
  width: 20%;
  font-size: 40px;
}
.samplesContainer .content .title .txt{
  width: 80%;
  font-size: 22px;
}
.samplesContainer .content .desc{
  top: 21%;
  position: absolute;
  color: white;
  width: 90%;
  font-size: 20px;
}
.samplesContainer .content .myForm{
  position: absolute;
  top: 32%;
  width: 90%;
}
.samplesContainer .myForm .myLabel,
.samplesContainer .myForm .myField{
  float: left;
}
.samplesContainer .myForm .myLabel{
  width: 30%;
  color: white;
  font-size: 18px;
  line-height: 50px;
}
.samplesContainer .myForm .myField{
  width: 70%;
}
.samplesContainer .myForm .line {
  margin-bottom: 15px;
}
.samplesContainer .myForm .myField input,
.samplesContainer .myForm .myField textarea{
  border: 3px solid #f0f0f0;
  background: transparent;
  color: white;
  width: 100%;
  padding: 5px 10px;
  font-style: italic;
  text-align: center;
  word-break: break-word;
  height: 56px;
}
.samplesContainer .myForm .myField input:focus,
.samplesContainer .myForm .myField textarea:focus{
  outline: 0;
}
.samplesContainer .myForm .myField .dropdown button{
  margin: 0;
  border: 3px solid white;
  background: transparent;
  width: 100%;
  color: white;
  font-style: italic;
  border-radius: 0;
  height: 52px;
}
.samplesContainer .myForm .myField .dropdown button .caret{
  border-top: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  right: 5%;
  top: 45%;
}
.samplesContainer .myForm .myField .dropdown ul{
  width: 100%;
  border-radius: 0;
  border: 3px solid white;
  background: black;
}
.samplesContainer .myForm .myField .dropdown ul > li > a{
  color: white;
}
.samplesContainer .myForm .myField .dropdown ul > li > a:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
.samplesContainer .myForm #btnSubmit {
  background: url(/assets/images/distributor-shipping-btn2.png) center center no-repeat transparent;
  background-size: 100% 100%;
  border: 0;
  width: 40%;
  height: 11%;
  position: absolute;
  right: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
/**
 * small
 */
.samplesContainer.small .content .title{
  width: 65%;
}
.samplesContainer.small .content .title .number{
  font-size: 35px;
}
.samplesContainer.small .content .title .number,
.samplesContainer.small .content .title .txt{
  line-height: 53px;
}
.samplesContainer.small .content .desc{
  font-size: 18px;
}
.samplesContainer.small .myForm .myField input{
  height: 50px;
}
.samplesContainer .myForm .myField .dropdown button .caret{
  top: 40%;
}
/**
 * big
 */
 .samplesContainer.big .content .title .number{
   font-size: 50px;
 }
 .samplesContainer.big .content .title .number,
 .samplesContainer.big .content .title .txt{
   line-height: 75px;
 }
 .samplesContainer.big .content .title .txt{
   font-size: 26px;
 }
 .samplesContainer.big .content .desc,
 .samplesContainer.big .myForm .myLabel{
   font-size: 25px;
 }
 .samplesContainer.big .myForm .myField input,
 .samplesContainer.big .myForm .myField .dropdown button,
 .samplesContainer.big .myForm .myField textarea{
   font-size: 18px;
   height: 74px;
 }
 .samplesContainer.big .myForm .myField .dropdown ul > li > a{
  font-size: 18px;
 }
 .samplesContainer.big .myForm .myLabel {
   line-height: 75px;
 }
 .samplesContainer.big .myForm #btnSubmit {
   font-size: 27px;
 }
 /**
  * biggest
  */
  .samplesContainer.biggest .content .title .number{
    font-size: 60px;
  }
  .samplesContainer.biggest .content .title .number,
  .samplesContainer.biggest .content .title .txt{
    line-height: 90px;
  }
  .samplesContainer.biggest .content .desc,
  .samplesContainer.biggest .content .title .txt,
  .samplesContainer.biggest .myForm .myLabel{
    font-size: 30px;
  }
  .samplesContainer.biggest .myForm .myField input,
  .samplesContainer.biggest .myForm .myField textarea,
  .samplesContainer.biggest .myForm .myField .dropdown button{
    font-size: 24px;
    height: 86px;
  }
  .samplesContainer.biggest .myForm .myField .dropdown ul > li > a{
   font-size: 24px;
  }
  .samplesContainer.biggest .myForm #btnSubmit {
    font-size: 32px;
  }
  .samplesContainer.biggest .myForm .myField .dropdown button .caret{
    border-top: 14px solid white;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
  }
/**
* Samples Shipping Quote - end
*/

/**
 * Promotional Items Selection
 */
.promotionalContainer,
.promotionalContainer .content,
.promotionalContainer #myCarousel,
.promotionalContainer #myCarousel .carousel-inner,
.promotionalContainer #myCarousel .carousel-inner .item,
.promotionalContainer #myCarousel .carousel-inner .item.active{
  height: 100%;
}
.promotionalContainer{
  margin-top: -62px;
}
.promotionalContainer .carousel-inner>.item>a>img,
.promotionalContainer .carousel-inner>.item>img{
  margin: auto;
  height: 100%;
}
.promotionalContainer .carousel-control .glyphicon-menu-left,
.promotionalContainer .carousel-control .glyphicon-menu-right{
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 30px
}
.promotionalContainer .carousel-control .glyphicon-menu-left,
.promotionalContainer .carousel-control .icon-prev{
  margin-left: -15px;
}
.promotionalContainer .carousel-control .glyphicon-menu-right,
.promotionalContainer .carousel-control .icon-next{
  margin-right: -15px;
}
.promotionalContainer .carousel-control{
  color: white;
}
.promotionalContainer .carousel-control .glyphicon-menu-left,
.promotionalContainer .carousel-control .glyphicon-menu-right,
.promotionalContainer .nav-bg{
  position: absolute;
  top: 50%;
  z-index: 5;
}
.promotionalContainer .nav-bg{
  width: 50px;
  height: 50px;
  background: #636363;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: -25px;
  margin-top: -25px;
}
.promotionalContainer .right .nav-bg{
  margin-left: -12.5px;
}
.promotionalContainer .carousel-control.left,
.promotionalContainer .carousel-control.right,
.promotionalContainer .carousel-control:focus,
.promotionalContainer .carousel-control:hover{
  background: none;
  opacity: 1
}
.promotionalContainer .carousel-caption{
  color: black;
  left: initial;
  right: 1%;
  bottom: 3%;
  width: 23%;
  text-transform: uppercase;
  text-align: left;
  border: 10px solid black;
  padding: 0 15px;
}
.promotionalContainer .carousel-caption h1:before{
  content: "";
  position: absolute;
  width: 7.5%;
  height: 5px;
  background: black;
  margin-top: 10%;
}
.promotionalContainer .carousel-caption h1{
  font-weight: bold;
  margin-bottom: 25px;
}
.promotionalContainer .carousel-caption p{
  font-size: 16px;
}
/**
 * small
 */
.promotionalContainer.small .carousel-caption h1{
  font-size: 32px;
}
.promotionalContainer.small .carousel-caption p{
  font-size: 12px;
}
.promotionalContainer.small .nav-bg{
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
}
.promotionalContainer.small .right .nav-bg{
  margin-left: -1px;
}
.promotionalContainer.small .glyphicon-menu-right:before,
.promotionalContainer.small .glyphicon-menu-left:before{
  font-size: 20px;
}
.promotionalContainer.small .carousel-control .glyphicon-menu-left,
.promotionalContainer.small .carousel-control .glyphicon-menu-right{
  margin-top: -20px;
}
.promotionalContainer.small .carousel-caption h1:before{
  margin-top: 11.5%;
}
/**
 * big
 */
.promotionalContainer.big .carousel-caption h1{
  font-size: 46px;
}
.promotionalContainer.big .carousel-caption p{
  font-size: 18px;
}
/**
 * biggest
 */
.promotionalContainer.biggest .carousel-caption h1{
  font-size: 56px;
}
.promotionalContainer.biggest .carousel-caption p{
  font-size: 23px;
}
.promotionalContainer.biggest .nav-bg{
  margin-top: -27px;
}
/**
 * Promotional Items Selection - End
 */
/*Promotional Items List*/
.promotionalContainer.listItems{
  background: url(/assets/images/distributor-item-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}

.listItems .grids{
  width: 1300px;
  height: 520px;
  position: absolute;
  left: calc(50% - 650px);
  top: calc(50% - 210px)
}

.listItems .myblocks{
  width: 365px;
  height: 365px;
  position: absolute;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 77px;
  left: 77px;
}
.listItems .block1{
}
.listItems .block2{
  left: 333px;
}
.listItems .block3{
  left: calc(295px * 2);
}
.listItems .block4{
  left: calc(282px * 3);
}
.listItems .items{
  border: 1px solid grey;
  width: 182.5px;
  height: 182.5px;
  float: left;
  position: relative;
}
.listItems .block1 .item2,
.listItems .block2 .item2,
.listItems .block3 .item2{
  border: 0;
}
.listItems .items:hover{
  background: url(/assets/images/distributor-item-selected.png) center center no-repeat transparent;
  background-size: 100% 100%;
}
.listItems .items img{
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 25%;
  left: 25%;
}
.listItems .block1 .item1 img{
  margin: -5px 0 0 15px;
}
.listItems .block1 .item2 img{
  margin: 5px 0 0 10px;
}
.listItems .block1 .item4 img{
  margin: -20px 0 0 -20px;
}
.listItems .block2 .item1 img{
  margin: -15px 0 0 -15px;
}
.listItems .block2 .item3 img{
  height: 170px;
  margin: -40px 0 0 25px;
}
.listItems .block2 .item4 img{
  margin: -20px 0 0 -10px;
}
.listItems .block3 .item1 img{
  margin: -20px 0 0 10px;
}
.listItems .block3 .item3 img{
  height: 170px;
  margin: -40px 0 0 0px;
}
.listItems .block3 .item4 img{
  margin: -10px 0 0 -10px;
}
.listItems .block4 .item1 img{
  margin: -20px 0 0 -10px;
}
.listItems .block4 .item2 img{
  margin: -8px 0 0 -15px;
}
.listItems .block4 .item3 img{
  margin: -20px 0 0 -50px;
  width: 190px;
}
.listItems .block4 .item4 img{
  margin: -35px 0 0 0px;
}
.listItems .block1 .item1:before{
  content: "";
  width: 100%;
  height: 1px;
  background: grey;
  position: absolute;
  bottom: -1px;
  left: -180px;
}
.listItems .block1 .item1:after{
  content: "";
  width: 70%;
  height: 1px;
  background: grey;
  position: absolute;
  top: 425px;
  right: 118px;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.listItems .block1 .item2:after{
  content: "";
  width: 100%;
  height: 1px;
  background: grey;
  position: absolute;
  top: 455px;
  right: 91px;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.listItems .block4 .item2:before{
  content: "";
  width: 100%;
  height: 1px;
  background: grey;
  position: absolute;
  top: -1px;
  left: 180px;
}
.listItems .block4 .item2:after{
  content: "";
  width: 100%;
  height: 1px;
  background: grey;
  position: absolute;
  bottom: -1px;
  left: 180px;
}
.listItems .block4 .item4:before{
  content: "";
  width: 130%;
  height: 1px;
  background: grey;
  position: absolute;
  top: -118px;
  left: 244px;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.listItems .block4 .item4:after{
  content: "";
  width: 50%;
  height: 1px;
  background: grey;
  position: absolute;
  bottom: 408px;
  left: 136px;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
/*carousel*/
.carousel-indicators li{
  border-color: black;
  background: black;
}
.listItems .right .nav-bg,
.listItems .left .nav-bg,
.listItems .carousel-control .glyphicon-menu-left,
.listItems .carousel-control .glyphicon-menu-right{
  display: none;
}
/* / carousel*/
/* / Promotional Items List*/
