/*Common*/
.blocks .bground,
.blocks .title1,
.blocks .title2,
.blocks .be-the-first-block,
.blocks .be-the-first,
.blocks .be-the-first .text,
.blocks .order-status-block,
.blocks .order-status,
.blocks .order-status .text,
.blocks .product-customization-block,
.blocks .product-customization,
.blocks .product-customization .text,
.blocks .promotional-block,
.blocks .promotional,
.blocks .promotional .text,
.blocks .samples-block,
.blocks .samples,
.blocks .samples .text,
.blocks .why-us-block,
.blocks .why-us,
.blocks .why-us .text,
.whyUsContainer .block1,
.whyUsContainer .block1 .active,
.whyUsContainer .block1 .text,
.whyUsContainer .block2,
.whyUsContainer .block2 .active,
.whyUsContainer .block2 .text,
.whyUsContainer .block3,
.whyUsContainer .block3 .active,
.whyUsContainer .block3 .text,
.whyUsContainer .block4,
.whyUsContainer .block4 .active,
.whyUsContainer .block4 .text,
.whyUsContainer .block5,
.whyUsContainer .block5 .active,
.whyUsContainer .block5 .text,
.whyUsContainer .block6,
.whyUsContainer .block6 .active,
.whyUsContainer .block6 .text{
  position: absolute;
}
.blocks .be-the-first-block,
.blocks .be-the-first,
.blocks .order-status-block,
.blocks .order-status,
.blocks .product-customization-block,
.blocks .product-customization,
.blocks .promotional-block,
.blocks .promotional,
.blocks .samples-block,
.blocks .samples,
.blocks .why-us-block,
.blocks .why-us{
  opacity: 0;
}
.blocks .title1,
.blocks .title2{
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  left: 50%;
  top: 50%;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.blocks .title1.small,
.blocks .title2.small{
  font-size: 19px;
}
.blocks .title1.big,
.blocks .title2.big{
  font-size: 26px;
}
.blocks .title1.biggest,
.blocks .title2.biggest{
  font-size: 31px;
}
.myContainer,
.whyUsContainer{
  background-size: 100% 100%;
  height: calc(100% - 104px);
}

.myContainer{
  background: url(/assets/images/distributor-bg-new.png) center center no-repeat;
}
.blocks{
  width: 100%;
  height: 100%;
}
.blocks .bground{
  width: 32%;
  left: 50%;
  top: 16%;
  margin-left: -16%;
}
.blocks .title1{
  background: url(/assets/images/distributor-text1.png) center center no-repeat;
  background-size: 100% 100%;
  width: 36%;
  height: 9.1%;
  padding-top: 1.5%;
  margin-left: -18%;
  margin-top: -4.7%;
}
.blocks .title2{
  background: url(/assets/images/distributor-text2.png) center center no-repeat;
  background-size: 100% 100%;
  width: 24.5%;
  height: 7.5%;
  margin-left: -11.5%;
  padding-top: 1%;
}

.blocks .order-status .text,
.blocks .product-customization .text,
.blocks .promotional .text,
.blocks .samples .text,
.blocks .why-us .text,
.blocks .be-the-first .text{
  background: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  left: 50%;
}
.blocks .order-status .text.small,
.blocks .product-customization .text.small,
.blocks .promotional .text.small,
.blocks .samples .text.small,
.blocks .why-us .text.small,
.blocks .be-the-first .text.small{
  font-size: 16px;
}
.blocks .order-status .text.big,
.blocks .product-customization .text.big,
.blocks .promotional .text.big,
.blocks .samples .text.big,
.blocks .why-us .text.big,
.blocks .be-the-first .text.big{
  font-size: 22px;
}
.blocks .order-status .text.biggest,
.blocks .product-customization .text.biggest,
.blocks .promotional .text.biggest,
.blocks .samples .text.biggest,
.blocks .why-us .text.biggest,
.blocks .be-the-first .text.biggest{
  font-size: 26px;
}

.blocks .be-the-first-block{
  width: 23%;
  height: 16%;
  left: 50%;
  top: 19%;
  margin-left: -10%;
  -webkit-transform: rotate(-5.5deg);
  -moz-transform: rotate(-5.5deg);
  -ms-transform: rotate(-5.5deg);
  -o-transform: rotate(-5.5deg);
  transform: rotate(-5.5deg);
}
.blocks .order-status-block,
.blocks .samples-block{
  -webkit-transform: rotate(-75.5deg);
  -moz-transform: rotate(-75.5deg);
  -ms-transform: rotate(-75.5deg);
  -o-transform: rotate(-75.5deg);
  transform: rotate(-75.5deg);
}
.blocks .order-status-block{
  width: 13%;
  height: 30%;
  left: 50%;
  top: 21%;
  margin-left: -4.7%;
}
.blocks .samples-block{
  width: 17%;
  height: 18%;
  left: 55%;
  top: 36%;
}
.blocks .product-customization-block{
  width: 17%;
  height: 18%;
  left: 48%;
  top: 62%;
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg);
}
.blocks .why-us-block{
  width: 17%;
  height: 35%;
  left: 38%;
  top: 40%;
  -webkit-transform: rotate(-64deg);
  -moz-transform: rotate(-64deg);
  -ms-transform: rotate(-64deg);
  -o-transform: rotate(-64deg);
  transform: rotate(-64deg);
}
.blocks .promotional-block{
  width: 12%;
  height: 45%;
  left: 32.7%;
  top: 36.5%;
  -webkit-transform: rotate(-17deg);
  -moz-transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  -o-transform: rotate(-17deg);
  transform: rotate(-17deg);
}

.blocks .be-the-first{
  width: 25.5%;
  height: 31.5%;
  background: url(/assets/images/distributor-be-the-first.png) center center no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 8%;
  margin-left: -9.9%;
}
.blocks .be-the-first .text{
  width: 28%;
  height: 14%;
  padding-top: 2.5%;
  top: 63%;
  margin-left: -16%;
}

.blocks .order-status{
  width: 22.1%;
  height: 25.5%;
  background: url(/assets/images/distributor-order-status.png) center center no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 28.3%;
  margin-left: -5.7%;
}
.blocks .order-status .text{
  width: 49%;
  height: 24%;
  padding-top: 4.5%;
  top: 50%;
  margin-left: -15%;
}

.blocks .product-customization{
  width: 17.2%;
  height: 24.5%;
  background: url(/assets/images/distributor-product-customization.png) center center no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 51.4%;
  margin-left: -2%;
}
.blocks .product-customization .text{
  width: 50%;
  height: 28%;
  padding-top: 3.5%;
  top: 40%;
  margin-left: -20%;
}

.blocks .promotional{
  width: 17%;
  height: 39%;
  background: url(/assets/images/distributor-promotional.png) center center no-repeat;
  background-size: 100% 100%;
  left: 34.45%;
  top: 35%;
  margin-left: -2%;
}
.blocks .promotional .text{
  width: 55%;
  height: 18%;
  padding-top: 3.5%;
  top: 32%;
  margin-left: -23%;
}

.blocks .samples{
  width: 16.5%;
  height: 33.5%;
  background: url(/assets/images/distributor-samples.png) center center no-repeat;
  background-size: 100% 100%;
  left: 60%;
  top: 32%;
  margin-left: -2%;
}
.blocks .samples .text.small{
  padding-top: 2.3%;
}
.blocks .samples .text{
  width: 55%;
  height: 19%;
  padding-top: 3%;
  top: 55%;
  margin-left: -43%;
}

.blocks .why-us{
  width: 17.5%;
  height: 38.2%;
  background: url(/assets/images/distributor-why-us.png) center center no-repeat;
  background-size: 100% 100%;
  left: 42.25%;
  top: 35.8%;
  margin-left: -2%;
}
.blocks .why-us .text{
  width: 55%;
  height: 12%;
  padding-top: 4%;
  top: 44%;
  margin-left: -23%;
}

/*why us*/
.whyUsContainer .block1,
.whyUsContainer .block2,
.whyUsContainer .block3,
.whyUsContainer .block4,
.whyUsContainer .block5,
.whyUsContainer .block6{
  background: black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.whyUsContainer .block1 .text,
.whyUsContainer .block1 .active,
.whyUsContainer .block2 .text,
.whyUsContainer .block2 .active,
.whyUsContainer .block3 .text,
.whyUsContainer .block3 .active,
.whyUsContainer .block4 .text,
.whyUsContainer .block4 .active,
.whyUsContainer .block5 .text,
.whyUsContainer .block5 .active,
.whyUsContainer .block6 .text,
.whyUsContainer .block6 .active{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.whyUsContainer .block1 .active,
.whyUsContainer .block2 .active,
.whyUsContainer .block3 .active,
.whyUsContainer .block4 .active,
.whyUsContainer .block5 .active,
.whyUsContainer .block6 .active{
  background: url(/assets/images/distributor-why-us-block-active.png) center center no-repeat;
  background-size: 100% 100%;
  height: 45%;
  width: 23%;
  right: -3.5%;
  top: -14.3%;
  opacity: 0;
}
.whyUsContainer .block1 .text,
.whyUsContainer .block2 .text,
.whyUsContainer .block3 .text,
.whyUsContainer .block4 .text,
.whyUsContainer .block5 .text,
.whyUsContainer .block6 .text{
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.whyUsContainer .block1 .text,
.whyUsContainer .block2 .text,
.whyUsContainer .block3 .text,
.whyUsContainer .block4 .text{
  font-size: 22px;
}
.whyUsContainer .block1 .text.small,
.whyUsContainer .block2 .text.small,
.whyUsContainer .block3 .text.small,
.whyUsContainer .block4 .text.small{
  font-size: 18px;
}
.whyUsContainer .block1 .text.big,
.whyUsContainer .block2 .text.big,
.whyUsContainer .block3 .text.big,
.whyUsContainer .block4 .text.big{
  font-size: 26px;
}
.whyUsContainer .block1 .text.biggest,
.whyUsContainer .block2 .text.biggest,
.whyUsContainer .block3 .text.biggest,
.whyUsContainer .block4 .text.biggest{
  font-size: 29px;
}
.whyUsContainer .block5 .text.small,
.whyUsContainer .block6 .text.small{
  font-size: 17px;
}
.whyUsContainer .block5 .text.big,
.whyUsContainer .block6 .text.big{
  font-size: 25px;
}
.whyUsContainer .block5 .text.biggest,
.whyUsContainer .block6 .text.biggest{
  font-size: 28px;
}

.whyUsContainer{
  background: url(/assets/images/distributor-why-us-bg) center center no-repeat;
  background-size: 100% 100%;
}
.whyUsContainer .block1{
  width: 20%;
  height: 38.3%;
  left: 45%;
  top: 47%;
  margin-top: -9%;
}

.whyUsContainer .block1 .text{
  top: 45%;
  left: 22.5%;
}
.whyUsContainer .block2{
  width: 13%;
  height: 24.9%;
  left: 64%;
  top: 37%;
  margin-top: -9%;
}
.whyUsContainer .block2 .text{
  top: 49%;
  left: -7%;
  width: 105%;
}
.whyUsContainer .block3{
  width: 11%;
  height: 21.1%;
  left: 64%;
  top: 72%;
  margin-top: -9%;
}
.whyUsContainer .block3 .text,
.whyUsContainer .block4 .text{
  top: 45%;
  width: 105%;
}
.whyUsContainer .block4{
  width: 11%;
  height: 21.1%;
  left: 35%;
  top: 39.5%;
  margin-top: -9%;
}
.whyUsContainer .block5{
  width: 11%;
  height: 21.1%;
  left: 25%;
  top: 52.5%;
  margin-top: -9%;
}
.whyUsContainer .block5 .text,
.whyUsContainer .block6 .text{
  font-size: 20px;
  top: 48%;
  left: -5%;
  width: 110%;
}
.whyUsContainer .block6{
  width: 15%;
  height: 28.5%;
  left: 31.5%;
  top: 70%;
  margin-top: -9%;
}
