.blocks .samples {
    top: 33%;
}
.blocks .product-customization {
    top: 52%;
}
.blocks .order-status {
    top: 28.7%;
}
.blocks .why-us {
    top: 36.8%;
}
.blocks .promotional {
    top: 36%;
}

.whyUsContainer .block1 .text.biggest,
.whyUsContainer .block2 .text.biggest,
.whyUsContainer .block3 .text.biggest,
.whyUsContainer .block4 .text.biggest {
    font-size: 33px;
}
.whyUsContainer .block5 .text.biggest,
.whyUsContainer .block6 .text.biggest {
    font-size: 32px;
}

.whyUsDetailsContainer .center-block.website .text {
    font-size: 22px;
    line-height: 35px;
}
.whyUsDetailsContainer .center-block.website .text.big {
    font-size: 25px;
    line-height: 40px;
}
.whyUsDetailsContainer .center-block.website .text.biggest {
    font-size: 33px;
    line-height: 52px;
}
.whyUsDetailsContainer .center-block.ongoing .text {
    font-size: 22px;
    line-height: 36px;
}
.whyUsDetailsContainer .center-block.ongoing .text.big {
    font-size: 25px;
    line-height: 45px;
}
.whyUsDetailsContainer .white-block.ongoing .text.biggest {
    left: 0;
}
.whyUsDetailsContainer .center-block.ongoing .text.biggest {
    font-size: 33px;
    line-height: 50px;
}
.whyUsDetailsContainer .center-block.customize .text.biggest {
    line-height: 45px;
    font-size: 30px;
}
.whyUsDetailsContainer .above-arrow-block {
    left: 68%;
}
.whyUsDetailsContainer .center-block.friendly .text {
    font-size: 25px;
}
.whyUsDetailsContainer .white-block.friendly .text.biggest {
    font-size: 34px;
}
.whyUsDetailsContainer .center-block.friendly .text.biggest {
    font-size: 35px;
}
.whyUsDetailsContainer .white-block.benefit .text {
    font-size: 24px;
}
.whyUsDetailsContainer .center-block.benefit .text {
    font-size: 22px;
}
.whyUsDetailsContainer .white-block.benefit .text.biggest {
    font-size: 36px;
}
.whyUsDetailsContainer .center-block.monopoly .text {
    padding-top: 11%;
}
.whyUsDetailsContainer .center-block.monopoly .text.big {
    padding-top: 6%;
}
.whyUsDetailsContainer .center-block.monopoly .text.biggest {
    font-size: 32px;
    line-height: 55px;
    padding-top: 7%;
}
