.whyUsContainer .block1 .text.biggest,
.whyUsContainer .block2 .text.biggest,
.whyUsContainer .block3 .text.biggest,
.whyUsContainer .block4 .text.biggest {
    font-size: 33px;
}
.whyUsContainer .block5 .text.biggest,
.whyUsContainer .block6 .text.biggest {
    font-size: 32px;
}

.whyUsDetailsContainer .center-block.ongoing .text {
    font-size: 24px;
    line-height: 32px;
}
.whyUsDetailsContainer .center-block.ongoing .text.big {
    font-size: 28px;
    line-height: 38px;
}
.whyUsDetailsContainer .white-block.ongoing .text.biggest {
    left: 0;
}
.whyUsDetailsContainer .center-block.ongoing .text.biggest {
    font-size: 35px;
    line-height: 50px;
}
.whyUsDetailsContainer .center-block.customize .text.biggest {
    font-size: 30px;
}
.whyUsDetailsContainer .above-arrow-block{
    left: 68%;
}
.whyUsDetailsContainer .white-block.benefit .text.biggest {
    font-size: 38px;
}
.whyUsDetailsContainer .center-block.benefit .text.biggest {
    font-size: 36px;
}
.whyUsDetailsContainer .center-block.monopoly .text.biggest {
    font-size: 32px;
    line-height: 55px;
    padding-top: 6%;
}
/**
 * Be The First
 */
 .beTheFirstContainer .content .line1 .desc,
 .beTheFirstContainer .content .line2 .desc {
     font-size: 19px;
 }
 .beTheFirstContainer .title .number,
 .beTheFirstContainer .title .txt {
    line-height: 75px;
}
.beTheFirstContainer .content .line2 {
    top: calc(100% - 105px);
}
 .beTheFirstContainer.big .content .line1 .desc,
 .beTheFirstContainer.big .content .line2 .desc {
    font-size: 23px;
}
.beTheFirstContainer.biggest .content .line1 .desc,
.beTheFirstContainer.biggest .content .line2 .desc {
    font-size: 31px;
}
.beTheFirstContainer.biggest .content .line1 button,
.beTheFirstContainer.biggest .content .line2 button {
    font-size: 32px;
    line-height: 110px;
}
.beTheFirstContainer.biggest .title .number,
.beTheFirstContainer.biggest .title .txt {
    line-height: 120px;
}
.beTheFirstContainer.biggest .content .line2 {
    top: calc(100% - 145px);
}
/**
 * Be The First - end
 */
 .samplesContainer.small .content .title .number,
 .samplesContainer.small .content .title .txt {
     line-height: 50px;
 }
