.whyUsContainer .block1 .text.biggest,
.whyUsContainer .block2 .text.biggest,
.whyUsContainer .block3 .text.biggest,
.whyUsContainer .block4 .text.biggest {
    font-size: 33px;
}
.whyUsContainer .block5 .text.biggest,
.whyUsContainer .block6 .text.biggest {
    font-size: 32px;
}

.whyUsDetailsContainer .center-block .text {
    font-size: 21px;
    line-height: 35px;
}
.whyUsDetailsContainer .white-block .text {
    font-size: 28px;
}
.whyUsDetailsContainer .arrow-block .text {
    font-size: 24px;
}
.whyUsDetailsContainer .center-block.website .text.small {
    font-size: 16px;
    line-height: 25px;
}
.whyUsDetailsContainer .center-block.website .text.big {
    font-size: 24px;
    line-height: 40px;
}
.whyUsDetailsContainer .white-block.website .text.big {
    font-size: 34px;
}
.whyUsDetailsContainer .center-block.website .text.biggest {
    font-size: 33px;
    line-height: 55px;
}
.whyUsDetailsContainer .white-block.website .text.biggest {
    font-size: 50px;
    left: 32%;
}
.whyUsDetailsContainer .arrow-block.website .text.biggest {
    font-size: 40px;
}
.whyUsDetailsContainer .center-block.ongoing .text.small {
    line-height: 30px;
}
.whyUsDetailsContainer .center-block.ongoing .text {
    font-size: 22px;
    line-height: 38px;
}
.whyUsDetailsContainer .center-block.ongoing .text.big {
    font-size: 26px;
    line-height: 44px;
}
.whyUsDetailsContainer .white-block.ongoing .text.biggest {
    font-size: 40px;
    left: 0;
}
.whyUsDetailsContainer .center-block.ongoing .text.biggest {
    font-size: 33px;
    line-height: 54px;
}
.whyUsDetailsContainer .center-block.customize .text.biggest {
    font-size: 30px;
}
.whyUsDetailsContainer .white-block.friendly .text.biggest {
    font-size: 35px;
}
.whyUsDetailsContainer .center-block.friendly .text.biggest {
    font-size: 35px;
}
.whyUsDetailsContainer .above-arrow-block {
    left: 68.2%;
}
.whyUsDetailsContainer .white-block.benefit .text.biggest {
    font-size: 36px;
}
.whyUsDetailsContainer .center-block.monopoly .text {
  padding-top: 12%;
}
.whyUsDetailsContainer .center-block.monopoly .text.big {
    padding-top: 7%;
}
.whyUsDetailsContainer .center-block.monopoly .text.biggest {
    font-size: 32px;
    line-height: 55px;
    padding-top: 8%;
}
/**
 * Be The First
 */
 .beTheFirstContainer .title .number,
 .beTheFirstContainer .title .txt {
     line-height: 80px;
 }
 .beTheFirstContainer .content .line1 button,
 .beTheFirstContainer .content .line2 button {
    font-size: 23px;
    line-height: 65px;
}
.beTheFirstContainer .content .line1 .desc,
.beTheFirstContainer .content .line2 .desc {
    font-size: 20px;
}
.beTheFirstContainer .content .line2 {
    top: calc(100% - 110px);
}
.beTheFirstContainer.big .content .line1 .desc,
.beTheFirstContainer.big .content .line2 .desc {
    font-size: 23px;
}
.beTheFirstContainer.biggest .title .number,
.beTheFirstContainer.biggest .title .txt {
    line-height: 120px;
}
.beTheFirstContainer.biggest .content .line1 button,
 .beTheFirstContainer.biggest .content .line2 button {
    font-size: 34px;
    line-height: 105px;
}
.beTheFirstContainer.biggest .content .line1 .desc,
.beTheFirstContainer.biggest .content .line2 .desc {
    font-size: 31px;
}
.beTheFirstContainer.biggest .content .line2 {
    top: calc(100% - 145px);
}
/**
 * Be The First - End
 */
