.lifeCyclesContainer .content .logo,
.lifeCyclesContainer .content .txt1,
.lifeCyclesContainer .content .txt2,
.lifeCyclesContainer .content .desc,
.lifeCyclesContainer .content .desc:before,
.lifeCyclesContainer .content .animalTxt,
.lifeCyclesContainer .content .animalTxt:before,
.lifeCyclesContainer .content .animalName{
  position: absolute;
}
.lifeCyclesContainer .bg img{
  width: 100%;
}
.lifeCyclesContainer .content .logo{
  top: 1.5%;
  left: 1.5%;
}
.lifeCyclesContainer .content .txt1,
.lifeCyclesContainer .content .txt2,
.lifeCyclesContainer .content .desc,
.lifeCyclesContainer .content .animalTxt,
.lifeCyclesContainer .content .animalName{
  color: white;
}
.lifeCyclesContainer .content .txt1,
.lifeCyclesContainer .content .txt2,
.lifeCyclesContainer .content .animalTxt,
.lifeCyclesContainer .content .animalName{
  text-transform: uppercase;
}
.lifeCyclesContainer .content .txt1,
.lifeCyclesContainer .content .txt2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  left: 50%;
}
.lifeCyclesContainer .content .txt1{
  background: #171717;
  width: 60%;
  margin-left: -30%;
  top: 36.3%;
}
.lifeCyclesContainer .content .txt1 span{
  color: red;
}
.lifeCyclesContainer .content .txt2{
  background: url(/assets/images/lf-txt2.png) center center no-repeat transparent;
  background-size: 100% 100%;
  margin-left: -15.25%;
  top: 43%;
  width: 35%;
}
.lifeCyclesContainer .content .desc:before{
  content: "";
  width: 50%;
  height: 10px;
  background: white;
  margin-top: -15%;
}
.lifeCyclesContainer .content .desc,
.lifeCyclesContainer .content .animalTxt,
.lifeCyclesContainer .content .animalName{
  font-size: 26px;
}
.lifeCyclesContainer .content .desc{
  top: 166%;
  left: 10%;
  width: 30%;
  line-height: 43px;
}
.lifeCyclesContainer .content .animalTxt{
  top: 176.5%;
  right: 16%;
  font-weight: bold;
}
.lifeCyclesContainer .content .animalTxt:before{
  content: "";
  width: 40%;
  height: 8px;
  background: #03427e;
  margin-top: 10%;
}
.lifeCyclesContainer .content .animalName{
  right: 2%;
  top: 185%;
  line-height: 47px;
}
/**
 * small
 */
.lifeCyclesContainer.small .content .txt1,
.lifeCyclesContainer.small .content .txt2{
  font-size: 33px;
}
.lifeCyclesContainer.small .content .desc,
.lifeCyclesContainer.small .content .animalTxt,
.lifeCyclesContainer.small .content .animalName{
  font-size: 22px;
}
.lifeCyclesContainer.small .content .desc{
  line-height: 35px;
}
.lifeCyclesContainer.small .content .animalName{
  line-height: 39px;
}
/**
 * big
 */
.lifeCyclesContainer.big .content .txt1,
.lifeCyclesContainer.big .content .txt2{
  font-size: 48px;
}
.lifeCyclesContainer.big .content .desc,
.lifeCyclesContainer.big .content .animalTxt,
.lifeCyclesContainer.big .content .animalName{
  font-size: 32px;
}
.lifeCyclesContainer.big .content .desc{
  line-height: 50px;
}
.lifeCyclesContainer.big .content .animalName{
  line-height: 57px;
}
/**
 * biggest
 */
.lifeCyclesContainer.biggest .content .txt1,
.lifeCyclesContainer.biggest .content .txt2{
  font-size: 57px;
}
.lifeCyclesContainer.biggest .content .desc,
.lifeCyclesContainer.biggest .content .animalTxt,
.lifeCyclesContainer.biggest .content .animalName{
  font-size: 38px;
}
.lifeCyclesContainer.biggest .content .desc{
  line-height: 60px;
}
.lifeCyclesContainer.biggest .content .animalName{
  line-height: 68px;
}
/**
 * Aquatics
 */
.aquaticsContainer .bg,
.aquaticsContainer .content,
.aquaticsContainer .myEllipse,
.aquaticsContainer .content ul:before,
.chickenContainer .bg,
.chickenContainer .content,
.chickenContainer .myEllipse,
.chickenContainer .content ul:before,
.cattlesContainer .bg,
.cattlesContainer .content,
.cattlesContainer .myEllipse,
.cattlesContainer .content ul:before,
.petsContainer .bg,
.petsContainer .content,
.petsContainer .myEllipse,
.petsContainer .content ul:before,
.pigsContainer .bg,
.pigsContainer .content,
.pigsContainer .myEllipse,
.pigsContainer .content ul:before{
  position: absolute;
}
.aquaticsContainer .bg,
.chickenContainer .bg,
.cattlesContainer .bg,
.petsContainer .bg,
.pigsContainer .bg{
  width: 100%;
  height: 100%;
}
.aquaticsContainer .myEllipse,
.chickenContainer .myEllipse,
.cattlesContainer .myEllipse,
.petsContainer .myEllipse,
.pigsContainer .myEllipse{
  list-style: disc;
  font-size: 25px;
  left: 3%;
  top: 1.5%;
}
.aquaticsContainer .myEllipse a,
.chickenContainer .myEllipse a,
.cattlesContainer .myEllipse a,
.petsContainer .myEllipse a,
.pigsContainer .myEllipse a{
  color: #898989;
}
.aquaticsContainer .myEllipse li,
.chickenContainer .myEllipse li,
.cattlesContainer .myEllipse li,
.petsContainer .myEllipse li,
.pigsContainer .myEllipse li{
  float: left;
  margin-right: 15px;
}
.aquaticsContainer .content,
.chickenContainer .content,
.cattlesContainer .content,
.petsContainer .content,
.pigsContainer .content{
  text-transform: uppercase;
  top: 27%;
  left: 36%;
  width: 50%;
  color: black;
}
.aquaticsContainer .content .title,
.chickenContainer .content .title,
.cattlesContainer .content .title,
.petsContainer .content .title,
.pigsContainer .content .title{
  font-size: 65px;
  font-weight: bold;
}
.aquaticsContainer .content .desc,
.chickenContainer .content .desc,
.cattlesContainer .content .desc,
.petsContainer .content .desc,
.pigsContainer .content .desc{
  font-size: 20px;
  margin-top: -10px;
}
.aquaticsContainer .content ul,
.chickenContainer .content ul,
.cattlesContainer .content ul,
.petsContainer .content ul,
.pigsContainer .content ul{
  margin-left: 15%;
  margin-top: 2%;
  list-style: disc;
  font-size: 18px;
  font-weight: bold;
}
.aquaticsContainer .content ul:before,
.chickenContainer .content ul:before,
.cattlesContainer .content ul:before,
.petsContainer .content ul:before,
.pigsContainer .content ul:before,
.petsContainer .content ul:before{
  content: "";
  width: 80px;
  height: 4px;
  background: black;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: -75px;
  margin-top: 25px;
}
.pigsContainer .content ul:before{
  width: 130px;
  margin-left: -105px;
  margin-top: 45px;
}
.cattlesContainer .content ul:before{
  width: 210px;
  margin-left: -140px;
  margin-top: 85px;
}
.petsContainer .content ul:before{
  width: 100px;
  margin-left: -80px;
  margin-top: 35px;
}
/**
 * small
 */
.aquaticsContainer.small .content .desc,
.chickenContainer.small .content .desc,
.cattlesContainer.small .content .desc,
.petsContainer.small .content .desc,
.pigsContainer.small .content .desc{
  margin-top: -20px;
}
/**
 * big
 */
.aquaticsContainer.big .myEllipse,
.chickenContainer.big .myEllipse,
.cattlesContainer.big .myEllipse,
.petsContainer.big .myEllipse,
.pigsContainer.big .myEllipse{
  font-size: 30px;
}
.aquaticsContainer.big .content .title,
.chickenContainer.big .content .title,
.cattlesContainer.big .content .title,
.petsContainer.big .content .title,
.pigsContainer.big .content .title{
  font-size: 75px;
}
.aquaticsContainer.big .content .desc,
.chickenContainer.big .content .desc,
.cattlesContainer.big .content .desc,
.petsContainer.big .content .desc,
.pigsContainer.big .content .desc{
  font-size: 25px;
}
.aquaticsContainer.big .content ul,
.chickenContainer.big .content ul,
.cattlesContainer.big .content ul,
.petsContainer.big .content ul,
.pigsContainer.big .content ul{
  font-size: 22px;
}
.pigsContainer.big .content ul:before{
  width: 110px;
  margin-left: -85px;
  margin-top: 40px;
}
.cattlesContainer.big .content ul:before{
  width: 235px;
  margin-left: -155px;
  margin-top: 105px;
}
.petsContainer.big .content ul:before{
  width: 120px;
  margin-left: -100px;
  margin-top: 45px;
}
/**
 * biggest
 */
.aquaticsContainer.biggest .myEllipse,
.chickenContainer.biggest .myEllipse,
.cattlesContainer.biggest .myEllipse,
.petsContainer.biggest .myEllipse,
.pigsContainer.biggest .myEllipse{
  font-size: 40px;
}
.aquaticsContainer.biggest .content .title,
.chickenContainer.biggest .content .title,
.cattlesContainer.biggest .content .title,
.petsContainer.biggest .content .title,
.pigsContainer.biggest .content .title{
  font-size: 85px;
}
.aquaticsContainer.biggest .content .desc,
.chickenContainer.biggest .content .desc,
.cattlesContainer.biggest .content .desc,
.petsContainer.biggest .content .desc,
.pigsContainer.biggest .content .desc{
  font-size: 30px;
}
.aquaticsContainer.biggest .content ul,
.chickenContainer.biggest .content ul,
.cattlesContainer.biggest .content ul,
.petsContainer.biggest .content ul,
.pigsContainer.biggest .content ul{
  font-size: 25px;
}
.aquaticsContainer.biggest .content ul:before,
.chickenContainer.biggest .content ul:before,
.cattlesContainer.biggest .content ul:before,
.petsContainer.biggest .content ul:before,
.pigsContainer.biggest .content ul:before{
  width: 120px;
  height: 4px;
  margin-left: -105px;
  margin-top: 35px;
}
.pigsContainer.biggest .content ul:before{
  width: 150px;
  margin-left: -125px;
  margin-top: 50px;
}
.cattlesContainer.biggest .content ul:before{
  width: 275px;
  margin-left: -185px;
  margin-top: 120px;
}
.petsContainer.biggest .content ul:before{
  width: 140px;
  margin-left: -120px;
  margin-top: 50px;
}
/**
 * Aquatics - end
 */
