@font-face {
   font-family: Myriad;
   src: url(../font/Myriad_Pro_font/MyriadPro-Regular.otf);
}

@font-face {
   font-family: Myriad-Bold;
   src: url(../font/Myriad_Pro_font/MyriadPro-Bold.otf);
   font-weight: bold;
}

body, html {
  font-family: Myriad;
  height: 100%;
  padding: 0; margin: 0;
}
.sourcingContainer .title,
.sourcingContainer .block1 .block-title,
.sourcingContainer .block2 .block-title,
.sourcingContainer .block3 .block-title,
.sourcingContainer .block4 .block-title,
.sourcingContainer .block5 .block-title,
.sourcingContainer .block6 .block-title{
  color: white;
  font-family: Myriad-Bold;
  text-transform: uppercase;
}
.sourcingContainer .block1 .block-title,
.sourcingContainer .block2 .block-title,
.sourcingContainer .block3 .block-title{
  top: 50%;
}
.sourcingContainer .block1,
.sourcingContainer .block2,
.sourcingContainer .block3,
.sourcingContainer .block4,
.sourcingContainer .block5,
.sourcingContainer .block6,
.sourcingContainer .block1-bg,
.sourcingContainer .block2-bg,
.sourcingContainer .block3-bg,
.sourcingContainer .block4-bg,
.sourcingContainer .block5-bg,
.sourcingContainer .block6-bg{
  width: 322px;
  height: 322px;
  position: absolute;
}
.sourcingContainer .block1-bg.move,
.sourcingContainer .block2-bg.move,
.sourcingContainer .block3-bg.move{
  top: 190px;
}
.sourcingContainer .block4-bg.move,
.sourcingContainer .block5-bg.move,
.sourcingContainer .block6-bg.move{
  margin-top: 0px;
}
.sourcingContainer .block1-bg,
.sourcingContainer .block2-bg,
.sourcingContainer .block3-bg{
  -webkit-transition: top .3s ease-in-out;
  -moz-transition: top .3s ease-in-out;
  -o-transition: top .3s ease-in-out;
  transition: top .3s ease-in-out;
}
.sourcingContainer .block4-bg,
.sourcingContainer .block5-bg,
.sourcingContainer .block6-bg{
  -webkit-transition: margin-top .3s ease-in-out;
  -moz-transition: margin-top .3s ease-in-out;
  -o-transition: margin-top .3s ease-in-out;
  transition: margin-top .3s ease-in-out;
}
.sourcingContainer .block1-bg,
.sourcingContainer .block2-bg,
.sourcingContainer .block3-bg,
.sourcingContainer .block4-bg,
.sourcingContainer .block5-bg,
.sourcingContainer .block6-bg{
  background: url(../images/sourcingBlock-bg.png);
}

.sourcingContainer{
  height: 100%;
  width: 100%;
  background: url(../images/sourcing-bg.jpg) center 0;
}
.sourcingContainer .title{
  position: absolute;
  color: #00d9a8;
  left: 295px;
  top: 135px;
  font-size: 31.5px;
  letter-spacing: 1px
}

.sourcingContainer .block1,
.sourcingContainer .block1-bg{
  top: 220px;
  left: 215px;
}
.sourcingContainer .block1{
  background: url(../images/sourcing1.png);
}
.sourcingContainer a:hover .block1{
  background: url(../images/sourcing1-active.png);
}
.sourcingContainer .block1 .block-title{
  width: 100px;
  margin: 135px 0 0 37px;
  font-size: 31px;
  letter-spacing: 1.5px
}

.sourcingContainer .block2,
.sourcingContainer .block2-bg{
  top: 218px;
  left: 559px;
}
.sourcingContainer .block2{
  background: url(../images/sourcing2.png);
}
.sourcingContainer .block2 .block-title{
  width: 150px;
  margin: 125px 0 0 40px;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center
}
.sourcingContainer a:hover .block2{
  background: url(../images/sourcing2-active.png);
}

.sourcingContainer .block3,
.sourcingContainer .block3-bg{
  top: 218px;
  left: 50%;
  margin-left: 101px;
}
.sourcingContainer .block3{
  background: url(../images/sourcing3.png);
}
.sourcingContainer .block3 .block-title{
  width: 200px;
  margin: 148px 0 0 35px;
  font-size: 21px;
  letter-spacing: .5px;
}
.sourcingContainer a:hover .block3{
  background: url(../images/sourcing3-active.png);
}

.sourcingContainer .block4,
.sourcingContainer .block4-bg{
  top: 50%;
  left: 50%;
  margin: -31px 0 0 274px;
}
.sourcingContainer .block4{
  background: url(../images/sourcing4.png);
}
.sourcingContainer .block4 .block-title{
  width: 200px;
  margin: 145px 0 0 45px;
  font-size: 21px;
  letter-spacing: 1.1px;
}
.sourcingContainer a:hover .block4{
  background: url(../images/sourcing4-active.png);
}

.sourcingContainer .block5,
.sourcingContainer .block5-bg{
  top: 50%;
  left: 50%;
  margin: -31px 0 0 -69px;
}
.sourcingContainer .block5{
  background: url(../images/sourcing5.png);
}
.sourcingContainer .block5 .block-title{
  width: 150px;
  margin: 145px 0 0 50px;
  font-size: 20px;
  letter-spacing: 2px;
}
.sourcingContainer a:hover .block5{
  background: url(../images/sourcing5-active.png);
}


.sourcingContainer .block6,
.sourcingContainer .block6-bg{
  top: 50%;
  left: 215px;
  margin: -31px 0 0 171px;
}
.sourcingContainer .block6{
  background: url(../images/sourcing6.png);
}
.sourcingContainer a:hover .block6{
  background: url(../images/sourcing6-active.png);
}
.sourcingContainer .block6 .block-title{
  width: 150px;
  margin: 146px 0 0 30px;
  font-size: 23px;
}
