@font-face {
   font-family: Myriad;
   src: url(../font/Myriad_Pro_font/MyriadPro-Regular.otf);
}

@font-face {
   font-family: Myriad-Cond;
   src: url(../font/Myriad_Pro_font/MyriadPro-Cond.otf);
}

@font-face {
   font-family: Myriad-Bold;
   src: url(../font/Myriad_Pro_font/MyriadPro-Bold.otf);
   font-weight: bold;
}

@font-face {
   font-family: MyriadPro-Semibold;
   src: url(../font/Myriad_Pro_font/MyriadPro-Semibold.otf);
   font-weight: bold;
}

body, html {
  font-family: Myriad;
  height: 100%;
  padding: 0; margin: 0;
}
.sourcingContainer .title,
.sourcingContainer .block1 .block-title,
.sourcingContainer .block2 .block-title,
.sourcingContainer .block3 .block-title,
.sourcingContainer .block4 .block-title,
.sourcingContainer .block5 .block-title,
.sourcingContainer .block6 .block-title{
  color: white;
  font-family: Myriad-Bold;
  text-transform: uppercase;
}
.sourcingContainer .block1 .block-title,
.sourcingContainer .block2 .block-title,
.sourcingContainer .block3 .block-title,
.sourcingContainer .block4 .block-title,
.sourcingContainer .block5 .block-title,
.sourcingContainer .block6 .block-title{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sourcingContainer .block1 .block-title,
.sourcingContainer .block2 .block-title,
.sourcingContainer .block3 .block-title{
  top: 50%;
}
.sourcingContainer .block1,
.sourcingContainer .block2,
.sourcingContainer .block3,
.sourcingContainer .block4,
.sourcingContainer .block5,
.sourcingContainer .block6,
.sourcingContainer .block1-bg,
.sourcingContainer .block2-bg,
.sourcingContainer .block3-bg,
.sourcingContainer .block4-bg,
.sourcingContainer .block5-bg,
.sourcingContainer .block6-bg{
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: url(../images/sourcing-ico.png) 218px;
}

@-moz-document url-prefix() {
  .sourcingContainer .block1{
    background: url(../images/sourcing-ico.png) -218px;
  }
  .sourcingContainer .block2{
    background: url(../images/sourcing-ico.png) -654px;
  }
  .sourcingContainer .block3{
    background: url(../images/sourcing-ico.png) -1090px;
  }
  .sourcingContainer .block4{
    background: url(../images/sourcing-ico.png) -1526px;
  }
  .sourcingContainer .block5{
    background: url(../images/sourcing-ico.png) -1962px;
  }
  .sourcingContainer .block6{
    background: url(../images/sourcing-ico.png) -2398px;
  }

  .sourcingContainer .block1-bg,
  .sourcingContainer .block2-bg,
  .sourcingContainer .block3-bg,
  .sourcingContainer .block4-bg,
  .sourcingContainer .block5-bg,
  .sourcingContainer .block6-bg{
    background: url(../images/sourcing-ico.png) 218px;
  }

  .sourcingContainer a:hover .block1{
    background: url(../images/sourcing-ico.png) 0px;
  }
  .sourcingContainer a:hover .block2{
    background: url(../images/sourcing-ico.png) -436px;
  }
  .sourcingContainer a:hover .block3{
    background: url(../images/sourcing-ico.png) -872px;
  }
  .sourcingContainer a:hover .block4{
    background: url(../images/sourcing-ico.png) -1308px;
  }
  .sourcingContainer a:hover .block5{
    background: url(../images/sourcing-ico.png) -1744px;
  }
  .sourcingContainer a:hover .block6{
    background: url(../images/sourcing-ico.png) -2180px;
  }
}

.sourcingContainer .block1,
.sourcingContainer .block2,
.sourcingContainer .block3,
.sourcingContainer .block4,
.sourcingContainer .block5,
.sourcingContainer .block6{
  width: 218px;
  height: 218px;
}
.sourcingContainer .block1-bg,
.sourcingContainer .block2-bg,
.sourcingContainer .block3-bg,
.sourcingContainer .block4-bg,
.sourcingContainer .block5-bg,
.sourcingContainer .block6-bg{
  width: 210px;
  height: 210px;
}
.sourcingContainer .block1-bg.move,
.sourcingContainer .block2-bg.move,
.sourcingContainer .block3-bg.move{
  top: 225px;
}
.sourcingContainer .block4-bg.move,
.sourcingContainer .block5-bg.move,
.sourcingContainer .block6-bg.move{
  margin-top: 25px;
}
.sourcingContainer .block1-bg,
.sourcingContainer .block2-bg,
.sourcingContainer .block3-bg{
  -webkit-transition: top .2s ease-in-out;
  -moz-transition: top .2s ease-in-out;
  -o-transition: top .2s ease-in-out;
  transition: top .2s ease-in-out;
}
.sourcingContainer .block4-bg,
.sourcingContainer .block5-bg,
.sourcingContainer .block6-bg{
  -webkit-transition: margin-top .2s ease-in-out;
  -moz-transition: margin-top .2s ease-in-out;
  -o-transition: margin-top .2s ease-in-out;
  transition: margin-top .2s ease-in-out;
}

.sourcingContainer{
  height: 100%;
  width: 100%;
  background: url(../images/sourcing-bg.jpg) center 0;
  background-size: 100%;
}

.sourcingContainer .content{
  width: 1250px;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  padding-top: 61px;
  padding-bottom: 42px;
}
.sourcingContainer .title{
  position: absolute;
  color: #00d9a8;
  left: 145px;
  top: 127px;
  font-size: 31.5px;
  letter-spacing: .1px
}

.sourcingContainer .block1{
  top: 252px;
  left: 112px;
  background-position-x: -218px;
}
.sourcingContainer .block1-bg{
  top: 256px;
  left: 114px;
}
.sourcingContainer a:hover .block1{
  background-position-x: 0px;
}
.sourcingContainer .block1 .block-title{
  width: 100px;
  margin: 37px 0 0 12px;
  font-size: 31px;
  letter-spacing: 1.5px;
}

.sourcingContainer .block2{
  background-position-x: -654px;
  top: 252px;
  left: 440px;
}
.sourcingContainer .block2-bg{
  top: 256px;
  left: 443px;
}
.sourcingContainer .block2 .block-title{
  width: 150px;
  margin: 40px 0 0 0px;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center
}
.sourcingContainer a:hover .block2{
  background-position-x: -436px;
}

.sourcingContainer .block3{
  top: 250px;
  left: 50%;
  margin-left: 141px;
  background-position-x: -1090px;
}
.sourcingContainer .block3-bg{
  top: 255px;
  left: 50%;
  margin-left: 142px;
}
.sourcingContainer .block3 .block-title{
  width: 200px;
  margin: 80px 0 0 -10px;
  font-size: 21px;
  letter-spacing: .5px;
}
.sourcingContainer a:hover .block3{
  background-position-x: -872px;
}

.sourcingContainer .block4{
  top: 413px;
  left: 930px;
  background-position-x: -1526px;
}
.sourcingContainer .block4-bg{
  top: 416px;
  left: 932px;
}
.sourcingContainer .block4 .block-title{
  width: 200px;
  margin: 85px 0 0 3px;
  font-size: 21px;
  letter-spacing: 1.1px;
}
.sourcingContainer a:hover .block4{
  background-position-x: -1308px;
}

.sourcingContainer .block5{
  top: 413px;
  left: 603px;
  background-position-x: -1962px;
}
.sourcingContainer .block5-bg{
  top: 415px;
  left: 607px;
}
.sourcingContainer .block5 .block-title{
  width: 150px;
  margin: 73px 0 0 14px;
  font-size: 20px;
  letter-spacing: 2px;
}
.sourcingContainer a:hover .block5{
  background-position-x: -1744px;
}


.sourcingContainer .block6{
  top: 411px;
  left: 273px;
  background-position-x: -2398px;
}
.sourcingContainer .block6-bg{
  top: 413px;
  left: 276px;
}
.sourcingContainer a:hover .block6{
  background-position-x: -2180px;
}
.sourcingContainer .block6 .block-title{
  width: 150px;
  margin: 60px 0 0 -3px;
  font-size: 23px;
}

/*ABC SHOWCASE*/
.sourcingAbcContainer{
  background: url(../images/showcase-bg.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 1010px;
  position: relative;
}
.sourcingAbcContainer .content{
  height: calc(100% - 167px);
}
.sourcingAbcContainer .banner{
  background: url(../images/showcase-banner.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 167px;
}
.sourcingAbcContainer .banner .title{
  font-family: Myriad-Cond;
  height: 100%;
  padding: 122px 8px 0 7px;
  width: 1050px;
  margin: auto;
  text-transform: uppercase;
  font-size: 29px;
}

.sourcingAbcContainer .blocks,
.sourcingAbcContainer .block-left,
.sourcingAbcContainer .block-right,
.sourcingAbcContainer{
  height: 100%;
}
.sourcingAbcContainer .block-left,
.sourcingAbcContainer .block-right{
  float: left;
}
.sourcingAbcContainer .block-left{
  min-height: 843px;
  width: 15.5%;
  background: #313131;
}
.sourcingAbcContainer .block-left .view{
  height: 38px;
}
.sourcingAbcContainer .block-left .title{
  padding-left: 15px;
  color: #e83643;
  font-size: 16px;
  text-transform: uppercase;
  background: #1a1a1a;
}

.sourcingAbcContainer .block-left .view .items{
  height: 17px;
}
.sourcingAbcContainer .block-left .view .items .item1,
.sourcingAbcContainer .block-left .view .items .item2{
  float: left;
  width: 50%;
  border: 1px solid #e83643;
  height: 15px;
  text-align: center;
  color: #e83643;
  line-height: 15px;
}
.sourcingAbcContainer .block-left .view .items .active,
.sourcingAbcContainer .block-left .sortBy .items .active,
.sourcingAbcContainer .block-left .sortBy .items .odd:hover,
.sourcingAbcContainer .block-left .sortBy .items .even:hover{
  color: white !important;
  background: #e83643 !important;
}

.sourcingAbcContainer .block-left .sortBy{
  height: 105px;
}
.sourcingAbcContainer .block-left .sortBy .title{
  height: 29px;
  padding-top: 7px;
}
.sourcingAbcContainer .block-left .sortBy .items{
  width: 100%;
  float: left;
  height: 26px;
}
.sourcingAbcContainer .block-left .sortBy .items .odd,
.sourcingAbcContainer .block-left .sortBy .items .even{
  float: left;
  width: 50%;
  height: 26px;
  color: white;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0px 15px;
  font-size: 10px;
}
.sourcingAbcContainer .block-left .sortBy .items .odd,
#cssmenu ul ul li a.odd{
  background: #212121;
}
.sourcingAbcContainer .block-left .sortBy .items .even{
  background: #282828;
}
#cssmenu ul ul li a.even{
  background: #313131;
}

/*.sourcingAbcContainer .block-left .filterBy{
  height: 208px;
}*/

.sourcingAbcContainer .block-left .filterBy .title{
  height: 31px;
  padding-top: 7px;
}

.sourcingAbcContainer .block-left .watch,
.sourcingAbcContainer .block-left .recommend{
  height: 208px;
}

.sourcingAbcContainer .block-left .watch .title,
.sourcingAbcContainer .block-left .recommend .title{
  height: 31px;
  padding-top: 7px;
}

.sourcingAbcContainer .block-left .watch .products,
.sourcingAbcContainer .block-left .recommend .products{
  width: 100%;
  text-align: center;
  padding: 11px 0;
}

.sourcingAbcContainer .block-left .watch .products a,
.sourcingAbcContainer .block-left .recommend .products a{
  text-decoration: none
}

.sourcingAbcContainer .block-left .watch .products img,
.sourcingAbcContainer .block-left .recommend .products img{
  max-width: 207px;
  width: 80%;
}

.sourcingAbcContainer .block-left .watch .product-name,
.sourcingAbcContainer .block-left .recommend .product-name{
  color: white;
  text-transform: uppercase;
  width: 80%;
  margin: auto;
  text-align: left;
  padding-left: 5px;
  max-width: 207px;
}

.sourcingAbcContainer .block-right{
  min-height: 843px;
  width: 84.5%;
}
.sourcingAbcContainer .block-right .redLine{
  background: url(../images/showcase-redLine.png);
  background-size: 100% 100%;
  width: 100%;
  height: 10px;
}
.sourcingAbcContainer .block-right .product-list{
  text-align: center;
  padding: 0 50px;
}

.sourcingAbcContainer .block-right .product.first{
  margin-top: 50px;
}
.sourcingAbcContainer .block-right .product{
  float: left;
  width: 25%;
  margin-top: 60px;
  position: relative;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}
.sourcingAbcContainer .block-right .product img,
.sourcingAbcContainer .block-right .product .product-name{
  width: 80%;
  max-width: 248px;
  min-width: 165px;
}
.sourcingAbcContainer .block-right .product .product-name{
  color: black;
  text-transform: uppercase;
  margin: 10px auto;
  text-align: left;
  padding-left: 10px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 100%;
  font-family: Myriad;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
  background: #282828;
  padding: 5px 11px;
}
#cssmenu ul ul li{
  display: inline-block;
  width: 50%;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 5px 17px;
  cursor: pointer;
  z-index: 2;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #212121;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #eeeeee;
  background: #212121;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #212121;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 9px;
  z-index: 10;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.holder::after {
  top: 5px;
  border-top: 6px solid #ffffff;
  border-left: 6px solid transparent;
}
.active.open .holder::after {
  top: 5px;
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
}
.active.open .holder::before {
  top: 8px;
  border-top: 6px solid;
  border-left: 6px solid transparent !important;
  border-top-color: inherit;
  border-left-color: inherit;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(-45deg);
}
.active .holder::before {
  border-top: 6px solid transparent;
  border-left: 6px solid transparent !important;
}
#cssmenu ul ul li a {
  cursor: pointer;
  height: 20px;
  line-height: 23px;
  z-index: 1;
  text-decoration: none;
  font-size: 12px;
  color: #eeeeee;
  background: #49505a;
  text-transform: uppercase;
  padding-left: 7px;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #e83643;
  color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}

/*Animal Type*/
.sourcingAnimalContainer .outter-cycle,
.sourcingAnimalContainer .inner-cycle,
.sourcingAnimalContainer .inner-cycle .title:before,
.sourcingAnimalContainer .inner-cycle .title:after{
  position: absolute;
}
.sourcingAnimalContainer .outter-cycle:before,
.sourcingAnimalContainer .outter-cycle:after,
.sourcingAnimalContainer .inner-cycle .title:before,
.sourcingAnimalContainer .inner-cycle .title:after{
  content: "";
}
.sourcingAnimalContainer .outter-cycle,
.sourcingAnimalContainer .inner-cycle,
.cycle1,
.cycle2,
.cycle3,
.cycle4,
.cycle5,
.cycle6,
.cycle7,
.cycle8,
.cycle9,
.cycle10,
.cycle11,
.cycle12{
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.sourcingAnimalContainer{
  background: url(../images/sourcing_animal_bg.png) no-repeat center 55%;
  background-size: 100% 110%;
  width: 100%;
  position: relative;
  height: calc(100% - 104px);
}
.sourcingAnimalContainer .content{
  height: 100%;
}
.sourcingAnimalContainer .outter-cycle{
  background: url(../images/sourcing-animal-trau.png) center center no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: auto;
  left: 50%;
  top: 50%;
  margin: -20% 0 0 -20%;
}
.sourcingAnimalContainer .outter-cycle:before{
  display: block;
  margin-top: 100%;
}
.sourcingAnimalContainer .inner-cycle{
  background: #20212b;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  margin: -25% 0 0 -25%;
}
.sourcingAnimalContainer .inner-cycle .title{
  font-family: Myriad;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin-top: 35%;
}
.sourcingAnimalContainer .inner-cycle .title span{
  font-size: 60px;
}
.sourcingAnimalContainer .inner-cycle .title:before,
.sourcingAnimalContainer .inner-cycle .title:after{
  width: 5px;
  background: white;
  height: 20%;
  left: 50%;
  margin-left: -2.5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.sourcingAnimalContainer .inner-cycle .title:after{
  bottom: 25px;
}
.sourcingAnimalContainer .inner-cycle .title:before{
  top: 25px;
}
.sourcingAnimalContainer .outter-cycle .white-cycle{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.cycle1,
.cycle2,
.cycle3,
.cycle4,
.cycle5,
.cycle6,
.cycle7,
.cycle8,
.cycle9,
.cycle10,
.cycle11,
.cycle12{
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  position: absolute;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), inset 0 0 0 7px rgba(255, 255, 255, 1);
}
.cycle1:hover,
.cycle2:hover,
.cycle3:hover,
.cycle4:hover,
.cycle5:hover,
.cycle6:hover,
.cycle7:hover,
.cycle8:hover,
.cycle9:hover,
.cycle10:hover,
.cycle11:hover,
.cycle12:hover{
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 1), inset 0 0 0 7px rgba(255, 255, 255, 1);
}
.cycle1.active,
.cycle2.active,
.cycle3.active,
.cycle4.active,
.cycle5.active,
.cycle6.active,
.cycle7.active,
.cycle8.active,
.cycle9.active,
.cycle10.active,
.cycle11.active,
.cycle12.active{
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 1), inset 0 0 0 7px rgba(255, 255, 255, 0);
}

.cycle1.black,
.cycle2.black,
.cycle3.black,
.cycle4.black,
.cycle5.black,
.cycle6.black,
.cycle7.black,
.cycle8.black,
.cycle9.black,
.cycle10.black,
.cycle11.black,
.cycle12.black{
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0), inset 0 0 0 7px rgba(0, 0, 0, 1);
}
.cycle1.black:hover,
.cycle2.black:hover,
.cycle3.black:hover,
.cycle4.black:hover,
.cycle5.black:hover,
.cycle6.black:hover,
.cycle7.black:hover,
.cycle8.black:hover,
.cycle9.black:hover,
.cycle10.black:hover,
.cycle11.black:hover,
.cycle12.black:hover{
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 1), inset 0 0 0 7px rgba(0, 0, 0, 1);
}
.cycle1.black.active,
.cycle2.black.active,
.cycle3.black.active,
.cycle4.black.active,
.cycle5.black.active,
.cycle6.black.active,
.cycle7.black.active,
.cycle8.black.active,
.cycle9.black.active,
.cycle10.black.active,
.cycle11.black.active,
.cycle12.black.active{
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 1), inset 0 0 0 7px rgba(0, 0, 0, 0);
}

.cycle1,
.cycle2,
.cycle12{
  left: 50%;
}
.cycle1{
  margin-left: -7px;
  top: 4%;
}
.cycle2,
.cycle3{
  top: 11%;
}
.cycle2{
  left: 24%;
}
.cycle3{
  right: 24%;
}
.cycle4,
.cycle5{
  top: 27%;
}
.cycle4{
  right: 11%;
}
.cycle5{
  left: 11%;
}
.cycle6,
.cycle7{
  top: 50%;
  margin-top: -7px;
}
.cycle6{
  right: 4%;
}
.cycle7{
  left: 4%;
}
.cycle8,
.cycle9{
  bottom: 27%;
}
.cycle8{
  right: 11%;
}
.cycle9{
  left: 11%;
}
.cycle10,
.cycle11{
  bottom: 11%;
}
.cycle10{
  right: 24%;
}
.cycle11{
  left: 24%;
}
.cycle12{
  bottom: 4%;
  margin-left: -7px;
}

/*Product details*/
.sourcingProductDetailsContainer{
  background: url(../images/productDetails-bg.jpg) no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  position: relative;
  height: calc(100% - 104px);
}
.sourcingProductDetailsContainer .content{
  height: 100%;
  width: 1500px;
  margin: auto;
  position: relative;
}
.sourcingProductDetailsContainer .diamond{
  background: url(../images/productDetails-line1-diamond.png) no-repeat center center;
  background-size: 100% 100%;
  width: 542px;
  height: 550px;
  position: absolute;
  right: 10%;
}
.sourcingProductDetailsContainer .diamond .product-info{
  width: 370px;
  float: left;
}
.sourcingProductDetailsContainer .diamond .buttons{
  width: 170px;
  float: left;
}
.sourcingProductDetailsContainer .diamond .desc{
  margin-top: 27%;
}
.sourcingProductDetailsContainer .diamond .desc > .title{
  font-family: MyriadPro-Semibold;
  color: #ea7c27;
  font-size: 55px;
  text-shadow: 3px 3px black;
  line-height: 49px;
}
.sourcingProductDetailsContainer .diamond .desc > .subtitle{
  font-family: MyriadPro-Semibold;
  font-size: 27px;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group{
  margin-top: 20px;
}
.sourcingProductDetailsContainer .diamond .desc .product-info .weight{
  font-family: MyriadPro-Semibold;
  font-size: 27px;
  line-height: 20px;
}
.sourcingProductDetailsContainer .diamond .desc .product-info .form{
  font-family: MyriadPro-Semibold;
  font-size: 21px;
  font-style: italic;
  color: #a8403b;
}
.sourcingProductDetailsContainer .diamond .desc .product-info .product-desc .title,
.sourcingProductDetailsContainer .diamond .desc .product-info-group .more{
  margin-top: 5px;
  font-family: MyriadPro;
  font-size: 18px;
}
.sourcingProductDetailsContainer .diamond .desc .product-info .product-desc .title span{
  font-family: MyriadPro-Semibold;
  font-size: 18px;
  color: #a8403b;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group .more{
  display: none;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group .more,
.sourcingProductDetailsContainer .diamond .desc .product-info-group .product-desc{
  height: 325px;
  overflow-y: auto;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group .buttons{
  padding-left: 25px;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group .buttons .line1 a > div,
.sourcingProductDetailsContainer .diamond .desc .product-info-group .buttons .line2 a > div{
  border: 2px solid black;
  width: 65px;
  height: 60px;
  display: inline-block;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group .buttons .line3 a div{
  font-family: MyriadPro;
  border: 2px solid black;
  width: 137px;
  height: 60px;
  color: black;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group .buttons .line1 a div.paper{
  background: url(../images/productDetails-btnIcons.png) no-repeat center 10px;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group .buttons .line2 a div.pointer{
  background: url(../images/productDetails-btnIcons.png) no-repeat center -83px;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group .buttons .line2 a div div.blackArrow{
  border-bottom: 20px solid black;
  border-right: 20px solid transparent;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 20px;
  margin: 13px 20px;
}
.sourcingProductDetailsContainer .diamond .desc .product-info-group .buttons .line1 a > div div.blackCircle{
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 9px rgba(255, 255, 255, 0), inset 0 0 0 3px rgba(255, 255, 255, 1);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: black;
  margin-left: 19px;
  margin-top: 15px;
}
.sourcingProductDetailsContainer .bottle{
  background: url(../images/productDetails-line1-bottle.png) no-repeat center center;
  background-size: 100% 100%;
  width: 467px;
  height: 350px;
  position: absolute;
  top: 170px;
  left: 15%
}
.m-l-5{
  margin-left: 5px;
}
.m-b-5{
  margin-bottom: 5px;
}
