.sourcingAbcContainer .block-left.small .view .items .item1,
.sourcingAbcContainer .block-left.small .view .items .item2 {
    line-height: 16px;
}
.sourcingAbcContainer .block-left.small .sortBy .items .odd,
.sourcingAbcContainer .block-left.small .sortBy .items .even {
    line-height: 34px;
}
.sourcingAbcContainer .block-left .view,
.sourcingAbcContainer .block-left.big .view {
    height: 5.2%;
}
.sourcingAbcContainer .block-left.big .sortBy .items .odd,
.sourcingAbcContainer .block-left.big .sortBy .items .even {
    padding: 5px 15px;
}
.sourcingAbcContainer .block-left.biggest .view {
    height: 4.8%;
}
