body,
.block-right .map > div {
  overflow: hidden;
}

.m-t-20{
  margin-top: 20px;
}

.talkContainer .content,
.block-right .map > div,
.block-left,
.block-right,
.block-right .black-block .content{
  height: 678px;
}

.block-right .map,
.block-right .map img,
.block-right .black-block,
.block-right .black-block .content,
.block-right .line1,
.block-right .line2,
.block-right .line3,
.block-right .pink-block,
.pink-text,
.block-red1,
.block-red2,
.block-title img,
.block-left-desc,
.talk-form,
.talk-form .btn-submit{
  position: absolute;
}

.talk-form .name,
.talk-form .email,
.talk-form .bottom-block .country .my-label,
.talk-form .bottom-block .country .my-field,
.talk-form .bottom-block .viber .my-label,
.talk-form .bottom-block .viber .my-field,
.block-left,
.block-right,
.black-block .desc .left,
.black-block .desc .right{
  float: left;
}

.block-left-desc,
.talk-form input,
.talk-form .bottom-block .txt,
.talk-form .bottom-block .country .my-label,
.talk-form .bottom-block .viber .my-label,
.talk-form .btn-submit,
.block-right .black-block .content{
  color: white;
}

.block-left,
.block-right,
.black-block .desc .left,
.black-block .desc .right{
  width: 50%;
}

.talk-form .name,
.talk-form .bottom-block .country .my-label,
.talk-form .bottom-block .viber .my-label,
.talk-form .btn-submit{
  width: 40%;
}
.talk-form .email,
.talk-form .bottom-block .country .my-field,
.talk-form .bottom-block .viber .my-field{
  width: 60%;
}
.talk-form input,
.block-right .black-block .content,
.block-right .line1 ,
.block-right .line2{
  width: 100%;
}
.block-left-desc,
.talk-form input,
.talk-form .bottom-block .txt,
.talk-form .bottom-block .country .my-label,
.talk-form .bottom-block .viber .my-label,
.talk-form .btn-submit,
.block-right .black-block .content .desc{
  font-size: 12px;
}
.talk-form input,
.talk-form .bottom-block{
  border: 3px solid white;
}

.talkContainer{
  height: 100%;
  margin-top: -62px;
  background: url('/assets/images/talk-bg.jpg') center center no-repeat transparent;
  background-size: 100% 100%;
}

.talkContainer > .content{
  position: absolute;
  width: 1000px;
  top: calc(50% - 339px);
  left: calc(50% - 500px);
}

/*block-left*/
.talk-form,
.block-left-desc,
.block-title img{
  left: 50px;
}
.block-title img{
  width: 150px;
  top: 82px;
}
.block-left-desc{
  top: 120px;
  width: 395px;
}
.talk-form{
  width: 395px;
  top: 180px;
}
.talk-form input{
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 20px;
}
.talk-form input:focus{
  outline: 0;
}
.talk-form .name input{
  width: 95%;
}
.talk-form .line{
  margin-bottom: 5px;
}
.talk-form .bottom-block{
  padding: 15px 20px 30px;
}
.talk-form .bottom-block .txt{
  margin-bottom: 10px;
}
.talk-form .bottom-block .country .my-label,
.talk-form .bottom-block .viber .my-label{
  margin-top: 7px;
}
.talk-form .bottom-block .country .my-field,
.talk-form .bottom-block .viber .my-field{
  margin-bottom: 5px;
}
.talk-form .btn-submit,
.block-right .black-block .content .title,
.pink-text .title {
  font-weight: bold;
}
.talk-form .btn-submit {
  background: url(/assets/images/talk-btn.png) center center no-repeat transparent;
  background-size: 100% 100%;
  height: 40px;
  left: calc(50% - 77px);
  border: 0;
  text-transform: uppercase;
  margin-top: -20px;
}

/*block-right*/
.block-right .map,
.block-right .black-block,
.block-right .pink-block,
.block-right .line1{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.block-right .map{
  background: yellow;
  width: 180px;
  height: 180px;
  top: 118px;
  right: 282px;
  border: 10px solid #e83643;
  overflow: hidden;
}

.block-right .map > div{
  position: relative;
}

.block-right .map .location,
.block-right .map .marker,
.block-right .black-block .content,
.block-right .line2,
.block-right .line3{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.block-right .map .location{
  width: 450px;
  left: -97px;
  top: -81px;
}
.block-right .map .marker{
  width: 48px;
  top: 43px;
  left: 65px;
}

.block-right .black-block,
.block-right .pink-block{
  width: 300px;
  height: 300px;
}
.block-right .pink-block{
  background: #e83643;
  right: 130px;
  top: 270px;
}
.block-right .black-block{
  background: url(/assets/images/talk-black-rect.png) center center no-repeat transparent;
  background-size: 100% 100%;
  right: 95px;
  top: 270px;
}
.block-right .black-block .content{
  text-align: center;
  left: 155px;
  top: -40px;
  padding: 0 60px;
}
.block-right .black-block .content .title{
  font-size: 22px;
}
.black-block .desc .left{
  text-align: left;
}

/*
Lines
 */
.block-right .line1 ,
.block-right .line2 {
  background: #898989;
  height: 4px;
}
.block-right .line1 {
  right: -263px;
  top: 200px;
}
.block-right .line2 {
  right: -401px;
  top: 500px;
}
.block-right .line3{
  display: none;
  background: white;
  height: 4px;
  width: 20%;
  top: 90.5%;
  left: 41%
}
/*pink text*/
.pink-text{
  color: #e83643;
  right: 0;
  top: 100px;
  width: 280px;
}

.pink-text .title{
  font-size: 30px;
}
.pink-text .txt1,
.pink-text .txt2{
  font-size: 18px;
}
.pink-text .txt1{
  margin-left: 7%;
}
.pink-text .txt2{
  margin-left: 13%;
}

.block-red1{
  width: 90px;
  top: 382px;
  right: 25px;
}
.block-red2{
  width: 90px;
  top: 299px;
  right: 365px;
}

@media screen and (min-width: 1900px) {
  .talkContainer .content,
  .block-right .map > div,
  .block-left,
  .block-right,
  .block-right .black-block .content {
    height: 810px;
  }
  .talkContainer > .content {
    position: absolute;
    width: 1100px;
    top: calc(50% - 400px);
    left: calc(50% - 550px);
  }
  .block-title img{
    width: 200px;
    top: 0;
  }
  .block-left-desc,
  .talk-form {
    width: 525px;
  }
  .block-left-desc{
    top: 50px;
  }
  .talk-form {
    top: 130px;
  }
  .block-left-desc,
  .talk-form input,
  .talk-form .bottom-block .txt,
  .talk-form .bottom-block .country .my-label,
  .talk-form .bottom-block .viber .my-label,
  .talk-form .btn-submit,
  .block-right .black-block .content .desc{
    font-size: 16px;
  }
  .talk-form,
  .block-left-desc,
  .block-title img{
    left: 0;
  }
  .talk-form .line{
    margin-bottom: 10px;
  }
  .talk-form .bottom-block .country .my-field,
  .talk-form .bottom-block .viber .my-field{
    margin-bottom: 15px;
  }
  .block-right .black-block,
  .block-right .pink-block {
    width: 380px;
    height: 380px;
  }
  .block-right .black-block{
    right: 0;
  }
  .block-right .pink-block{
    right: 35px;
  }
  .block-right .black-block .content {
    left: 190px;
    top: -25px;
  }
  .block-red2 {
    width: 120px;
    top: 300px;
    right: 340px;
  }
  .block-right .line1 {
    right: -390px;
  }
  .block-right .line2 {
    right: -835px;
    top: 272px;
  }
  .block-red1 {
    width: 100px;
    top: 417px;
    right: -90px;
  }
  .block-right .map {
    width: 240px;
    height: 240px;
    top: 71px;
    right: 239px;
  }
  .pink-text {
    right: 0;
    top: 10px;
  }
  .pink-text .title {
    font-size: 32px;
  }
  .pink-text .txt1,
  .pink-text .txt2 {
    font-size: 20px;
  }
  .block-right .map .location {
    width: 580px;
    left: -125px;
    top: -100px;
  }
  .block-right .map .marker {
    width: 68px;
    top: 55px;
    left: 80px;
  }
}
