body, html {
  font-family: Myriad;
  padding: 0;
  margin: 0;
  height: 100%;
}
/*Commons*/
.welcome2 .video-block .block-back:before,
.welcome2 .video-block .block-back:after,
.welcome2 .video-block,
.welcome2 .video-block .content,
.welcome2 .video-block .block-back,
.welcome2 .video-block .content .block-left .top .title,
.welcome2 .text2,
.welcome2 .text3,
.welcome2 .text4,
.welcome2 .text5,
.welcome2 .text6,
.welcome2 .text1,
.welcome2 .layer,
.welcome2 .texts,
.welcome1 .content .text1 .gmp.redDot:after,
.welcome1 .content .texts,
.welcome1 .content{
  position: absolute;
}

.welcome2 .video-block .content .block-left .top .title,
.welcome2 .video-block .content .block-left .bottom,
.welcome2 .video-block .block-back .title,
.welcome1 .content .text2,
.welcome1 .content .text1{
  text-transform: uppercase;
}

.welcome2 .video-block .block-back,
.welcome2 .text2,
.welcome2 .text3,
.welcome2 .text4,
.welcome2 .text5,
.welcome2 .text6{
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.welcome2 .text2 div,
.welcome2 .text3 div,
.welcome2 .text4 div,
.welcome2 .text5 div,
.welcome2 .text6 div,
.welcome2 .video-block .block-back:before,
.welcome2 .video-block .block-back:after,
.welcome2 .video-block .block-back .title{
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.welcome2 .video-block .block-back,
.welcome1 .texts,
.welcome2 .text2 div,
.welcome2 .text3 div,
.welcome2 .text4 div,
.welcome2 .text5 div,
.welcome2 .text6 div{
  text-align: center;
}

.welcome2 .video-block .content .block-left .top .title,
.welcome2 .text1,
.welcome2 a,
.welcome1 .content .text1 .gmp,
.welcome2 .video-block .video-link.active{
  color: white;
}
/* / Commons*/

/*welcome1*/
.welcome1{
  background: #2c2c2c;
  height: 100%;
}
/* The animation code */
@keyframes zoomBg {
    0%   {background-size: 90% 90%;}
    100% {background-size: 110% 110%;}
}
@-o-keyframes zoomBg {
    0%   {background-size: 90% 90%;}
    100% {background-size: 110% 110%;}
}
@-moz-keyframes zoomBg {
    0%   {background-size: 90% 90%;}
    100% {background-size: 110% 110%;}
}
@-webkit-keyframes zoomBg {
    0%   {background-size: 90% 90%;}
    100% {background-size: 110% 110%;}
}
.welcome1 .layer1{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/assets/images/welcome1-layer1.png) center center no-repeat transparent;
  background-size: 90% 90%;
  animation: zoomBg 13s ease-in-out 0s infinite;
  -o-animation: zoomBg 13s ease-in-out 0s infinite;
  -moz-animation: zoomBg 13s ease-in-out 0s infinite;
  -webkit-animation: zoomBg 13s ease-in-out 0s infinite;
}
.welcome1 .shine{
  position: relative;
  width: 415px;
  height: 238px;
  left: calc(50% - 208px);
  top: calc(50% - 178px);
  overflow: hidden;
}
.welcome1 .shine img{
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.welcome1 .shine:after{
  content: "";
  position: absolute;
  background: rgba(255,255,255,0.4);
  top: 0;
  left: -50%;
  width: 10%;
  height: 100%;
	-webkit-transform: skew(-45deg);
	   -moz-transform: skew(-45deg);
	     -o-transform: skew(-45deg);
	        transform: skew(-45deg);
  transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  border-radius: 15px;
  -o-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  opacity: 0;
}
.welcome1 .shine.active:after{
  left: 150%;
  opacity: 1;
}
.welcome1 .content{
  width: 1024px;
  /*background: url(/assets/images/welcome1-logo.png) center center no-repeat transparent;
  background-size: 100% 100%;*/
  height: 640px;
  left: calc(50% - 512px);
  top: calc(50% - 320px);
}
.welcome1 .texts{
  bottom: 0;
  width: 100%;
}
.welcome1 .content .text1 .companyName{
  color: #b1b1b1;
  font-size: 22px;
}
.welcome1 .content .text1 .gmp.redDot{
  margin-right: 20px;
}
.welcome1 .content .text1 .gmp.redDot:after{
  content: '';
  width: 12px;
  height: 12px;
  background: #840003;
  right: -16px;
  top: 2px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.welcome1 .content .text1 .gmp{
  font-size: 16px;
  position: relative;
}
.welcome1 .text2{
  color: #cd3a44;
  font-family: Myriad-Bold;
  font-size: 22px;
  margin: 5px 0;
}
.welcome1 .text3{
  color: #a3a2a2;
  padding: 0 25px;
}
/* / welcome1*/

/* welcome2*/
.welcome2 .pepsiFont{
  font-family: "Pepsi";
}
.welcome2{
  height: 100%;
  background: url(/assets/images/welcome2-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.welcome2 .layer,
.welcome2 .content{
  width: 1024px;
  height: 640px;
}
.welcome2 .layer{
  top: 0;
}
.welcome2 .layer.float,
.welcome2 .layer.left{
  left: 0;
}
.welcome2 .texts,
.welcome2 .layer.right{
  right: 0;
}
.welcome2 a{
  cursor: pointer;
}
.welcome2 .texts{
  width: 530px;
  height: 640px;
}
.welcome2 .text1{
  font-family: Myriad-Light;
  right: 20px;
  top: calc(50% - 12px);
  font-size: 24px;
}
.welcome2 .text6,
.welcome2 .text5,
.welcome2 .text3,
.welcome2 .text2{
  width: 120px;
  height: 120px;
}
.welcome2 .text6,
.welcome2 .text2{
  right: 155px;
}
.welcome2 .text5,
.welcome2 .text3{
  right: 240px;
}
.welcome2 .text2{
  top: 92px;
}
.welcome2 .text6{
  bottom: 98px;
  line-height: 15px;
}
.welcome2 .text3{
  top: 177px;
}
.welcome2 .text5{
  bottom: 187px;
}
.welcome2 .text4{
  width: 160px;
  height: 160px;
  right: 332px;
  top: 240px;
}
.welcome2 .text2 div,
.welcome2 .text3 div,
.welcome2 .text5 div,
.welcome2 .text6 div{
  margin-top: 40px;
}
.welcome2 .text5 div{
  font-size: 20px;
}
.welcome2 .text4 div{
  margin-top: 80px;
  margin-left: 8px;
}
.welcome2 .text6 div span{
  font-size: 10px
}
.welcome2 img.layer1,
.welcome2 img.layer2,
.welcome2 img.layer3,
.welcome2 img.layer4,
.welcome2 img.layer5,
.welcome2 img.layer6{
  opacity: 0;
}
.welcome2 .video-block{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
}
.welcome2 .video-block .content{
  height: 380px;
  width: 750px;
  background: black;
  left: calc(50% - 375px);
  top: calc(50% - 192px);
  padding: 10px;
  transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
}
.welcome2 .video-block .content .block-left{
  float: left;
  height: 100%;
  width: 180px;
  position: relative;
}
.welcome2 .video-block .content .block-left .bottom,
.welcome2 .video-block .content .block-left .top{
  width: 100%;
  height: 50%;
}
.welcome2 .video-block .content .block-left .top img{
  width: 100%;
  height: 100%;
  display: none;
}
.welcome2 .video-block .content .block-left .top .title.welcomeVeterco{
  padding-top: 5px;
}
.welcome2 .video-block .content .block-left .top .title{
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  font-size: 26px;
  padding-left: 10px;
}
.welcome2 .video-block .content .block-left .top .title:after{
  content: "";
  position: absolute;
  height: 3px;
  width: 22%;
  background: white;
  bottom: -5px;
  left: 10px;
}
.welcome2 .video-block .content .block-left .bottom{
  background: #1b1b1b;
  padding: 50px 5px;
}
.welcome2 .video-block .content .block-right{
  float: right;
  height: 100%;
  width: calc(100% - 190px);
}
.welcome2 .video-block .content .block-right iframe{
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}
.welcome2 .video-block .video-link{
  color: #646464;
}
.welcome2 .video-block .block-back:before,
.welcome2 .video-block .block-back:after{
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.welcome2 .video-block .block-back:before{
  border-right: 20px solid white;
  bottom: -8px;
  left: 2px;
}
.welcome2 .video-block .block-back:after{
  border-right: 20px solid black;
  bottom: -7px;
  left: 3px;
}
.welcome2 .video-block .block-back{
  width: 60px;
  height: 60px;
  background: black;
  left: 55px;
  top: 150px;
}
.welcome2 .video-block .block-back .title{
  margin-top: 22px;
}
/* / welcome2*/



/* HD */
@media screen and (min-width: 1346px) {
  /*welcome1*/
  .welcome1 .content{
    width: 1084px;
    height: 678px;
    left: calc(50% - 542px);
    top: calc(50% - 339px);
  }
  .welcome1 .content .texts{
    bottom: 25px;
  }
  .welcome1 .content .text1 .companyName,
  .welcome1 .text2{
    font-size: 24px;
  }
  .welcome1 .content .text1 .gmp.redDot:after{
    top: 3px;
  }
  .welcome1 .content .text1 .gmp{
    font-size: 19px;
  }
  .welcome1 .text3{
    font-size: 16px;
    padding: 0 50px;
  }
  .welcome1 .shine{
    width: 443px;
    height: 255px;
    left: calc(50% - 220px);
    top: calc(50% - 192px);
  }
  /* / welcome1*/
  /* welcome2*/
  .welcome2 .layer,
  .welcome2 .content{
    width: 1084px;
    height: 678px;
  }
  .welcome2 .texts{
    width: 557px;
    height: 678px;
  }
  .welcome2 .text1{
    right: 30px;
    top: calc(50% - 15px);
    font-size: 25px;
  }
  .welcome2 .text6,
  .welcome2 .text5,
  .welcome2 .text3,
  .welcome2 .text2 {
    width: 125px;
    height: 125px;
  }
  .welcome2 .text2 {
    top: 98px;
  }
  .welcome2 .text6,
  .welcome2 .text2 {
    right: 164px;
  }
  .welcome2 .text5, .welcome2 .text3 {
    right: 254px;
  }
  .welcome2 .text3 {
    top: 187px;
  }
  .welcome2 .text4 {
    width: 170px;
    height: 170px;
    right: 351px;
    top: 254px;
  }
  /* / welcome2*/
}
/* / HD */
/* HD+ */
@media screen and (min-width: 1580px){
  /*welcome1*/
  .welcome1 .content{
    width: 1296px;
    height: 810px;
    left: calc(50% - 648px);
    top: calc(50% - 405px);
  }
  .welcome1 .content .text1 .companyName{
    font-size: 27px;
  }
  .welcome1 .content .text1 .gmp.redDot:after{
    top: 3px;
  }
  .welcome1 .content .text1 .gmp{
    font-size: 22px;
  }
  .welcome1 .text2{
    font-size: 27px;
    margin: 5px 0;
  }
  .welcome1 .text3{
    font-size: 19px;
  }
  .welcome1 .shine{
    width: 533px;
    height: 305px;
    left: calc(50% - 265px);
    top: calc(50% - 230px);
  }
  /* / welcome1*/
  /* welcome2*/
  .welcome2 .layer,
  .welcome2 .content{
    width: 1296px;
    height: 810px;
  }
  .welcome2 .texts{
    width: 740px;
    height: 810px;
  }
  .welcome2 .text1{
    top: calc(50% - 18px);
    font-size: 32px;
  }
  .welcome2 .text6,
  .welcome2 .text5,
  .welcome2 .text3,
  .welcome2 .text2 {
    width: 151px;
    height: 151px;
  }
  .welcome2 .text2 {
    top: 116px;
  }
  .welcome2 .text6,
  .welcome2 .text2 {
    right: 195px;
  }
  .welcome2 .text5, .welcome2 .text3 {
    right: 304px;
  }
  .welcome2 .text3 {
    top: 225px;
  }
  .welcome2 .text4 {
    width: 204px;
    height: 204px;
    right: 420px;
    top: 303px;
  }
  .welcome2 .text2 div,
  .welcome2 .text3 div,
  .welcome2 .text4 div,
  .welcome2 .text6 div{
    font-size: 18px;
  }
  .welcome2 .text6 div span {
    font-size: 12px;
  }
  .welcome2 .text6 div,
  .welcome2 .text5 div,
  .welcome2 .text2 div,
  .welcome2 .text3 div{
    margin-top: 50px;
  }
  .welcome2 .text4 div {
    margin-top: 100px;
    margin-left: 9px;
  }
  .welcome2 .text5 {
    bottom: 223px;
  }
  .welcome2 .text6 {
    bottom: 116px;
  }
  .welcome2 .text5 div {
    font-size: 22px;
  }
  /* / welcome2*/
}
/* / HD+ */
/* Full HD */
@media screen and (min-width: 1900px) {
  /* welcome1*/
  .welcome1 .shine{
    width: 670px;
    height: 385px;
    left: calc(50% - 330px);
    top: calc(50% - 290px);
  }
  /* / welcome1*/
  /* welcome2*/
  .welcome2 .layer,
  .welcome2 .content{
    width: 1583px;
    height: 990px;
  }
  .welcome2 .texts{
    width: 890px;
    height: 990px;
  }
  .welcome2 .text1{
    top: calc(50% - 21px);
    font-size: 40px;
  }
  .welcome2 .text6,
  .welcome2 .text5,
  .welcome2 .text3,
  .welcome2 .text2 {
    width: 185px;
    height: 185px;
  }
  .welcome2 .text2 {
    top: 143px;
  }
  .welcome2 .text6,
  .welcome2 .text2 {
    right: 240px;
  }
  .welcome2 .text5, .welcome2 .text3 {
    right: 370px;
  }
  .welcome2 .text3 {
    top: 272px;
  }
  .welcome2 .text4 {
    width: 248px;
    height: 248px;
    right: 514px;
    top: 371px;
  }
  .welcome2 .text2 div,
  .welcome2 .text3 div,
  .welcome2 .text4 div,
  .welcome2 .text6 div{
    font-size: 22px;
  }
  .welcome2 .text6 div span {
    font-size: 16px;
  }
  .welcome2 .text6 div,
  .welcome2 .text5 div,
  .welcome2 .text2 div,
  .welcome2 .text3 div{
    margin-top: 65px;
  }
  .welcome2 .text4 div {
    margin-top: 120px;
    margin-left: 10px;
  }
  .welcome2 .text5 {
    bottom: 270px;
  }
  .welcome2 .text6 {
    bottom: 141px;
  }
  .welcome2 .text5 div {
    font-size: 22px;
  }

  .welcome2 .video-block .content {
    height: 560px;
    width: 1024px;
    left: calc(50% - 512px);
    top: calc(50% - 280px);
  }
  .welcome2 .video-block .content .block-left {
    width: 270px;
  }
  .welcome2 .video-block .content .block-right {
    width: calc(100% - 280px);
  }
  .welcome2 .video-block .content .block-left .top .title {
    font-size: 40px;
  }
  .welcome2 .video-block .content .block-left .bottom {
    font-size: 18px;
    padding: 80px 5px;
  }
  .welcome2 .video-block .block-back {
    width: 90px;
    height: 90px;
    left: 93px;
    top: 225px;
  }
  .welcome2 .video-block .block-back .title {
    margin-top: 35px;
    font-size: 18px;
  }
  /* / welcome2*/
}
/* / Full HD */
/* > Full HD */
@media screen and (min-width: 1960px) {
  /*welcome1*/
  .welcome1 .content{
    width: 1638px;
    height: 1024px;
    left: calc(50% - 816px);
    top: calc(50% - 512px);
  }
  .welcome1 .content .text1 .companyName{
    font-size: 27px;
  }
  .welcome1 .content .text1 .gmp.redDot{
    margin-right: 20px;
  }
  .welcome1 .content .text1 .gmp.redDot:after{
    top: 3px;
  }
  .welcome1 .content .text1 .gmp{
    font-size: 25px;
  }
  .welcome1 .text2{
    font-size: 30px;
    margin: 5px 0;
  }
  .welcome1 .text3{
    font-size: 22px;
  }
  /* / welcome1*/
  /* welcome2*/
  .welcome2 .layer,
  .welcome2 .content{
    width: 2100px;
    height: 1313px;
  }
  .welcome2 .texts{
    width: 1080px;
    height: 1313px;
  }
  .welcome2 .text1{
    top: calc(50% - 25px);
    font-size: 50px;
  }
  .welcome2 .text6,
  .welcome2 .text5,
  .welcome2 .text3,
  .welcome2 .text2 {
    width: 250px;
    height: 250px;
  }
  .welcome2 .text2 {
    top: 190px;
  }
  .welcome2 .text6,
  .welcome2 .text2 {
    right: 313px;
  }
  .welcome2 .text5,
  .welcome2 .text3 {
    right: 488px;
  }
  .welcome2 .text3 {
    top: 360px;
  }
  .welcome2 .text4 {
    width: 330px;
    height: 330px;
    right: 680px;
    top: 492px;
  }
  .welcome2 .text2 div,
  .welcome2 .text3 div,
  .welcome2 .text4 div,
  .welcome2 .text6 div{
    font-size: 28px;
  }
  .welcome2 .text6 div span {
    font-size: 21px;
    line-height: 30px;
  }
  .welcome2 .text6 div,
  .welcome2 .text5 div,
  .welcome2 .text2 div,
  .welcome2 .text3 div{
    margin-top: 90px;
  }
  .welcome2 .text4 div {
    margin-top: 160px;
    margin-left: 10px;
  }
  .welcome2 .text5 {
    bottom: 355px;
  }
  .welcome2 .text6 {
    bottom: 185px;
  }
  .welcome2 .text5 div {
    font-size: 36px;
  }
  /* / welcome2*/
}
/* / > Full HD */
