@font-face {font-family: 'Myriad-Bold';src: url('../font/Myriad_Pro_font/MyriadPro-Bold.eot');src: url('../font/Myriad_Pro_font/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),url('../font/Myriad_Pro_font/MyriadPro-Bold.woff2') format('woff2'),url('../font/Myriad_Pro_font/MyriadPro-Bold.woff') format('woff'),url('../font/Myriad_Pro_font/MyriadPro-Bold.ttf') format('truetype');}
@font-face {font-family: 'Myriad-Light';src: url('../font/Myriad_Pro_font/MyriadPro-Light.eot');src: url('../font/Myriad_Pro_font/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),url('../font/Myriad_Pro_font/MyriadPro-Light.woff2') format('woff2'),url('../font/Myriad_Pro_font/MyriadPro-Light.woff') format('woff'),url('../font/Myriad_Pro_font/MyriadPro-Light.ttf') format('truetype');}
@font-face {font-family: 'Myriad';src: url('../font/Myriad_Pro_font/MyriadPro-Regular.eot');src: url('../font/Myriad_Pro_font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),url('../font/Myriad_Pro_font/MyriadPro-Regular.woff2') format('woff2'),url('../font/Myriad_Pro_font/MyriadPro-Regular.woff') format('woff'),url('../font/Myriad_Pro_font/MyriadPro-Regular.ttf') format('truetype');}
@font-face {font-family: 'Pepsi';src: url('../font/PEPSI_pl.eot');src: url('../font/PEPSI_pl.eot?#iefix') format('embedded-opentype'),url('../font/PEPSI_pl.woff2') format('woff2'),url('../font/PEPSI_pl.woff') format('woff'),url('../font/PEPSI_pl.ttf') format('truetype');}

body{
  background-color: #eee;
}

.m-r-10{
  margin-right: 10px;
}

.m-l-10{
  margin-left: 10px;
}

.no-p-l{
  padding-left: 0;
}
.no-p-r{
  padding-right: 0;
}

.exp-p{
  padding-left: 21px;
  padding-right: 0px
}

.sp-btn-w{
  width: 215px;
}

.text-transparent{
  opacity: 0;
}
.actionTabName{
  min-width: 200px;
}
.actionTab{
  min-width: 220px;
}
.actionTab2{
  min-width: 300px;
}
.myHr{
  border-top: 1px solid black;
  margin: 0;
}
.myHr2{
  border-top: 1px solid black;
}

.loadingPage{
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.loadingPage img{
  position: absolute;
  width: 10%;
  left: 50%;
  top: 18%;
  margin-left: -5%;
}
.loadingPage .text{
  position: absolute;
  font-family: Myriad-Bold;
  color: white;
  font-size: 35px;
  top: 40%;
  left: 50%;
  margin-left: -77px;
}

/*Login Container*/
.loginContainer .block-people,
.loginContainer .block-people:before,
.loginContainer .block-people img,
.loginContainer .block2,
.loginContainer .block2 .halfBlack,
.loginContainer .block2-bg,
.loginContainer .block2-bg:before,
.loginContainer .block2-bg:after,
.loginContainer .block2 .title,
.loginContainer .block-arrow,
.loginContainer .block1,
.loginContainer .block1-outside-bg2,
.loginContainer .block1-outside-bg,
.loginContainer .block1-outside-bg:after,
.loginContainer .block1 .title,
.loginContainer.active .login{
  position: absolute;
}
.loginContainer .block-people,
.loginContainer .block2,
.loginContainer .block2 .halfBlack,
.loginContainer .block-arrow,
.loginContainer .block1,
.loginContainer .block1-outside-bg:after,
.loginContainer.active .login{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.loginContainer .block-people img,
.loginContainer .block2-bg:before,
.loginContainer .block2-bg:after,
.loginContainer .block2 .title,
.loginContainer .block-arrow img,
.loginContainer .block1-outside-bg2,
.loginContainer .block1 .title,
.loginContainer.active .block1,
.loginContainer.active .block-arrow{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.loginContainer.active .block1 .title,
.loginContainer{
  display: none;
}
.loginContainer .content{
  position: relative;
}
.loginContainer,
.loginContainer .block-people .line,
.loginContainer .block1-bg,
.loginContainer.active .login .fields input{
  width: 100%;
}
.loginContainer .block-people,
.loginContainer .block-arrow{
  width: 90px;
  height: 90px;
}
.loginContainer .block-people:before,
.loginContainer .block1-outside-bg:after{
  border-left: 2px solid black;
}
.loginContainer .block-people:before,
.loginContainer .block2-bg:before,
.loginContainer .block2-bg:after,
.loginContainer .block1-outside-bg:after{
  content: "";
}
.loginContainer .block-people .line,
.loginContainer .block-arrow,
.loginContainer .block1-bg{
  background: black;
}
.loginContainer .block-people .line,
.loginContainer .block1-bg{
  height: 100%;
}
.loginContainer .block1,
.loginContainer .block2{
  width: 200px;
  height: 200px;
}
.loginContainer .block2-bg:before,
.loginContainer .block2-bg:after{
  border-top: 2px solid black;
}
.loginContainer .block2 .title,
.loginContainer .block1 .title,
.loginContainer.active .login .subTitle,
.loginContainer.active .login .fields label,
.loginContainer.active .login .fields input{
  color: white;
}
.loginContainer .block2 .title,
.loginContainer .block1 .title,
.loginContainer.active .login .fields label{
  text-transform: uppercase;
}
.loginContainer .block-arrow,
.loginContainer .block1,
.loginContainer .block1-outside-bg2,
.loginContainer .block1-outside-bg,
.loginContainer .block1-outside-bg:after{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.loginContainer .block2 .title,
.loginContainer .block1 .title,
.loginContainer.active .form-title{
  font-weight: bold;
}
.loginContainer.active .login .subTitle,
.loginContainer .block1 .title,
.loginContainer.active .login .fields input{
  font-size: 18px;
}

.loginContainer .content{
  height: 800px;
  width: 1200px;
  margin: auto;
}
.loginContainer{
  background: rgba(255, 255, 255, 0.5);
  z-index: 99999999;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.loginContainer .block-people{
  left: 20%;
  top: 25%;
}
.loginContainer .block-people:before{
  width: 500%;
  height: 500%;
  top: -270%;
  left: 40%;
}
.loginContainer .block-people img{
  top: 10px;
  left: 13px;
}
.loginContainer .block2{
  background: #bd114c;
  left: 30%;
  top: 30%;
  overflow: hidden;
}
.loginContainer .block2 .halfBlack{
  width: 142%;
  height: 142%;
  top: -71%;
  left: 29%;
  background: rgba(0, 0, 0, 0.1);
}
.loginContainer .block2-bg{
  left: 29.5%;
  top: 45%;
}
.loginContainer .block2-bg:before{
  width: 1300%;
  height: 1300%;
  left: -375%;
  top: -10%;
}
.loginContainer .block2-bg:after{
  width: 700%;
  height: 700%;
  right: -250%;
  top: 170%;
}
.loginContainer .block2 .title{
  font-size: 32px;
  left: 8%;
  top: 38%;
}
.loginContainer .block-arrow{
  top: 50%;
  left: 34.6%;
}
.loginContainer .block-arrow img{
  margin-top: 35px;
  margin-left: 28px;
}

.loginContainer .block1{
  left: 46.5%;
  top: 41.5%;
}
.loginContainer .block1-outside-bg2{
  border-left: 140px solid transparent;
  border-bottom: 140px solid #b41145;
  left: 54%;
  top: 45.2%;
}
.loginContainer .block1-outside-bg{
  top: 56.2%;
  left: 45.5%;
}
.loginContainer .block1-outside-bg:after{
  width: 320%;
  height: 320%;
  left: 60%;
  top: -20%;
}
.loginContainer .block1 .title,
.loginContainer.active .login{
  text-align: center;
}
.loginContainer .block1 .title{
  left: -17%;
  top: 32%;
  width: 130%;
}

.loginContainer.active .block1{
  width: 480px;
  height: 480px;
  left: 38%;
  top: 25.5%;
}
.loginContainer.active .block-arrow{
  z-index: 999;
  background: #1a1a1a;
}
.loginContainer.active .block1-outside-bg{
  top: 82%;
  left: 48%;
}
.loginContainer.active .block1-outside-bg:after{
  width: 640%;
  height: 640%;
  top: -120%;
}
.loginContainer.active .block1-outside-bg2{
  left: 74%;
  top: 46.7%;
}
.loginContainer.active .login{
  width: 80%;
  left: 50%;
  top: 50%;
  margin: -45% 0 0 -37%;
  -webkit-transition: opacity 1s 1s ease-in-out;
  -moz-transition: opacity 1s 1s ease-in-out;
  -o-transition: opacity 1s 1s ease-in-out;
  transition: opacity 1s 1s ease-in-out;
  opacity: 1;
}
.loginContainer .login{
  opacity: 0;
}
.loginContainer.active .form-title{
  color: #e70e4c;
  font-size: 40px;
}
.loginContainer.active .login .fields{
  margin: 25px auto;
  text-align: left;
  width: 78%;
}
.loginContainer.active .login .fields label{
  display: block;
  font-size: 20px;
}
.loginContainer.active .login .fields input{
  background: transparent;
  border-radius: 10px;
  height: 50px;
  border: 3px solid #989797;
  padding: 0 15px;
}
.loginContainer.active .login .fields input:focus{
  outline: 0;
}
.loginContainer.active .login .fields .password{
  margin-top: 10px;
}
/* / Login Container*/
