body{
  background-color: #eee;
}

.m-r-10{
  margin-right: 10px;
}

.m-l-10{
  margin-left: 10px;
}

.no-p-l{
  padding-left: 0;
}
.no-p-r{
  padding-right: 0;
}

.exp-p{
  padding-left: 21px;
  padding-right: 0px
}

.sp-btn-w{
  width: 215px;
}

.text-transparent{
  opacity: 0;
}
.actionTabName{
  min-width: 200px;
}
.actionTab{
  min-width: 220px;
}
.actionTab2{
  min-width: 300px;
}
.myHr{
  border-top: 1px solid black;
  margin: 0;
}
.myHr2{
  border-top: 1px solid black;
}

.loadingPage{
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.loadingPage img{
  position: absolute;
  width: 10%;
  left: 50%;
  top: 18%;
  margin-left: -5%;
}
.loadingPage .text{
  position: absolute;
  font-family: Myriad-Bold;
  color: white;
  font-size: 35px;
  top: 40%;
  left: 50%;
  margin-left: -77px;
}
