body{
  overflow: hidden;
}
.h-full{
  height: 100%;
}
.w-full{
  width: 100%;
}
.p-ab{
  position: absolute;
}
.rotate-45{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rotate-nag-45{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.whoContainer{
  background: url(../images/who-white-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
  margin-top: -62px;
}
.whoContainer .content{
  height: 100%;
}
.block-left{
  background: url(../images/who-black-bg-left.png) center center no-repeat transparent;
  background-size: 100% 100%;
  position: relative;
}
.block-left2{
  background: url(../images/who-black-bg-left-2.png) center center no-repeat transparent;
  background-size: 100% 100%;
}
.block-right{
  background: url(../images/who-black-bg-right.png) center center no-repeat transparent;
  background-size: 100% 100%;
  position: relative;
}
.block-right2{
  background: url(../images/who-black-bg-right-2.png) center center no-repeat transparent;
  background-size: 100% 100%;
}
.text-block{
  width: 300px;
  color: white;
  font-size: 14px;
  left: calc(50% - 180px);
  height: 350px;
  top: calc(50% - 170px);
}
.big .text-block{
  font-size: 22px;
}
.biggest .text-block{
  font-size: 26px;
}
.text1,
.text2{
  color: #00c1f1;
  bottom: 0;
  font-family: Myriad-Bold;
}
.text-block .text-item{
  position: relative;
  margin-bottom: 5px;
}
.text-block .text-item:before{
  content: "";
  width: 7px;
  height: 8px;
  background: #00c4eb;
  position: absolute;
  top: 5px;
  left: -15px;
}
/*Location*/
.capacity-block,
.manufacturing-block,
.location-block{
  width: 1000px;
  height: 574px;
  left: calc(50% - 500px);
  top: calc(50% - 277px);
}

.capacity-block .capacity4 img.blockItem,
.capacity-block .capacity3 img.blockItem,
.capacity-block .capacity2 img.blockItem,
.capacity-block .capacity1 img.blockItem,
.manufacturing-block .manu4 img.blockItem,
.manufacturing-block .manu3 img.blockItem,
.manufacturing-block .manu2 img.blockItem,
.manufacturing-block .manu1 img.blockItem,
.location-block .location4 img.blockItem,
.location-block .location3 img.blockItem,
.location-block .location2 img.blockItem,
.location-block .location1 img.blockItem{
  width: 100%;
}

 .location-block .text1{
  margin-bottom: 35px;
  margin-left: -50px;
  font-size: 30px;
}
 .location-block .text2{
  font-size: 38px;
  margin-bottom: 25px;
  margin-left: -5px;
}
.biggest .location-block .text1{
  margin-bottom: 55px;
  margin-left: -55px;
  font-size: 40px;
}
.biggest .location-block .text2{
  font-size: 50px;
  margin-bottom: 35px;
}
.location-block .location1:before,
.location-block .location1:after{
  content: "";
  background: #c2c2c2;
  height: 7px;
  width: 200%;
  position: absolute;
}
.location-block .location1:before{
  top: -20px;
  left: 0;
}
.location-block .location1:after{
  bottom: -20px;
  left: 15%;
}
.location-block .location1{
  right: 50px;
  bottom: 15px;
  width: 260px;
}
.location-block .location2{
  top: 0;
  left: 102px;
  width: 185px;
}
.location-block .location3{
  top: 50px;
  right: 135px;
  width: 190px;
}
.location-block .location3-diamond{
  top: -30%;
  right: -15%;
}
.location-block .location4:before{
  content: "";
  background: white;
  height: 5px;
  width: 258%;
  position: absolute;
  margin-top: -20px;
  top: 0;
  left: -58%;
}
.location-block .location4{
  left: 50px;
  bottom: 15px;
  width: 220px;
}
/* / Location */
/*Manufacturing*/
.manufacturing-block .manu1:after{
  content: "";
  height: 5px;
  background: #c2c2c2;
  width: 130%;
  position: absolute;
  left: 20%;
  bottom: -5%;
}
.manufacturing-block .manu1{
  bottom: 15px;
  left: 100px;
  width: 280px;
}
.manufacturing-block .manu1 .manu-diamond{
  top: -52px;
  right: -30px;
  width: 100px;
}
.manufacturing-block .manu2:before{
  content: "";
  height: 5px;
  width: 350%;
  background: white;
  top: 174%;
  left: calc(-74% + 10px);
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.manufacturing-block .manu2 img{
  width: 220px;
}
.manufacturing-block .manu2{
  right: 50px;
  top: 40px;
  width: 165px;
}
.manufacturing-block .manu4{
  right: 50px;
  bottom: 15px;
  width: 215px;
}
 .manufacturing-block .text1{
   margin-bottom: 38px;
   margin-left: -70px;
   font-size: 28px;
}
 .manufacturing-block .text2{
   font-size: 44px;
   margin-left: 24px;
}
.manufacturing-block .manu1:before{
  content: "";
  background: #c2c2c2;
  width: 270%;
  height: 5px;
  position: absolute;
  right: calc(-35% + 15px);
  top: 134%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.manufacturing-block .manu3{
  top: 75px;
  left: 35px;
  width: 180px;
}
.manufacturing-block .manu4 img{
  width: 325px;
}
.manufacturing-block .text-block {
    left: calc(50% - 90px);
    top: calc(50% - 155px);
  }
/* / Manufacturing*/
/* Capacity */
.capacity-block .text-block{
  font-family: Myriad-Bold;
  line-height: 40px;
}
.capacity-block .text-block {
    width: 440px;
    left: calc(50% - 255px);
    top: calc(50% - 120px);
}
.capacity1{
  bottom: 20px;
  left: 60px;
  width: 230px;
}
.capacity2:after{
  content: "";
  background: white;
  height: 5px;
  width: 290%;
  position: absolute;
  bottom: -61%;
  left: -48%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.capacity2{
  top: 10px;
  left: 70px;
  width: 190px;
}
.capacity2 .text1{
  font-size: 45px;
  top: 50%;
  margin-top: -30px;
  margin-left: -65px;
}
.capacity3{
  right: 205px;
  top: 50px;
  width: 130px;
}
.capacity4:before,
.capacity4:after{
  content: "";
  height: 5px;
  background: #c2c2c2;
  position: absolute;
}
.capacity4:before{
  top: -20px;
  left: 0;
  width: 130%;
}
.capacity4:after{
  width: 130%;
  left: 10%;
  bottom: -20px;
}
.capacity4{
  right: 60px;
  bottom: 30px;
  width: 300px;
}
/* / Capacity */
/* Hight Quality */
.hight-quality-block .text1{
  margin-bottom: 15px;
  margin-left: -85px;
  font-size: 32px;
}
.hight-quality-block .text2{
  font-size: 34px;
  margin-bottom: -10px;
  margin-left: -85px;
}
.hight-quality-block .text-block{
  font-size: 12px;
}
.hight-quality-block .manu1 .bigImg{
  width: 375px;
}
.hight-quality-block .manu3{
  top: 30px;
  left: 165px;
}
.hight-quality-block .manu1 {
  bottom: 60px;
  left: 55px;
  width: 265px;
}
.hight-quality-block .text-block {
  top: calc(50% - 115px);
}
/* / Hight Quality */
/* GMP */
.gmp-block .capacity1{
  left: 45px;
  bottom: 45px;
  width: 210px;
}
.gmp-block .capacity2{
  left: 80px;
  top: 40px;
  width: 160px;
}
.gmp-block .capacity3{
  right: 235px;
  top: 150px;
  width: 90px;
  z-index: 9;
}
.gmp-block .capacity4::before{
  top: -20px;
  right: 0;
  width: 200%;
  left: initial;
}
.gmp-block .capacity2:after{
  content: "";
  background: white;
  height: 5px;
  width: 470%;
  position: absolute;
  bottom: -20px;
  left: 30%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.gmp-block .text1{
  font-size: 28px;
  margin-bottom: 28px;
  margin-left: -55px;
  top: initial;
}
.gmp-block .text2{
  font-size: 36px;
  margin-left: -50px;
}
.gmp-block .text-block{
  line-height: 23px;
  font-family: Myriad;
}
/* / GMP */
/* LAB */
.lab-block .text1{
  margin-bottom: 10px;
  margin-left: -120px;
  font-size: 30px;
}
.lab-block .text2{
  margin-left: -45px;
  font-size: 40px;
  margin-bottom: -20px;
}
.lab-block .manu1 .bigImg{
  width: 375px;
}
.lab-block .manu1:before{
  top: 120%;
}
.lab-block .text-block {
  left: calc(50% - 165px);
  top: calc(50% - 115px);
  width: 380px;
}
/* / LAB */
.carousel-indicators{
  display: none;
}
#myCarousel,
#myCarousel .carousel-inner,
#myCarousel .carousel-inner .item,
#myCarousel .carousel-inner .item.active{
 height: 100%;
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img{
 margin: auto;
 height: 100%;
}
.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right{
 width: 30px;
 height: 30px;
 margin-top: -15px;
 font-size: 30px
}
.carousel-control .glyphicon-menu-left,
.carousel-control .icon-prev{
 margin-left: -15px;
}
.carousel-control .glyphicon-menu-right,
.carousel-control .icon-next{
 margin-right: -15px;
}
.carousel-control{
 color: white;
}
.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right,
.nav-bg{
 position: absolute;
 top: 50%;
 z-index: 5;
}
.nav-bg{
 width: 0px;
 height: 0px;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
 margin-left: -25px;
 margin-top: -25px;
}
.right .nav-bg{
  /*margin-left: 60px;*/
  border-top: 40px solid #636363;
  border-left: 40px solid transparent;
}
.left .nav-bg{
  /*margin-left: -100px;*/
  border-bottom: 40px solid #636363;
  border-right: 40px solid transparent;
}
.carousel-control.left,
.carousel-control.right,
.carousel-control:focus,
.carousel-control:hover{
 background: none;
 opacity: 1
}
.carousel-caption{
 color: black;
 left: initial;
 right: 1%;
 bottom: 3%;
 width: 23%;
 text-transform: uppercase;
 text-align: left;
 border: 10px solid black;
 padding: 0 15px;
}
.carousel-caption h1:before{
 content: "";
 position: absolute;
 width: 7.5%;
 height: 5px;
 background: black;
 margin-top: 10%;
}
.carousel-caption h1{
 font-weight: bold;
 margin-bottom: 25px;
}
.carousel-caption p{
 font-size: 16px;
}
.glyphicon-menu-left:before,
.glyphicon-menu-right:before{
  content: "";
}

@media screen and (min-width: 1300px) {
  .capacity-block,
  .manufacturing-block,
  .location-block {
    width: 1300px;
    left: calc(50% - 650px);
  }
  .capacity-block .text-block,
  .manufacturing-block .text-block,
  .text-block {
    width: 550px;
    font-size: 16px;
    left: calc(50% - 300px);
    top: calc(50% - 130px);
  }
  .manufacturing-block .text-block {
    left: calc(50% - 200px);
  }
}
