body{
  overflow: hidden;
}
.h-full{
  height: 100%;
}
.w-full{
  width: 100%;
}
.p-ab{
  position: absolute;
}
.rotate-45{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rotate-nag-45{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.whoContainer{
  background: url(../images/who-white-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
  margin-top: -62px;
}
.whoContainer .content{
  height: 100%;
}
.block-left{
  background: url(../images/who-black-bg-left.png) center center no-repeat transparent;
  background-size: 100% 100%;
}
.block-left2{
  background: url(../images/who-black-bg-left-2.png) center center no-repeat transparent;
  background-size: 100% 100%;
}
.block-right{
  background: url(../images/who-black-bg-right.png) center center no-repeat transparent;
  background-size: 100% 100%;
}
.block-right2{
  background: url(../images/who-black-bg-right-2.png) center center no-repeat transparent;
  background-size: 100% 100%;
}
.text-block{
  width: 30%;
  margin: auto;
  padding-top: 18%;
  color: white;
  font-size: 18px;
}
.big .text-block{
  font-size: 22px;
}
.biggest .text-block{
  font-size: 26px;
}
.text1,
.text2{
  color: #00c1f1;
  bottom: 0;
  font-family: Myriad-Bold;
}
.text-block .text-item{
  position: relative;
  margin-bottom: 5px;
}
.text-block .text-item:before{
  content: "";
  width: 7px;
  height: 8px;
  background: #00c4eb;
  position: absolute;
  top: 5px;
  left: -15px;
}
/*Location*/
 .location-block .text1{
  margin-bottom: 40px;
  margin-left: -50px;
  font-size: 32px;
}
 .location-block .text2{
  font-size: 40px;
  margin-bottom: 25px;
  margin-left: -5px;
}
.biggest .location-block .text1{
  margin-bottom: 55px;
  margin-left: -55px;
  font-size: 40px;
}
.biggest .location-block .text2{
  font-size: 50px;
  margin-bottom: 35px;
}
.location-block .location1:before,
.location-block .location1:after{
  content: "";
  background: #c2c2c2;
  height: 7px;
  width: 200%;
  position: absolute;
}
.location-block .location1:before{
  top: -20px;
  left: 0;
}
.location-block .location1:after{
  bottom: -20px;
  left: 15%;
}
.location-block .location1{
  right: 11%;
  top: 46.5%;
}
.small .location-block .location1{
  right: 7.5%;
  top: 50%;
}
.small .location-block .location1 img{
  width: 300px;
}
.big .location-block .location1{
  right: 6%;
  top: 51.5%;
}
.big .location-block .location1 img{
  width: 440px;
}
.biggest .location-block .location1{
  right: 7%;
  top: 50%;
}
.biggest .location-block .location1 img{
  width: 550px;
}
.location-block .location2{
  top: 17%;
  left: 24%;
}
.small .location-block .location2{
  top: 14%;
  left: 22%;
}
.big .location-block .location2{
  top: 16%;
  left: 24%;
}
.big .location-block .location2 img{
  width: 250px;
}
.biggest .location-block .location2{
  top: 17%;
  left: 24%;
}
.biggest .location-block .location2 img{
  width: 290px;
}
.location-block .location3{
  top: 15%;
  right: 17.5%;
}
.location-block .location3-diamond{
  top: -30%;
  right: -15%;
}
.small .location-block .location3{
  top: 15%;
  right: 14%;
}
.big .location-block .location3 > img{
  width: 350px;
}
.big .location-block .location3{
  top: 15%;
  right: 12.5%;
}
.big .location-block .location3-diamond{
  width: 155px !important;
}
.biggest .location-block .location3{
  top: 15%;
  right: 14%;
}
.biggest .location-block .location3 img{
  width: 400px;
}
.biggest .location-block .location3-diamond{
  width: 175px !important;
}
.location-block .location4:before{
  content: "";
  background: white;
  height: 5px;
  width: 258%;
  position: absolute;
  margin-top: -20px;
  top: 0;
  left: -58%;
}
.small .location-block .location4:before{
  width: 250%;
  top: 0;
  left: -58%;
}
.big .location-block .location4:before{
  width: 260%;
  top: 0;
  left: -60%;
}
.biggest .location-block .location4:before{
  width: 254%;
  top: 0;
  left: -54%;
}
.location-block .location4{
  left: 20%;
  top: 54.5%;
}
.small .location-block .location4{
  left: 17.5%;
  top: 57%;
}
.small .location-block .location4 img{
  width: 250px;
}
.big .location-block .location4 img{
  width: 320px;
}
.big .location-block .location4{
  left: 20.5%;
  top: 53.5%;
}
.biggest .location-block .location4{
  left: 20%;
  top: 53%;
}
.biggest .location-block .location4 img{
  width: 400px;
}
/* / Location */
/*Manufacturing*/
.small .manufacturing-block .text-block{
  font-size: 15px;
}
.manufacturing-block .manu1:after{
  content: "";
  height: 5px;
  background: #c2c2c2;
  width: 130%;
  position: absolute;
  left: 20%;
  bottom: -5%;
}
.manufacturing-block .manu1{
  top: 45%;
  left: 13.2%;
}
.manufacturing-block .manu1 .manu-diamond{
  top: -17%;
  right: -10%;
}
.small .manufacturing-block .manu1 img{
  width: 330px;
}
.small .manufacturing-block .manu1 .manu-diamond{
  width: 110px;
}
.small .manufacturing-block .manu1{
  top: 44%;
  left: 11.8%;
}
.big .manufacturing-block .manu1 img{
  width: 450px;
}
.big .manufacturing-block .manu1 .manu-diamond{
  width: 150px;
}
.biggest .manufacturing-block .manu1 img{
  width: 530px;
}
.biggest .manufacturing-block .manu1 .manu-diamond{
  width: 175px;
}
.manufacturing-block .manu2:before{
  content: "";
  height: 5px;
  width: 350%;
  background: white;
  top: 174%;
  left: calc(-74% + 10px);
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.small .manufacturing-block .manu2:before{
  top: 174%;
  left: calc(-74% + 10px);
}
.manufacturing-block .manu2 img{
  width: 220px;
}
.manufacturing-block .manu2{
  right: 20%;
  top: 18%;
}
.small .manufacturing-block .manu2 img{
  width: 188px;
}
.big .manufacturing-block .manu2 img{
  width: 270px;
}
.biggest .manufacturing-block .manu2 img{
  width: 320px;
}
 .manufacturing-block .text1{
   margin-bottom: 50px;
   margin-left: -75px;
   font-size: 32px;
}
 .manufacturing-block .text2{
   font-size: 48px;
   margin-left: 30px;
}
.biggest .manufacturing-block .text1{
  margin-bottom: 65px;
  margin-left: -170px;
  font-size: 60px;
}
.biggest .manufacturing-block .text2{
  font-size: 50px;
  /*margin-bottom: 35px;*/
}
.manufacturing-block .manu1:before{
  content: "";
  background: #c2c2c2;
  width: 270%;
  height: 5px;
  position: absolute;
  right: calc(-35% + 15px);
  top: 134%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.manufacturing-block .manu3{
  top: 23%;
  left: 7.5%;
}
.small .manufacturing-block .manu3 img{
  width: 175px;
}
.big .manufacturing-block .manu3 img{
  width: 275px;
}
.biggest .manufacturing-block .manu3 img{
  width: 325px;
}
.manufacturing-block .manu4 img{
  width: 325px;
}
.small .manufacturing-block .manu4 img{
  width: 261px;
}
.big .manufacturing-block .manu4 img{
  width: 400px;
}
.biggest .manufacturing-block .manu4 img{
  width: 480px;
}
.manufacturing-block .manu4{
  right: 17.2%;
  top: 55%;
}
.small .manufacturing-block .manu4{
  right: 17.2%;
  top: 55%;
}
/* / Manufacturing*/
/* Capacity */
.capacity-block .text-block{
  font-family: Myriad-Bold;
  line-height: 40px;
}
.small .capacity-block .text-block{
  font-size: 15px;
}
.capacity1{
  top: 49.5%;
  left: 21%;
}
.small .capacity1 img{
  width: 245px;
}
.big .capacity1 img{
  width: 358px;
}
.biggest .capacity1 img{
  width: 448px;
}
.capacity2:after{
  content: "";
  background: white;
  height: 5px;
  width: 290%;
  position: absolute;
  bottom: -61%;
  left: -48%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.capacity2{
  top: 13%;
  left: 24.5%;
}
.small .capacity2 img{
  width: 220px;
}
.big .capacity2 img{
  width: 310px;
}
.biggest .capacity2 img{
  width: 360px;
}
.capacity2 .text1{
  font-size: 55px;
  top: 50%;
  margin-top: -35px;
  margin-left: -65px;
}
.small .capacity2 .text1{
  font-size: 48px;
  margin-left: -55px;
  margin-top: -32px;
}
.big .capacity2 .text1{
  font-size: 60px;
  margin-top: -40px
}
.biggest .capacity2 .text1{
  font-size: 65px;
  margin-top: -40px;
}
.capacity3{
  right: 17.7%;
  top: 17.5%;
}
.small .capacity3 img{
  width: 130px;
}
.big .capacity3 img{
  width: 186px;
}
.biggest .capacity3 img{
  width: 225px;
}
.capacity4:before,
.capacity4:after{
  content: "";
  height: 5px;
  background: #c2c2c2;
  position: absolute;
}
.capacity4:before{
  top: -20px;
  left: 0;
  width: 130%;
}
.capacity4:after{
  width: 130%;
  left: 10%;
  bottom: -20px;
}
.capacity4{
  right: 7.5%;
  top: 41%;
}
.small .capacity4 img{
  width: 335px;
}
.big .capacity4 img{
  width: 490px;
}
.biggest .capacity4 img{
  width: 580px;
}
/* / Capacity */
/* Hight Quality */
.hight-quality-block .text1{
  margin-bottom: 25px;
  margin-left: -100px;
  font-size: 38px;
}
.small .hight-quality-block .text1{
  margin-bottom: 25px;
  margin-left: -85px;
  font-size: 34px;
}
.big .hight-quality-block .text1{
  margin-bottom: 40px;
  margin-left: -110px;
  font-size: 44px;
}
.biggest .hight-quality-block .text1{
  margin-bottom: 45px;
  margin-left: -120px;
  font-size: 50px;
}
.hight-quality-block .text2{
  font-size: 40px;
  margin-bottom: -5px;
  margin-left: -90px;
}
.small .hight-quality-block .text2{
  font-size: 36px;
  margin-left: -80px;
}
.big .hight-quality-block .text2{
  font-size: 47px;
  margin-bottom: 5px;
  margin-left: -100px;
}
.biggest .hight-quality-block .text2{
  font-size: 55px;
  margin-bottom: 10px;
  margin-left: -110px;
}
.hight-quality-block .text-block{
  font-size: 15px;
}
.small .hight-quality-block .text-block{
  font-size: 13px;
}
.big .hight-quality-block .text-block{
  font-size: 19px;
}
.biggest .hight-quality-block .text-block{
  font-size: 23px;
}
.hight-quality-block .manu1 .bigImg{
  width: 375px;
}
.hight-quality-block .manu1 .manu-diamond{
  top: -17.5%;
  right: -10%;
}
.hight-quality-block .manu3{
  top: 16%;
  left: 21.4%;
}
.small .hight-quality-block .manu3 img{
  width: 190px;
}
/* / Hight Quality */
/* GMP */
.gmp-block .capacity1{
  left: 19.5%;
  top: 43.5%;
}
.small .gmp-block .capacity1{
  left: 19.5%;
  top: 51%;
}
.big .gmp-block .capacity1{
  top: 49.5%;
}
.biggest .gmp-block .capacity1{
  top: 48%;
}
.small .gmp-block .capacity1 img{
  width: 227px;
}
.big .gmp-block .capacity1 img{
  width: 328px;
}
.biggest .gmp-block .capacity1 img{
  width: 400px;
}
.gmp-block .capacity2{
  left: 21.5%;
}
.small .gmp-block .capacity2 img{
  width: 188px;
}
.big .gmp-block .capacity2 img{
  width: 280px;
}
.biggest .gmp-block .capacity2 img{
  width: 320px;
}
.gmp-block .capacity3{
  right: 21.2%;
  top: 31%;
  z-index: 9;
}
.big .gmp-block .capacity3{
  right: 21.5%;
}
.small .gmp-block .capacity3 img{
  width: 90px;
}
.big .gmp-block .capacity3 img{
  width: 125px;
}
.biggest .gmp-block .capacity3 img{
  width: 150px;
}
.gmp-block .capacity4{
  right: 8%;
  top: 41%;
}
.gmp-block .capacity4::before{
  top: -20px;
  right: 0;
  width: 200%;
  left: initial;
}
.gmp-block .capacity2:after{
  content: "";
  background: white;
  height: 5px;
  width: 470%;
  position: absolute;
  bottom: -20px;
  left: 30%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.small .gmp-block .capacity2 .text1,
.gmp-block .text1{
  font-size: 32px;
  margin-bottom: 30px;
  margin-left: -60px;
  top: initial;
}
.big .gmp-block .text1{
  font-size: 55px;
  margin-bottom: 45px;
  margin-left: -100px;
}
.biggest .gmp-block .text1{
  font-size: 55px;
  margin-left: -100px;
  margin-bottom: 50px;
}
.gmp-block .text2{
  font-size: 40px;
  margin-left: -50px;
}
.big .gmp-block .text2{
  font-size: 65px;
  margin-left: -85px;
}
.biggest .gmp-block .text2{
  font-size: 65px;
  margin-left: -80px;
}
.gmp-block .text-block{
  line-height: 23px;
  font-family: Myriad;
}
.big .gmp-block .text-block{
  line-height: 25px;
  font-size: 25px;
}
.biggest .gmp-block .text-block{
  line-height: 35px;
  font-size: 30px;
}
.big .gmp-block .text-block .text-item{
  margin-bottom: 10px;
}
.biggest .gmp-block .text-block .text-item:before{
  top: 10px;
}
/* / GMP */
/* LAB */
.lab-block .text1{
  margin-bottom: 30px;
  margin-left: -130px;
  font-size: 36px;
}
.lab-block .text2{
  margin-left: -30px;
}
.small .lab-block .text1{
  font-size: 32px;
  margin-bottom: 30px;
  margin-left: -110px
}
.small .lab-block .text2{
  margin-left: -30px;
  font-size: 44px;
}
.big .lab-block .text1{
  font-size: 42px;
  margin-bottom: 50px;
  margin-left: -130px;
}
.big .lab-block .text2{
  font-size: 54px;
}
.biggest .lab-block .text1{
  font-size: 50px;
}
.biggest .lab-block .text2{
  font-size: 65px;
}
.lab-block .manu1 .bigImg{
  width: 375px;
}
.small .lab-block .manu1,
.lab-block .manu1{
  top: 40.5%;
  left: 10.7%;
}
.lab-block .manu1:before{
  top: 120%;
}
.lab-block .manu3{
  top: 16%;
  left: 6.5%;
}
.small .lab-block .manu1 img{
  width: 315px;
}
.small .lab-block .manu3 img{
  width: 185px;
}
.biggest .lab-block .manu3 img{
  width: 340px;
}
/* / LAB */
.carousel-indicators{
  display: none;
}
#myCarousel,
#myCarousel .carousel-inner,
#myCarousel .carousel-inner .item,
#myCarousel .carousel-inner .item.active{
 height: 100%;
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img{
 margin: auto;
 height: 100%;
}
.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right{
 width: 30px;
 height: 30px;
 margin-top: -15px;
 font-size: 30px
}
.carousel-control .glyphicon-menu-left,
.carousel-control .icon-prev{
 margin-left: -15px;
}
.carousel-control .glyphicon-menu-right,
.carousel-control .icon-next{
 margin-right: -15px;
}
.carousel-control{
 color: white;
}
.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right,
.nav-bg{
 position: absolute;
 top: 50%;
 z-index: 5;
}
.nav-bg{
 width: 0px;
 height: 0px;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
 margin-left: -25px;
 margin-top: -25px;
}
.right .nav-bg{
  margin-left: 60px;
  border-top: 40px solid #636363;
  border-left: 40px solid transparent;
}
.left .nav-bg{
  margin-left: -100px;
  border-bottom: 40px solid #636363;
  border-right: 40px solid transparent;
}
.carousel-control.left,
.carousel-control.right,
.carousel-control:focus,
.carousel-control:hover{
 background: none;
 opacity: 1
}
.carousel-caption{
 color: black;
 left: initial;
 right: 1%;
 bottom: 3%;
 width: 23%;
 text-transform: uppercase;
 text-align: left;
 border: 10px solid black;
 padding: 0 15px;
}
.carousel-caption h1:before{
 content: "";
 position: absolute;
 width: 7.5%;
 height: 5px;
 background: black;
 margin-top: 10%;
}
.carousel-caption h1{
 font-weight: bold;
 margin-bottom: 25px;
}
.carousel-caption p{
 font-size: 16px;
}
.glyphicon-menu-left:before,
.glyphicon-menu-right:before{
  content: "";
}
