.workplaceContainer{
  height: calc(100% - 104px);
  background: url(../images/workplace-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.workplaceContainer .content{
  width: 1010px;
  height: 660px;
  position: absolute;
  top: calc(50% - 325px);
  left: calc(50% - 505px);
}
.workplaceContainer .row1{
  font-family: Myriad-Bold;
  font-size: 26px;
  color: white;
}
.workplaceContainer .row2{
  width: 610px;
  position: relative;
}
.workplaceContainer .row2 span,
.workplaceContainer .row3 span,
.workplaceContainer .row4 span{
  position: absolute;
  right: 75px;
  top: 50px;
  text-align: center;
  color: white;
  font-size: 26px;
}
.workplaceContainer .row3,
.workplaceContainer .row4{
  text-align: right;
  position: relative;
}
.workplaceContainer .row3 .floatImg{
  position: absolute;
  left: 0;
  z-index: 999;
}
.workplaceContainer .row3 .floatText{
  position: absolute;
  left: 15px;
  right: initial;
  top: 70px;
  z-index: 9999;
}
.workplaceContainer .row3 span{
  right: 50px;
  top: 50px;
}
.workplaceContainer .row4 span{
  right: 380px;
  top: 55px;
}
/*workplace 2*/
.workplaceContainer.child2{
  background: url(../images/workplace2-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.workplaceContainer.child2 .content{
  width: 1110px;
  left: calc(50% - 555px);
}
.workplaceContainer.child2 a:hover{
  text-decoration: none;
}
.workplaceContainer.child2 .row1 img{
  vertical-align: initial;
  margin: 0 15px 0 10px;
}
.workplaceContainer.child2 .row2{
  width: 100%
}
.workplaceContainer.child2 .row2 span{
  width: 423px;
  text-align: justify;
  right: 0;
  top: 0;
  font-size: 20px;
}
.workplaceContainer.child2 .row2 .mySlider{
  width: 398px;
  height: 210px;
}
.workplaceContainer.child2 .row2 .block{
  position: relative;
  overflow: hidden;
}
.workplaceContainer.child2 .row2 .block span,
.workplaceContainer.child2 .row3 .block span,
.workplaceContainer.child2 .row3 .block-float span,
.workplaceContainer.child2 .row4 .block span{
  left: 0;
  color: white;
  opacity: 1;
  text-align: center;
  width: 223px;
  text-transform: uppercase;
  top: 50px;
  font-size: 26px;
}

.workplaceContainer.child2 .block .buttons,
.workplaceContainer.child2 .block-float .buttons{
  width: 51px;
  height: 51px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.workplaceContainer.child2 .block .btnPlus,
.workplaceContainer.child2 .block-float .btnPlus,
.workplaceContainer.child2 .block .btnMinus,
.workplaceContainer.child2 .block-float .btnMinus{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 51px;
  width: 51px;
  transition: bottom 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out;
  -webkit-transition: bottom 0.3s ease-in-out;
}
.workplaceContainer.child2 .block .btnMinus,
.workplaceContainer.child2 .block-float .btnMinus{
  bottom: -51px;
}

.workplaceContainer.child2 .row2 .block2{
  position: absolute;
  bottom: 0;
  right: 40px;
}

.workplaceContainer.child2 .row3{
  height: 200px;
  padding-top: 33px;
}
.workplaceContainer.child2 .row3 .block,
.workplaceContainer.child2 .row3 .mySlider{
  float: right;
}
.workplaceContainer.child2 .row3 .mySlider{
  width: 363px;
  height: 167px;
  text-align: left;
}
.workplaceContainer.child2 .row3 .block span{
  right: 0;
  left: initial;
  top: 70px;
}
.workplaceContainer.child2 .row3 .block-float{
  width: 195px;
  height: 184px;
  position: absolute;
  bottom: 0;
}
.workplaceContainer.child2 .row3 .block-float span{
  width: 100%;
  top: 10px;
  font-size: 22px;
}

.workplaceContainer.child2 .row4{
  height: 214px;
  padding-top: 34px;
}
.workplaceContainer.child2 .row4 .mySlider{
  width: 310px;
  height: 181px;
  float: right;
  margin-right: 97px;
  text-align: left;
}
.workplaceContainer.child2 .row4 .mySlider-float{
  float: initial;
  margin: initial;
  width: 419px;
  height: 214px;
  position: absolute;
  left: 0;
  bottom: 0
}
.workplaceContainer.child2 .row4 .mySlider .controls{
  right: initial;
}
.workplaceContainer.child2 .row4 .block .buttons{
  right: 407px;
  bottom: -1px;
}
.workplaceContainer.child2 .row4 .block span{
  right: 407px;
  top: 80px;
  left: initial;
  width: 193px;
}
/* / workplace 2*/
/* workplace 3 */
.workplaceContainer.child3{
  background: url(../images/workplace3-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.workplaceContainer.child3 .content{
  width: 1110px;
  left: calc(50% - 555px);
}
.workplaceContainer.child3 a:hover{
  text-decoration: none;
}
.workplaceContainer.child3 .row1 img{
  vertical-align: initial;
  margin: 0 15px 0 10px;
}
.workplaceContainer.child3 .row2{
  width: 100%;
}
.workplaceContainer.child3 .row2 .lines{
  position: relative;
  margin-bottom: 10px;
}
.workplaceContainer.child3 .row2 .lines.line2,
.workplaceContainer.child3 .row2 .lines.line4{
  padding-left: 113px;
}
.workplaceContainer.child3 .row2 .lines .txt-number{
  color: white;
  font-size: 60px;
  top: 13px;
  left: 40px;
}
.workplaceContainer.child3 .row2 .lines.line2 .txt-number,
.workplaceContainer.child3 .row2 .lines.line4 .txt-number{
  left: 153px;
}
.workplaceContainer.child3 .row2 .lines .txt-str{
  top: 0;
  left: 113px;
  font-size: 24px;
  text-transform: uppercase;
}
.workplaceContainer.child3 .row2 .lines.line2 .txt-str,
.workplaceContainer.child3 .row2 .lines.line4 .txt-str{
  left: 226px;
}
.workplaceContainer.child3 .row2 .lines .txt-number,
.workplaceContainer.child3 .row2 .lines .txt-str{
  font-family: Myriad-Bold;
  position: absolute;
}
.workplaceContainer.child3 .row2 .lines.line1 .txt-str{
  color: #00d4dc;
  padding: 15px 40px;
}
.workplaceContainer.child3 .row2 .lines.line2 .txt-str,
.workplaceContainer.child3 .row2 .lines.line3 .txt-str,
.workplaceContainer.child3 .row2 .lines.line4 .txt-str,
.workplaceContainer.child3 .row2 .lines.line5 .txt-str{
  padding: 35px 0px;
  width: 322px;
  text-align: center;
}
.workplaceContainer.child3 .row2 .lines.line2 .txt-str{
  color: #0f6cb6;
}
.workplaceContainer.child3 .row2 .lines.line3 .txt-str{
  color: #b9b299;
}
.workplaceContainer.child3 .row2 .lines.line4 .txt-str{
  color: #ed3743;
}
.workplaceContainer.child3 .row2 .lines.line5 .txt-str{
  color: #f8981d;
}
.workplaceContainer.child3 .row2 .col1{
  width: 612px;
  height: 545px;
  float: left;
  padding-left: 22px;
}
.workplaceContainer.child3 .row2 .col2{
  width: 495px;
  height: 545px;
  float: left;
}
.workplaceContainer.child3 .row2 .col1 .buttons{
  position: absolute;
  bottom: 0;
  left: 440px;
  width: 51px;
  height: 51px;
  overflow: hidden;
}
.workplaceContainer.child3 .row2 .col1 .buttons img{
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  position: absolute;
}
.workplaceContainer.child3 .row2 .col1 .buttons .btnPlus img{
  bottom: 0;
}
.workplaceContainer.child3 .row2 .col1 .buttons .btnMinus img{
  bottom: -100%;
}
.workplaceContainer.child3 .row2 .lines.line2 .buttons,
.workplaceContainer.child3 .row2 .lines.line4 .buttons{
  left: 548px;
}
.workplaceContainer.child3 .row2 .col2 .texts{
  display: none;
  color: white;
  text-transform: uppercase;
  float: right;
  margin-right: 30px;
  position: relative;
}
.workplaceContainer.child3 .row2 .col2 .texts span{
  width: 413px;
  position: absolute;
  top: 0;
  left: 30px;
  text-align: justify;
  font-size: 24px;
  padding: 25px 0;
  line-height: 25px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text2{
  margin-top: 53px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text3 span{
  font-size: 22px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text3{
  margin-top: 178px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text4{
  margin-top: 288px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text5{
  margin-top: 340px;
}
/* / workplace 3 */
/* workplace 4 - Working in collaboration*/
.workplaceContainer.child4{
  background: url(../images/workplace4-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.workplaceContainer.child4 .content{
  width: 1110px;
  left: calc(50% - 555px);
}
.workplaceContainer.child4 a:hover{
  text-decoration: none;
}
.workplaceContainer.child4 .row1 img{
  vertical-align: initial;
  margin: 0 15px 0 10px;
}
.workplaceContainer.child4 .row2{
  width: 100%;
  margin-bottom: 30px;
}
.workplaceContainer.child4 .row2 .block1{
  width: 621px;
  height: 210px;
  position: relative;
  float: left;
  margin-right: 48px;
}
.workplaceContainer.child4 .row2 .block1 span{
  right: 60px;
  top: 70px
}
.workplaceContainer.child4 .row3{
  text-align: left;
}
.workplaceContainer.child4 .row3 .block1{
  float: left;
  margin-right: 25px;
}
.workplaceContainer.child4 .row3 .block2 span{
  font-size: 20px;
  width: 556px;
  top: 20px;
  right: 0px;
  text-align: justify;
  line-height: 23px;
  text-transform: uppercase;
}
/* / workplace 4 - Working in collaboration*/
/* OUR R&D TEAM IS PASSIONATE ABOUT THEIR WORK */
.workplaceContainer.child5{
  background: url(../images/workplace5-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.workplaceContainer.child5 .content{
  width: 1010px;
  left: calc(50% - 505px);
}
.workplaceContainer.child5 a:hover{
  text-decoration: none;
}
.workplaceContainer.child5 .row1 img{
  vertical-align: initial;
  margin: 0 15px 0 10px;
}
.workplaceContainer.child5 .row2{
  width: 100%
}
.workplaceContainer.child5 .row2 span{
  width: 423px;
  text-align: justify;
  right: 0;
  top: 0;
  font-size: 20px;
}
.workplaceContainer.child5 .row2 .mySlider{
  width: 398px;
  height: 210px;
}
.workplaceContainer.child5 .row2 .block{
  position: relative;
  overflow: hidden;
}
.workplaceContainer.child5 .row2 .block span{
  left: 0;
  color: white;
  opacity: 1;
  text-align: center;
  width: 223px;
  text-transform: uppercase;
  top: 15px;
  font-size: 26px;
}
.workplaceContainer.child5 .buttons{
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 51px;
  height: 51px;
  overflow: hidden;
}
.workplaceContainer.child5 .buttons img{
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  position: absolute;
}
.workplaceContainer.child5 .buttons .btnPlus img{
  bottom: 0;
}
.workplaceContainer.child5 .buttons .btnMinus img{
  bottom: -100%;
}
.workplaceContainer.child5 .row2 .block2{
  position: absolute;
  bottom: 0;
  right: 40px;
}
.workplaceContainer.child5 .row3{
  text-align: left;
  margin-top: 25px;
}
.workplaceContainer.child5 .row3 .block1{
  float: left;
}
.workplaceContainer.child5 .row3 .block1 span{
  text-transform: uppercase;
  font-size: 18px;
  text-align: justify;
  width: 568px;
  left: 30px;
  top: 25px;
}
.workplaceContainer.child5 .row3 .block2{
  float: right;
  margin-top: 30px;
}
/* / OUR R&D TEAM IS PASSIONATE ABOUT THEIR WORK */
/*mySlider*/
.workplaceContainer .mySlider{
  overflow: hidden;
  display: inline;
  float: left;
  position: relative;
}
.workplaceContainer .mySlider img.items{
  position: absolute;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  right: -100%;
}
.workplaceContainer .mySlider img.items.active{
  right: 0;
}
.workplaceContainer .controls{
  position: absolute;
  bottom: 0;
  height: 51px;
  width: 102px;
  right: 0;
}
.workplaceContainer .controls div{
  width: 51px;
  height: 51px;
  position: absolute;;
  overflow: hidden;
}
.workplaceContainer .controls div.btnNext{
  right: 0;
}
.workplaceContainer .controls div img{
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0
}
.workplaceContainer .controls div img.unhover{
  top: 100%;
}
/* / mySlider*/
@media screen and (min-width: 1000px) and (max-width: 1366px) {
  /*workplace 1*/
  .workplaceContainer.child2 .content,
  .workplaceHome .content {
    width: 850px;
    height: 555px;
    top: calc(50% - 270px);
    left: calc(50% - 425px);
  }
  .workplaceHome .row2 {
    width: 490px;
  }
  .workplaceHome .row2 img{
    height: 135px;
  }
  .workplaceHome .row3 img{
    height: 200px;
  }
  .workplaceHome .row3 .floatImg{
    height: 379px;
  }
  .workplaceHome .row4 img{
    height: 179px;
  }
  .workplaceHome .row2 span{
    right: 53px;
    top: 32px;
  }
  .workplaceHome .row3 span {
    right: 30px;
    top: 30px;
  }
  .workplaceHome .row3 .floatText {
    top: 55px;
    font-size: 21px;
  }
  .workplaceHome .row4 span {
    right: 315px;
    top: 40px;
    font-size: 24px;
  }
  /*workplace 2*/
  .workplaceContainer.child2 .row2 .mySlider,
  .workplaceContainer.child2 .row2 .mySlider img.items{
    height: 164px !important;
    width: 310px !important;
  }
  .workplaceContainer.child2 .row2 .block{
    height: 164px;
  }
  .workplaceContainer.child2 .row2 .block2{
    height: 185px;
    right: 20px;
  }
  .workplaceContainer.child2 .row2 span {
    font-size: 16px;
    width: 327px;
  }
  .workplaceContainer.child2 .row3 {
    height: 170px;
  }
  .workplaceContainer.child2 .row3 img.block,
  .workplaceContainer.child2 .row3 .block-float {
    width: 163px;
    height: 154px;
  }
  .workplaceContainer.child2 .row3 .block-float span {
    top: 0px;
    font-size: 22px;
  }
  .workplaceContainer.child2 .row3 .block img.block{
    height: 137px;
  }
  .workplaceContainer.child2 .row3 .mySlider,
  .workplaceContainer.child2 .row3 .mySlider img.items{
    height: 137px !important;
    width: 298px !important;
  }
  .workplaceContainer.child2 .row4 {
    height: 184px;
    padding-top: 34px;
  }
  .workplaceContainer.child2 .row4 .mySlider-float,
  .workplaceContainer.child2 .row4 .mySlider-float img.items{
    height: 184px !important;
    width: 360px !important;
  }
  .workplaceContainer.child2 .row4 .mySlider.alone,
  .workplaceContainer.child2 .row4 .mySlider.alone img.items{
    height: 151px !important;
    width: 259px !important;
  }
  .workplaceContainer.child2 .row4 .mySlider{
    margin-right: 38px;
  }
  .workplaceContainer.child2 .row4 .block img.block{
    height: 151px;
  }
  .workplaceContainer.child2 .row2 .block span,
  .workplaceContainer.child2 .row3 .block span,
  .workplaceContainer.child2 .row3 .block-float span,
  .workplaceContainer.child2 .row4 .block span{
    font-size: 24px;
    width: 174px;
  }
  .workplaceContainer.child2 .row2 .block span{
    top: 15px;
  }
  .workplaceContainer.child2 .row3 .block-float span{
    width: 163px;
    height: 154px;
    font-size: 18px;
  }
  .workplaceContainer.child2 .row3 .block span{
    top: 51px;
    width: 163px !important;
  }
  .workplaceContainer.child2 .row4 .block span {
    right: 297px;
    top: 66px;
    width: 161px !important;
  }
  /*workplace 3*/
  .workplaceContainer.child3 .content{
    height: 555px;
    width: 1000px;
    top: calc(50% - 270px);
    left: calc(50% - 500px);
  }
  .workplaceContainer.child3 .row2 .col2{
    width: 388px;
  }
  .workplaceContainer.child3 .row2 .lines{
    margin-bottom: 5px;
  }
  .workplaceContainer.child3 .row2 .col2 .texts img{
    height: 125px;
  }
  .workplaceContainer.child3 .row2 .col2 .texts span {
    width: 337px;
    font-size: 17px;
    line-height: 20px;
    left: 15px;
  }
  .workplaceContainer.child3 .row2 .col2 .texts.text4,
  .workplaceContainer.child3 .row2 .col2 .texts.text3{
    margin-right: 10px;
  }
  .workplaceContainer.child3 .row2 .col2 .texts.text4 span,
  .workplaceContainer.child3 .row2 .col2 .texts.text3 span {
    left: 30px;
  }
  .workplaceContainer.child3 .row2 .col2 .texts.text3 span {
    font-size: 18px;
  }
  .workplaceContainer.child3 .row2 .col2 .texts.text5 img{
    height: 160px;
  }
  .workplaceContainer.child3 .row2 .col2 .texts.text5{
    margin-top: 365px;
  }
}
