.workplaceContainer{
  height: calc(100% - 104px);
  background: url(../images/workplace-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.workplaceContainer .content{
  width: 1010px;
  height: 660px;
  position: absolute;
  top: calc(50% - 330px);
  left: calc(50% - 505px);
}
.workplaceContainer .row1{
  font-family: Myriad-Bold;
  font-size: 26px;
  color: white;
}
.workplaceContainer .row2{
  width: 610px;
  position: relative;
}
.workplaceContainer .row2 span,
.workplaceContainer .row3 span,
.workplaceContainer .row4 span{
  position: absolute;
  right: 75px;
  top: 50px;
  text-align: center;
  color: white;
  font-size: 26px;
  text-transform: uppercase;
}
.workplaceContainer .row3,
.workplaceContainer .row4{
  text-align: right;
  position: relative;
}
.workplaceContainer .row3 .floatImg{
  position: absolute;
  left: 0;
}
.workplaceContainer .row3 .floatText{
  position: absolute;
  left: 15px;
  right: initial;
  top: 70px;
}
.workplaceContainer .row3 span{
  right: 50px;
  top: 50px;
}
.workplaceContainer .row4 span{
  right: 380px;
  top: 55px;
}
/*workplace 2*/
.workplaceContainer.child2{
  background: url(../images/workplace2-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.workplaceContainer.child2 .content{
  width: 1110px;
  left: calc(50% - 555px);
}
.workplaceContainer.child2 a:hover{
  text-decoration: none;
}
.workplaceContainer.child2 .row1 img{
  vertical-align: initial;
  margin: 0 15px 0 10px;
}
.workplaceContainer.child2 .row2{
  width: 100%
}
.workplaceContainer.child2 .row2 span{
  width: 423px;
  text-align: justify;
  right: 0;
  top: 0;
  font-size: 20px;
}
.workplaceContainer.child2 .row2 .mySlider{
  width: 398px;
  height: 210px;
}
.workplaceContainer.child2 .row2 .block{
  position: relative;
  overflow: hidden;
}
.workplaceContainer.child2 .row2 .block span,
.workplaceContainer.child2 .row3 .block span,
.workplaceContainer.child2 .row3 .block-float span,
.workplaceContainer.child2 .row4 .block span{
  left: 0;
  color: white;
  opacity: 1;
  text-align: center;
  width: 223px;
  text-transform: uppercase;
  top: 50px;
  font-size: 26px;
}

.workplaceContainer.child2 .block .buttons,
.workplaceContainer.child2 .block-float .buttons{
  width: 51px;
  height: 51px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.workplaceContainer.child2 .block .btnPlus,
.workplaceContainer.child2 .block-float .btnPlus,
.workplaceContainer.child2 .block .btnMinus,
.workplaceContainer.child2 .block-float .btnMinus{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 51px;
  width: 51px;
  transition: bottom 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out;
  -webkit-transition: bottom 0.3s ease-in-out;
}
.workplaceContainer.child2 .block .btnMinus,
.workplaceContainer.child2 .block-float .btnMinus{
  bottom: -51px;
}
.workplaceContainer.child2 .row2 .block2{
  position: absolute;
  bottom: 0;
  right: 40px;
}

.workplaceContainer.child2 .row3{
  height: 200px;
  padding-top: 33px;
}
.workplaceContainer.child2 .row3 .block,
.workplaceContainer.child2 .row3 .mySlider{
  float: right;
}
.workplaceContainer.child2 .row3 .mySlider{
  width: 363px;
  height: 167px;
  text-align: left;
}
.workplaceContainer.child2 .row3 .block span{
  right: 0;
  left: initial;
  top: 70px;
}
.workplaceContainer.child2 .row3 .block-float{
  width: 195px;
  height: 184px;
  position: absolute;
  bottom: 0;
}
.workplaceContainer.child2 .row3 .block-float span{
  width: 100%;
  top: 10px;
  font-size: 22px;
}

.workplaceContainer.child2 .row4{
  height: 214px;
  padding-top: 34px;
}
.workplaceContainer.child2 .row4 .mySlider{
  width: 310px;
  height: 181px;
  float: right;
  margin-right: 97px;
  text-align: left;
}
.workplaceContainer.child2 .row4 .mySlider-float{
  float: initial;
  margin: initial;
  width: 419px;
  height: 214px;
  position: absolute;
  left: 0;
  bottom: 0
}
.workplaceContainer.child2 .row4 .mySlider .controls{
  right: initial;
}
.workplaceContainer.child2 .row4 .block .buttons{
  right: 407px;
  bottom: -1px;
}
.workplaceContainer.child2 .row4 .block span{
  right: 407px;
  top: 80px;
  left: initial;
  width: 193px;
}
/* / workplace 2*/
/* workplace 3 */
.workplaceContainer.child3{
  background: url(../images/workplace3-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.workplaceContainer.child3 .content{
  width: 1110px;
  left: calc(50% - 555px);
}
.workplaceContainer.child3 a:hover{
  text-decoration: none;
}
.workplaceContainer.child3 .row1 img{
  vertical-align: initial;
  margin: 0 15px 0 10px;
}
.workplaceContainer.child3 .row2{
  width: 100%;
}
.workplaceContainer.child3 .row2 .lines{
  position: relative;
  margin-bottom: 10px;
}
.workplaceContainer.child3 .row2 .lines.line2,
.workplaceContainer.child3 .row2 .lines.line4{
  padding-left: 113px;
}
.workplaceContainer.child3 .row2 .lines .txt-number{
  color: white;
  font-size: 60px;
  top: 13px;
  left: 40px;
}
.workplaceContainer.child3 .row2 .lines.line2 .txt-number,
.workplaceContainer.child3 .row2 .lines.line4 .txt-number{
  left: 153px;
}
.workplaceContainer.child3 .row2 .lines .txt-str{
  top: 0;
  left: 113px;
  font-size: 24px;
  text-transform: uppercase;
}
.workplaceContainer.child3 .row2 .lines.line2 .txt-str,
.workplaceContainer.child3 .row2 .lines.line4 .txt-str{
  left: 226px;
}
.workplaceContainer.child3 .row2 .lines .txt-number,
.workplaceContainer.child3 .row2 .lines .txt-str{
  font-family: Myriad-Bold;
  position: absolute;
}
.workplaceContainer.child3 .row2 .lines.line1 .txt-str{
  color: #00d4dc;
  padding: 15px 40px;
}
.workplaceContainer.child3 .row2 .lines.line2 .txt-str,
.workplaceContainer.child3 .row2 .lines.line3 .txt-str,
.workplaceContainer.child3 .row2 .lines.line4 .txt-str,
.workplaceContainer.child3 .row2 .lines.line5 .txt-str{
  padding: 35px 0px;
  width: 322px;
  text-align: center;
}
.workplaceContainer.child3 .row2 .lines.line2 .txt-str{
  color: #0f6cb6;
}
.workplaceContainer.child3 .row2 .lines.line3 .txt-str{
  color: #b9b299;
}
.workplaceContainer.child3 .row2 .lines.line4 .txt-str{
  color: #ed3743;
}
.workplaceContainer.child3 .row2 .lines.line5 .txt-str{
  color: #f8981d;
}
.workplaceContainer.child3 .row2 .col1{
  width: 612px;
  height: 545px;
  float: left;
  padding-left: 22px;
}
.workplaceContainer.child3 .row2 .col2{
  width: 495px;
  height: 545px;
  float: left;
}
.workplaceContainer.child3 .row2 .col1 .buttons{
  position: absolute;
  bottom: 0;
  left: 440px;
  width: 51px;
  height: 51px;
  overflow: hidden;
}
.workplaceContainer.child3 .row2 .col1 .buttons img{
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  position: absolute;
}
.workplaceContainer.child3 .row2 .col1 .buttons .btnPlus img{
  bottom: 0;
}
.workplaceContainer.child3 .row2 .col1 .buttons .btnMinus img{
  bottom: -100%;
}
.workplaceContainer.child3 .row2 .lines.line2 .buttons,
.workplaceContainer.child3 .row2 .lines.line4 .buttons{
  left: 548px;
}
.workplaceContainer.child3 .row2 .col2 .texts{
  display: none;
  color: white;
  text-transform: uppercase;
  float: right;
  margin-right: 30px;
  position: relative;
}
.workplaceContainer.child3 .row2 .col2 .texts span{
  width: 413px;
  position: absolute;
  top: 0;
  left: 30px;
  text-align: justify;
  font-size: 24px;
  padding: 25px 0;
  line-height: 25px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text2{
  margin-top: 53px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text3 span{
  font-size: 22px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text3{
  margin-top: 178px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text4{
  margin-top: 288px;
}
.workplaceContainer.child3 .row2 .col2 .texts.text5{
  margin-top: 340px;
}
/* / workplace 3 */
/* workplace 4 - Working in collaboration*/
.workplaceContainer.child4{
  background: url(../images/workplace4-bg.jpg) center center no-repeat transparent;
  background-size: 100% 100%;
}
.workplaceContainer.child4 .content{
  width: 1110px;
  left: calc(50% - 555px);
}
.workplaceContainer.child4 a:hover{
  text-decoration: none;
}
.workplaceContainer.child4 .row1 img{
  vertical-align: initial;
  margin: 0 15px 0 10px;
}
.workplaceContainer.child4 .row2{
  width: 100%;
  margin-bottom: 30px;
}
.workplaceContainer.child4 .row2 .block1{
  width: 621px;
  height: 210px;
  position: relative;
  float: left;
  margin-right: 48px;
}
.workplaceContainer.child4 .row2 .block1 span{
  right: 60px;
  top: 70px
}
.workplaceContainer.child4 .row3{
  text-align: left;
}
.workplaceContainer.child4 .row3 .block1{
  float: left;
  margin-right: 25px;
}
.workplaceContainer.child4 .row3 .block2 span{
  font-size: 20px;
  width: 556px;
  top: 20px;
  right: 0px;
  text-align: justify;
  line-height: 23px
}
/* / workplace 4 - Working in collaboration*/
/*mySlider*/
.workplaceContainer .mySlider{
  overflow: hidden;
  display: inline;
  float: left;
  position: relative;
}
.workplaceContainer .mySlider img.items{
  position: absolute;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  right: -100%;
}
.workplaceContainer .mySlider img.items.active{
  right: 0;
}
.workplaceContainer .controls{
  position: absolute;
  bottom: 0;
  height: 51px;
  width: 102px;
  right: 0;
}
.workplaceContainer .controls div{
  width: 51px;
  height: 51px;
  position: absolute;;
  overflow: hidden;
}
.workplaceContainer .controls div.btnNext{
  right: 0;
}
.workplaceContainer .controls div img{
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0
}
.workplaceContainer .controls div img.unhover{
  top: 100%;
}
/* / mySlider*/
``
